﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div  data-ng-controller="apmcNegotiationDataCtrl">
                    <div class="white-box">
                        <div class="">
                            <h4 style="text-align:center;"><strong>APMC NEGOTIATION DATA</strong></h4>
                        </div>
                        <div class="row">
                            <h3>Input Price: {{apmcnegotiation.apmcInput.inputPrice}}</h3>
                            <div class="table-responsive">
                                <table class="table" style="max-height: 300px; overflow: auto">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th>APMC/Vendor</th>

                                            <th>PRICE (Incl.)</th>
                                            <th>VENDOR PRICE (Incl.)</th>
                                            <th>DIFF (Incl.)</th>

                                            <th>PRICE (Excl.)</th>
                                            <th>VENDOR PRICE (Excl.)</th>
                                            <th>DIFF(Excl.)</th>

                                            <th>SAVINGS</th>
                                            <th>ATTACHMENT</th>
                                            <th style="text-align:center;width:30%;text-align:center">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="apmcPrice in apmcnegotiation.apmcNegotiationList" style="font-weight: bold;">
                                            <td>
                                                <!--<a title="{{apmcPrice.apmcName}}/{{apmcPrice.vendor.firstName + ' ' + apmcPrice.vendor.lastName}}" role="button" ng-click="goToAPMCView(apmcPrice.apmcID)">{{apmcPrice.apmcName}}/{{apmcPrice.vendor.firstName + ' ' + apmcPrice.vendor.lastName}}</a>-->
                                                {{apmcPrice.apmcName}}/{{apmcPrice.vendor.firstName + ' ' + apmcPrice.vendor.lastName}}
                                            </td>

                                            <td style="text-align:center">
                                                {{apmcPrice.custPriceInclFinal}}
                                            </td>
                                            <td style="text-align:center">
                                                {{apmcPrice.vendorPriceInclFinal}}
                                            </td>
                                            <td style="text-align:center">
                                                {{apmcPrice.differenceIncl}}
                                            </td>

                                            <td style="text-align:center">
                                                {{apmcPrice.custPriceExclFinal}}
                                            </td>
                                            <td style="text-align:center">
                                                {{apmcPrice.vendorPriceExclFinal}}
                                            </td>
                                            <td style="text-align:center">
                                                {{apmcPrice.differenceExcl}}
                                            </td>
                                            <td style="text-align:center;color:forestgreen;">
                                                {{apmcPrice.savings}}
                                            </td>
                                            <td style="text-align:center;color:forestgreen;">
                                                <a ng-show="apmcPrice.attachmentID > 0" target="_blank" title="Download" href="FileDownload.aspx?attachid={{apmcPrice.attachmentID}}&sessionid={{sessionID}}"><i class="fa fa-download" aria-hidden="true"></i></a>
                                                <span ng-show="apmcPrice.attachmentID == 0">N/A</span>
                                            </td>
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-2">
                                                            <a role="button" title="History" class="tm-icon mdc-text-amber" ng-click="gotovendorpurchasehistory(quantityNegotiationID, apmcPrice.vendor.userID);"><i class="fa fa-history"></i></a>
                                                        </div>
                                                        <!--<span class="btn-file m-r-10">
                                                                <span class="fileinput-new" ><i class="fas fa-upload" style="color:#377ba0;" ></i></span>
                                                                <input type="file"  id="{{apmcPrice.apmcNegotiationID}}" itemid="{{apmcPrice.apmcNegotiationID}}" ng-file-select-items="onFileSelect($files)" />
                                                            </span>-->
                                                        <div class="col-md-2 btn-file m-t-2 fileuploadStyle" data-provides="fileinput">
                                                            <div class="fileupload  waves-effect waves-light">
                                                                <span class="btn-file m-r-0  btn-new-look">
                                                                    <i roll="button" title="Choose File" class="fa fa-upload " style="color:#377ba0"> </i>
                                                                    <input type="file" id="{{apmcPrice.apmcNegotiationID}}" itemid="{{apmcPrice.apmcNegotiationID}}" ng-file-select-items="onFileSelect($files)" style="margin-bottom:200px" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span ng-if="apmcPrice.fileStream != null"  roll="button" title="Save" ng-click="saveapmcnegotiation(apmcPrice)" class=""><i class="far fa-save" style="color:#377ba0;"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>



