﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ssologin.aspx.cs" Inherits="PRMServices.ssologin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            alert('<%=email %>');
            location.href = '<%=loginPage %>';
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
    