﻿<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="card">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Open/Close Request</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label>
                                <input type="radio" ng-model="radioData.name" name="pending" value='reverse'>
                                <strong> Pending </strong>
                            </label>
                            <label>
                                <input type="radio" ng-model="radioData.name" name="open" value='forward'>
                                <strong>  Closed </strong>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <input type="radio" ng-model="radio.name" name="capex" value='reverse'>
                                <strong> CAPEX </strong>
                            </label>
                            <label>
                                <input type="radio" ng-model="radio.name" name="noncapex" value='forward'>
                                <strong> NON-CAPEX </strong>
                            </label>
                        </div>
                    </div>
                </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Asset Type</th>
                                    <th>CIJ No</th>
                                    <th>Indent No</th>
                                    <th>Date</th>
                                    <th>Dept.Name</th>
                                    <th>Cost Range</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>





        <div class="card" ng-controller="cijListCtrl">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Open/Close Request</h4>

                    </div>
                 
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive z-depth-1 clear-both">
                        <table class="table table-hover" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th>Indent No</th>
                                    <th>Date</th>
                                    <th>Dept.Name</th>
                                    <th>Cost Range</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                    <td>a</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>






    </section>
</section>