<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="fwdReqTechSupportCtrl">
                    <div class="white-box">
                        <div class="row">
                            <div class="box-title">
                                <h4><strong>Requirement Tech Support</strong></h4>
                            </div>
                            <div class="form-group fg-float">
                                <div class="fg-line input-field">
                                    <strong class="text-warning">
                                        <small>Requirement Details will be Shared With PRM360 Support Team.</small>
                                        <br/>
                                        <small>The following Details will be Email To: support@prm360.com</small>
                                    </strong>
                                </div>
                            </div>

                            <div class="form-group fg-float">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': true == true}">
                                    <strong class="fg-label">Message</strong>
                                    <textarea ng-model="reqShare.message" id="message" name="messageName" rows="5" style="resize: vertical;" class="form-control fg-input"></textarea>
                                </div>
                                <div ng-show="messageValidation">
                                    <div class="help-block error logininput">Please enter Message</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-12">
                                <div class="col-md-6">

                                    <h4 class="text-center"><strong>Requirement Details</strong></h4>

                                    <dl class="dl-horizontal">
                                        <dt>Requirement ID: </dt>
                                        <dd>{{auctionItem.requirementID}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Title: </dt>
                                        <dd>{{auctionItem.title}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Quotation Freez Time: </dt>
                                        <dd>{{quotationFreezTime}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Expected Bidding: </dt>
                                        <dd>
                                            <input name="expectedBiddingName" id="expectedBidding" type="text" class="form-control" ng-model="reqShare.expectedBidding" required>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Min Reduction Amount: </dt>
                                        <dd>
                                            <input name="minReductionAmountName" id="minReductionAmount" type="number" class="form-control" ng-model="reqShare.minReductionAmount" required>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Vendor Rank Comparision: </dt>
                                        <dd>
                                            <input name="vendorRankComparisionName" id="vendorRankComparision" type="number" class="form-control" ng-model="reqShare.vendorRankComparision" required>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Negotiation Duration: </dt>
                                        <dd>
                                            <input name="negotiationDurationName" id="negotiationDuration" type="text" class="form-control" ng-model="reqShare.negotiationDuration" required>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Posted By: </dt>
                                        <dd>{{auctionItem.customerCompanyName}}</dd>
                                    </dl>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="text-center"><strong>Vendor Details</strong></h4>

                                    <div ng-repeat="vendor in auctionItem.auctionVendors">
                                        <dl class="dl-horizontal">
                                            <dt>Vendor Company: </dt>
                                            <dd>{{vendor.companyName}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Vendor Name: </dt>
                                            <dd>{{vendor.vendorName}}</dd>
                                        </dl>

                                        <dl class="dl-horizontal">
                                            <dt>Vendor Email: </dt>
                                            <dd>{{vendor.vendor.email}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Vendor Phone: </dt>
                                            <dd>{{vendor.vendor.phoneNum}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt></dt>
                                            <dd></dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt></dt>
                                            <dd></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group fg-float">
                                <div class="fg-line input-field">
                                    <strong>For any queries related to Requirement please reach out to {{auctionItem.postedUser.firstName}} {{auctionItem.postedUser.lastName}} / {{auctionItem.postedUser.email}} / {{auctionItem.postedUser.phoneNum}}</strong>
                                </div>
                            </div>

                            <div class="form-group fg-float text-center">
                                <div class="fg-line input-field">
                                    <button class="btn btn-info btn-sm waves-effect text-center" ng-click="reqTechSupport();">Share Requirement Details</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>