﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">



                <div class="white-box" data-ng-controller="fwdSavingsCtrl">
                    <div class="white-box">
                        <div class="box-title">
                            <div class="col-md-12 text-center">
                                <h3>Post Comparisions</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 m-b-20 padding0">
                                <div class="col-md-6 padding0">
                                    <h4>Vendor Level Price Comparision</h4>
                                </div>
                                <div class="col-md-6 padding0 text-right">
                                    <h4>Negotiation earnings: <b>{{negotiationSavings}}</b></h4>
                                </div>
                            </div>

                            <table ng-table="tctrl.tableSorting" class="table table-vmiddle quotes_table">
                                <thead>
                                    <tr>

                                        <th data-title="'Vendor city'" sortable="'City'">
                                            Company Name
                                        </th>
                                        <th data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                            Vendor Name
                                        </th>

                                        <th data-title="'Rank'" sortable="'Rank'">
                                            Rank
                                        </th>
                                        <th ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                            Quotation Price
                                        </th>
                                        <th ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                            Quotation Price
                                        </th>
                                        <th data-title="'View Quotations'">
                                            View Quotations
                                        </th>
                                        <th ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                            Taxes (in %)
                                        </th>
                                        <th data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'">
                                            Closed Price
                                        </th>
                                        <th data-title="'Bid History'" sortable="'Bid History'">
                                            Previous Bids
                                        </th>
                                        <th ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED'" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                            Rev.Quotation
                                        </th>
                                        <th ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' )&& (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Quotation Aproovel'" sortable="'Quotation Aproovel'">
                                            Quotation Approval
                                        </th>
                                        <th data-title="'Price Reduction'" sortable="'Price Reduction'">
                                            Price Increment %
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="auctionVendor in auctionItem.auctionVendors">

                                        <td data-title="'Vendor city'" sortable="'City'">
                                            <span><strong><a target="_blank" href="prm360.html#/viewprofile/{{auctionVendor.vendorID}}">{{auctionVendor.companyName}}</a></strong></span>
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                            {{ auctionVendor.vendorName }}
                                        </td>

                                        <td data-title="'Rank'" sortable="'Rank'">
                                            {{(auctionVendor.runningPrice==0)?'-':auctionVendor.rank}}
                                        </td>
                                        <td ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="(auctionVendor.initialPrice * auctionVendor.vendorCurrencyFactor) | numToCurrency:auctionItem.currency"></td>
                                        <td ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="(auctionVendor.initialPrice * auctionVendor.vendorCurrencyFactor) | numToCurrency:auctionItem.currency"></td>
                                        <td data-title="'View Quotations'">
                                            <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.quotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Quotation</a>
                                        </td>
                                        <td ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                            {{auctionVendor.taxes}}
                                        </td>
                                        <td data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'" ng-bind-html="(auctionVendor.totalRunningPrice * auctionVendor.vendorCurrencyFactor) | numToCurrency:auctionItem.currency"></td>
                                        <td data-title="'Bid History'" sortable="'Bid History'">
                                            <span><strong><a target="_blank" href="prm360.html#/fwd-bidhistory/{{auctionVendor.vendorID}}/{{auctionItem.requirementID}}/false">Previous Bids</a></strong></span>
                                        </td>

                                        <td ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' || auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                            <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.revquotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Rev Quotation</a>
                                        </td>

                                        <td ng-show="auctionItem.status != 'STARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                            Not Uploaded
                                        </td>

                                        <td data-title="'Price Reduction'" sortable="'Price Reduction'">
                                            <span ng-if="auctionVendor.reductionPercentage  > 0">
                                                {{auctionVendor.reductionPercentage | number: companyRoundingDecimalSetting}}
                                            </span>
                                            <span ng-if="auctionVendor.reductionPercentage  <= 0">
                                                NA
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />
                    <br />
                    <br />
                    <div class="white-box">

                    <div class="row">
                        <div class="col-md-12 m-b-20 padding0">
                            <div class="col-md-6 padding0">
                                <h4>Items Specific Price Comparision</h4>
                                <h4 ng-hide="true">L1 earnings: <b>{{savingsByLeastBidder}}</b></h4>
                                <h4 ng-hide="true">Item Wise earnings: <b>{{savingsByItemMinPrice}}</b></h4>
                            </div>
                            <div class="col-md-6 padding0 text-right">
                                <h4>Additional earnings: <b>{{(additionalSavings <= 0)?'NA':additionalSavings}}</b></h4>
                            </div>
                        </div>
                        <div>

                            <br />

                            <div class="z-depth-1 clear-both">
                                <table class="table table-hover">
                                    <thead style="background-color: lightgray;">
                                        <tr style="font-weight: bold">
                                            <td style="width:10%;"> More Details</td>
                                            <td style="width:20%; vertical-align:top">{{prmFieldMappingDetails.PRODUCT_NAME.FIELD_LABEL}}</td>
                                            <td style="width:10%; vertical-align:top">L1 Vendor Name</td>
                                            <td style="width:10%; vertical-align:top">L1 Net Unit Price</td>
                                            <td style="width:25%; vertical-align:top">L1 Total Price</td>
                                            <td style="width:10%; vertical-align:top">Max.Item Unit Price</td>
                                            <td style="width:25%; vertical-align:top">Max.Item Total Price</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="product in priceCompObj.priceCompareObject">
                                            <td>
                                                <a ng-if="product.expanded" ng-click="product.expanded = false"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></a>
                                                <a ng-if="!product.expanded" ng-click="product.expanded = true"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
                                            </td>
                                            <td ng-if="product.expanded" ng-click="product.expanded = false">
                                                <span>{{product.productName}} ( {{product.quantity}} {{product.units}} )</span>
                                            </td>
                                            <td ng-if="!product.expanded" ng-click="product.expanded = true">
                                                <span>{{product.productName}} ( {{product.quantity}} {{product.units}} )</span>
                                            </td>
                                            <td>
                                                <span>{{(auctionItem.auctionVendors && auctionItem.auctionVendors.length > 0) ? auctionItem.auctionVendors[0].vendorName : ''}} ( {{L1CompanyName}} )</span>
                                            </td>
                                            <td ng-if="product.expanded" ng-click="product.expanded = false">
                                                <b><h4>{{product.leastBidderUnitPrice}}</h4></b>
                                            </td>
                                            <td ng-if="!product.expanded" ng-click="product.expanded = true">
                                                <b><h4>{{product.leastBidderUnitPrice}}</h4></b>
                                            </td>

                                            <td ng-if="product.expanded" ng-click="product.expanded = false">
                                                <b><h4>{{product.leastBidderPrice}}</h4></b>
                                            </td>
                                            <td ng-if="!product.expanded" ng-click="product.expanded = true">
                                                <b><h4>{{product.leastBidderPrice}}</h4></b>
                                            </td>

                                            <td ng-if="product.expanded" ng-click="product.expanded = false">
                                                <b><h4>{{product.minUnitPrice}}</h4></b>
                                            </td>
                                            <td ng-if="!product.expanded" ng-click="product.expanded = true">
                                                <b><h4>{{product.minUnitPrice}}</h4></b>
                                            </td>

                                            <td ng-if="product.expanded" ng-click="product.expanded = false">
                                                <b><h4>{{product.minPrice}}</h4></b>
                                            </td>
                                            <td ng-if="!product.expanded" ng-click="product.expanded = true">
                                                <b><h4>{{product.minPrice}}</h4></b>
                                            </td>
                                        </tr>
                                        <tr ng-if="product.expanded" ng-repeat-end="">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <small><b>Company Name </b></small>&nbsp;:&nbsp;{{L1CompanyName}}
                                                <br />
                                                <small><b>Make </b></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{product.brandL1}}
                                                <br />
                                                <small><b>Duration </b></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{product.durationL1}}
                                                <br />
                                                <small><b>Payment </b></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{product.paymentL1}}
                                                <br />
                                                <small><b>Other Properties </b></small>: {{product.otherPropertiesL1}}
                                            </td>
                                            <td></td>
                                            <td colspan="3">
                                                <small><b>Company Name </b></small>&nbsp;:&nbsp;{{product.vendorName}}
                                                <br />
                                                <small><b>Make </b></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{product.brand}}
                                                <br />
                                                <small><b>Duration </b></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{product.duration}}
                                                <br />
                                                <small><b>Payment </b></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{product.payment}}
                                                <br />
                                                <small><b>Other Properties </b></small>: {{product.otherProperties}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:10%; vertical-align:top"><h3><b>Total</b></h3></td>
                                            <td style="width:20%; vertical-align:top"></td>
                                            <td style="width:10%; vertical-align:top"><h3></td>
                                            <td style="width:10%; vertical-align:top"><h3></td>
                                            <td style="width:25%; vertical-align:top"><h3><b>{{totalItemsL1Price | roundedDecimalDisplay : companyRoundingDecimalSetting}}</b></h3></td>
                                            <td style="width:10%; vertical-align:top"><h3></td>
                                            <td style="width:25%; vertical-align:top"><h3><b>{{totalItemsMinimunPrice | roundedDecimalDisplay : companyRoundingDecimalSetting}}</b></h3></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>



            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>