
<div class="row" ng-controller="pendingContractsCtrl">

    <!--<div class="col-md-6">
        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px;width: 50%;" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
    </div>
    <div class="col-md-6">
        <button class="btn btn-info" ng-click="createSchedule(delivery.deliveryScheduleCheck,wf)">New Schedule</button>
    </div>-->

    <div class="col-md-12 table-responsive">
        <div class="table table-responsive z-depth-2" ng-if="!isVendor">
            <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                <tr ng-repeat="wf in MyPendingContracts">
                    <td data-title="" sortable="'ID'">
                        <input type="radio" name="deliveryScheduleCheck" id="deliveryScheduleCheck" ng-model="delivery.deliveryScheduleCheck" />
                    </td>
                    <td data-title="'PRODUCT CODE'" sortable="'ID'">
                        {{ wf.ProductCode}}
                    </td>
                    <td data-title="'Start Time'" sortable="'ID'">
                        {{ wf.startTime}}
                    </td>
                    <td data-title="'End Time'" sortable="'ID'">
                        {{ wf.endTime}}
                    </td>
                    <td data-title="'Quantity'" sortable="'ID'">
                        {{ wf.quantity}}
                    </td>
                    <td data-title="'Availed Quantity'" sortable="'ID'">
                        {{ wf.availedQuantity}}
                    </td>
                    <td data-title="'Vendor Company Name'" sortable="'ID'">
                        {{ wf.companyName}}
                    </td>
                    <!--<td data-title="'Delivery Schedule'" sortable="'ID'">
                        <button class="btn btn-info" data-target="#newSchedulePopup" data-toggle="modal" ng-click="newSchedule()">New Schedule</button>
                    </td>-->
                </tr>
            </table>
            <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>-->
        </div>



        <!-- new schedule popup-->
        <div class="row" ng-if="showDelivery">
            <div class="white-boxCIJ col-md-6">
                <label class="fg-label">Quantity</label>
                <input valid-number allow-decimal="true" allow-negative="false"
                       ng-model="scheduleObj.QUANITTY" class="form-control fg-input" />
                <div class="fg-line fg-toggled">
                    <label class="fg-label">Delivery Date</label>
                    <div moment-picker="scheduleDeliveryDate" format="DD-MM-YYYY">
                        <input name="scheduleDeliveryDate" id="scheduleDeliveryDate" class="form-control" placeholder="" ng-model="scheduleDeliveryDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
                <label class="fg-label">Comments</label>
                <textarea cols="50" rows="4"
                          ng-model="scheduleObj.COMMENTS" class="form-control fg-input" />
                <button class='btn btn-info btn-sm btn-new-look' ng-click="savePOSchedule()">Save</button>

            </div>
        </div>
        <!-- ^new schedule popup-->



    </div>
</div>
