
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="pendingAsnCtrl">
                <div>

                    <h4>Pending ASN</h4>

                    <div class="white-box" ng-if="!ASNView">
                        <div class="pmb-block ng-scope">
                            <div class="pmbb-header">
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-control white-box">
                                            <h4 class="text-center" style="margin-top:-10px;">No.of ASN's ::  {{asnCount}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5><strong>Product Name </strong></h5>
                                        <select class="form-control" ng-model="filters.productName" ng-options="item for item in itemArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><strong>Category </strong></h5>
                                        <select class="form-control" ng-model="filters.categoryStatus" ng-options="item for item in catArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><strong>Department </strong></h5>
                                        <select class="form-control" ng-model="filters.departmentStatus" ng-options="item for item in deptArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><strong>Item Name/PO No.</strong></h5>
                                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model="filters.searchKeyword" type="text" placeholder="Search">
                                    </div>
                                    <div class="col-md-2">
                                        <h5><strong>Supplier Name </strong></h5>
                                        <select class="form-control" ng-model="filters.supplierName" ng-options="item for item in supplierArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><strong>Dispatch Code </strong></h5>
                                        <select class="form-control" ng-model="filters.dispatchCode" ng-options="item for item in dispatchArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h5><strong>Expected Delivery Date </strong></h5>
                                            <div class="col-md-20" moment-picker="filters.ASNdate" format="DD-MM-YYYY">
                                                <input class="form-control" placeholder="Select a date" ng-model="filters.ASNdate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"><button class="btn btn-info pull-right m-t-40 waves-effect waves-light" ng-click="setFilters();">Apply</button></div>

                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="table table-responsive z-depth-2" ng-if="!isVendor">
                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                    <tr ng-repeat="wf in MyPendingASNS.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td data-title="'Purchase Order ID'" sortable="'ID'">
                                            {{ wf.poOrderId}}
                                        </td>
                                        <td data-title="'ASN Code'" sortable="'ID'">
                                            {{ wf.dispatchCode}}
                                        </td>
                                        <td data-title="'Delivery Date'" sortable="'ID'">
                                            {{ wf.dispatchDate}}
                                        </td>
                                        <td data-title="'PO Created Date'" sortable="'ID'">
                                            {{ wf.poCreatedDate}}
                                        </td>
                                        <td data-title="'PO Delivery Date'" sortable="'ID'">
                                            {{ wf.poDeliveryDate}}
                                        </td>
                                        <td data-title="'Expected Delivery Date'" sortable="'ID'">
                                            {{ wf.expectedDeliveryDate}}
                                        </td>
                                        <td data-title="'Supplier Name'" sortable="'ID'">
                                            {{ wf.supplierName}}
                                        </td>
                                        <td data-title="'Phone No.'" sortable="'ID'">
                                            {{ wf.phoneNo}}
                                        </td>
                                        <td data-title="'View ASN'" class="text-center" style="cursor:pointer;" ng-click="goToDispatchTrackForm(wf.objectID, wf.poOrderId, wf.dispatchCode)">
                                            <a ng-if="wf.dispatchCode">View ASN</a>
                                        </td>
                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>

                            <div class="table table-responsive z-depth-2" ng-if="isVendor">
                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                    <tr ng-repeat="wf in deliverySchedules.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                                        <td data-title="'Purchase Order ID'" sortable="'ID'">
                                            {{ wf.PURCHASE_ORDER_ID}}
                                        </td>
                                        <td data-title="'Delivery Date'" sortable="'ID'">
                                            {{ wf.DELIVERY_DATE}}
                                        </td>
                                        <td data-title="'Quantity'" sortable="'ID'">
                                            {{ wf.QUANITTY}}
                                        </td>
                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>

                        </div>
                    </div>

                    <div class="row white-box"  ng-if="ASNView" >
                        <div class="col-md-12 table-responsive">
                            <table class="table tablesaw table-striped table-bordered table-hover">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>Purchase Order ID</th>
                                        <th>ASN Code</th>
                                        <th>Delivery Date</th>
                                        <th>PO Created Date</th>
                                        <th>PO Delivery Date</th>
                                        <th>Expected Delivery Date</th>
                                        <th>Supplier Name</th>
                                        <th>Phone No</th>
                                        <th>View ASN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="wf in asnList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" >
                                        <td>
                                            {{ wf.PO_NUMBER}}
                                        </td>
                                        <td>
                                            {{ wf.ASN_CODE}}
                                        </td>
                                        <td>
                                            {{ wf.DELIVERY_DATE}}
                                        </td>
                                        <td>
                                            {{ wf.DATE_CREATED}}
                                        </td>
                                        <td>
                                            {{ wf.poDeliveryDate}}
                                        </td>
                                        <td>
                                            {{ wf.expectedDeliveryDate}}
                                        </td>
                                        <td>
                                            {{ wf.supplierName}}
                                        </td>
                                        <td>
                                            {{ wf.phoneNo}}
                                        </td>
                                        <td ng-click="goToDispatchTrackForm( wf.PO_NUMBER, wf.ASN_CODE)">
                                            <a ng-if="wf.ASN_CODE">View ASN</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>