<style>
    multiselect .caret {
        margin-top: 7px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="pendingContractsCtrl">
                <h4>Contract List</h4>
                <div class="white-box p-t-10">
                    <div class="row m-b-10">
                        <div class="col-md-2">
                            <h5><strong>Contract Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.contractNo"
                                         options="item.name for item in filtersList.contractNoList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2 p-0">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2 p-0">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12  p-l-0" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1 m-t-30"><button style="margin-top:7px;" class="btn btn-sm btn-info pull-right  waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>
                        <div class="col-md-3 p-0">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>

                        <div class="dropdown btn-group fg-float col-md-1  m-t-30">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="color:white;">
                                <i class="fa fa-plus-square"></i> Excel
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li style="cursor:pointer;"><a class="" role="button" ng-click="exportItemsToExcel()" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export Contract Excel</a></li>

                                <li style="cursor:pointer;">
                                    <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                        <span>&nbsp;&nbsp;</span>
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Contract Excel</span>
                                            <span class="fileinput-exists"><i class="far fa-edit"></i>&nbsp;&nbsp;Edit Contract Excel</span>
                                            <input type="file" accept=".xlsx" id="excelclientupload" itemscope="" itemid="excelclientupload" ng-file-select-items="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>

                                </li>
                                <li style="cursor:pointer;">
                                    <a class="" role="button" ng-click="exportErrorDetails('CONTRACT_DETAILS')" aria-hidden="true">
                                        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Error Log
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1  m-t-30">
                            <button class="btn btn-info" ng-click="downloadToExcel();" value="Export to Excel">
                                <i class="fa fa-download" aria-hidden="true"></i> Extract
                            </button>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                            <small style="color:green"> Total Count:{{totalItems}}</small>
                            <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                <tr ng-repeat="wf in filteredContractList">
                                    <td data-title="'Contract Number'" sortable="'ID'">{{ wf.contractNumber}}</td>
                                    <td data-title="'Contract Start Time'" sortable="'ID'"> {{ wf.startTime}}</td>
                                    <td data-title="'Contract End Time'" sortable="'ID'">{{ wf.endTime}}</td>
                                    <td data-title="'Company Name'" sortable="'ID'">{{ wf.companyName}}</td>
                                    <td data-title="'Vendor Code'" sortable="'ID'">{{ wf.VENDOR_CODE}}</td>
                                    <td data-title="'Product Code'" sortable="'ID'">{{ wf.ProductCode}}</td>
                                    <td data-title="'Quantity'" sortable="'ID'">{{ wf.quantity}}</td>
                                    <td data-title="'Contract Value'" sortable="'ID'">{{ wf.contractValue}}</td>
                                    <td data-title="'Payment Terms'" sortable="'ID'">{{ wf.PAYMENT_TERMS}}</td>
                                    <td data-title="'Date Created'" sortable="'ID'">{{ wf.CREATED_DATE}}</td>

                                    <td data-title="'Actions'" sortable="'ID'" style="min-width:100px">
                                        <a class="fa fa-trash" role="button" style="margin-left:10px;" ng-click="EditDeleteRecord(wf)"></a>
                                    </td>
                                </tr>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>




                <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="width:950px;">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Row Number</th>
                                                    <th style="text-align:center">Error Message</th>
                                                    <th style="text-align:center">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in rowErrors">
                                                    <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                    <td ng-bind-html="item.REASON"></td>
                                                    <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadDetails('CONTRACT_DETAILS',1);">Continue</button>
                                        <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
