﻿<style>
    #tableStyle tr td {
        border: 1px solid black;
        border-bottom: none;
        border-right: none;
    }
    .m-t-35{
        margin-top:35px !important;
    }
</style>

<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listPendingPOCtrl">
                <div class="white-box">


                    <div class="col-md-2" style="margin-left: -35px;" ng-if="isCustomer">
                        <label class="pull-right">
                            <input type="radio" ng-model="reqLevel" value=1 name="prCheck"/>&nbsp;PO Level
                            <input type="radio" ng-model="reqLevel" value=0 name="prCheck" ng-click="routepoItem()"/>&nbsp;Item Level
                        </label>
                    </div>

                    <div class="row"></div>
                    <div class="row">

                        <div class="row">


                            <!--<div class="col-md-2">
                <h5><strong>Category</strong></h5>
                <multiselect class="input-xlarge" multiple="true"
                             ng-model="filters.categoryid"
                             options="item.name for item in filtersList.categoryidList"
                             change="setFilters(currentPage-1)"></multiselect>
            </div>


            <div class="col-md-2">
                <h5><strong>Product Name</strong></h5>
                <multiselect class="input-xlarge" multiple="true"
                             ng-model="filters.productid"
                             options="item.name for item in filtersList.productidList"
                             change="setFilters(currentPage-1)"></multiselect>
            </div>-->
                            <div class="col-md-2" ng-if="isCustomer">
                                <h5><strong>Vendor Name</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.supplier"
                                             options="item.name for item in filtersList.supplierList"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>

                            <div class="col-md-2">
                                <h5><strong>PO Status</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.poStatus"
                                             options="item.name for item in filtersList.poStatusList"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                            <div class="col-md-2" ng-if="isCustomer">
                                <h5><strong>PO Creator</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.subuser"
                                             options="item.name for item in filtersList.subUserList"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                            <!--<div class="col-md-2">
                <h5><strong>ACK Status</strong></h5>
                <multiselect class="input-xlarge" multiple="true"
                             ng-model="filters.ackStatus"
                             options="item.name for item in filtersList.vendorAckStatus"
                             change="setFilters(currentPage-1)"></multiselect>
            </div>-->
                            <!--<div class="col-md-2">
                <h5><strong>Delivery Status</strong></h5>
                <multiselect class="input-xlarge" multiple="true"
                             ng-model="filters.deliveryStatus"
                             options="item.name for item in filtersList.deliveryStatusList"
                             change="setFilters(currentPage-1)"></multiselect>
            </div>-->
                            <!--<div class="col-md-2" ng-if="isCustomer">
                <h5><strong>Plant</strong></h5>
                <multiselect class="input-xlarge" multiple="true"
                             ng-model="filters.plant"
                             options="item.name for item in filtersList.plantList"
                             change="setFilters(currentPage-1)"></multiselect>
            </div>-->
                            <!--<div class="col-md-2" ng-if="isCustomer">
                <h5><strong>Purchase Group</strong></h5>
                <multiselect class="input-xlarge" multiple="true"
                             ng-model="filters.purchaseGroup"
                             options="item.name for item in filtersList.purchaseGroupList"
                             change="setFilters(currentPage-1)"></multiselect>
            </div>-->

                            <div class="col-md-2">
                                <h5><strong>From date</strong></h5>
                                <div class="col-md-12  p-l-0" moment-picker="filters.pendingPOFromDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.pendingPOFromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h5><strong>To date</strong></h5>
                                <div class="col-md-12 p-l-0" moment-picker="filters.pendingPOToDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.pendingPOToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-sm btn-info pull-right m-t-35 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pull-left p-l-0" style="margin:15px">
                                <div class="col-md-2 p-l-0">
                                    <!--<h5><strong>Search</strong></h5>-->
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                           ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">No.of PO's ::  {{ pendingPOStats.totalPOs }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">

                                        <h5 class="text-center" style="margin-top:5px;">Awaiting Receipt ::  {{ pendingPOStats.totalAwaitingRecipt }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">PO's not Initiated ::  {{ pendingPOStats.totalPOsNotInitiated}}</h5>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div style="border:1px solid #ccc">
                                        <h5 class="text-center" style="margin-top:5px;">No.of Partial Deliverables ::  {{pendingPOStats.totalPartialDeliverbles}}</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="text-align: right;">
                                <!--<input type="radio" ng-disabled="true" ng-checked="true" name="poCheck" />With PO
                <input type="radio" ng-checked="false" name="poCheck" ng-click="clearFields();gotoInvoicesList()" />Without PO-->
                                <label ng-if="isCustomer"><input type="radio" ng-checked="false" name="poCheck" ng-click="routeToPaymentTracking()" />Payment Tracking</label>
                            </div>
                        </div>
                        <div class="row" ng-if="isCustomer">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table-striped table">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th></th>
                                            <!--<th>PO Type</th>-->
                                            <!--<th>Doc Type</th>-->
                                            <th>PO Number</th>
                                            <th style="min-width:100px;">PO Delivery Date</th>
                                            <th style="min-width:100px;">PO Date</th>
                                            <!--<th style="min-width:100px;">PO Delivery Date</th>-->
                                            <!--<th style="min-width:100px;">Expected Receipt Date</th>-->
                                            <th>Vendor Code</th>
                                            <th>Vendor Name</th>
                                            <!--<th>Currency</th>-->
                                            <th>Value</th>
                                            <th>PO creator</th>
                                            <!--<th>Ackn</th>-->
                                            <!--<th>ASN</th>-->
                                            <th>GRN</th>
                                            <!--<th>Invoice</th>-->
                                            <th>PO Status</th>
                                            <th style="min-width:100px;">Actions</th>


                                            <!--<th>PO PDF</th>-->
                                            <!--<th>Delivery Status</th>-->
                                            <!--<th style="min-width:100px;">PO closed Date</th>-->
                                            <!--<th>Purchase Group</th>-->
                                            <!--<th>Vendor Code</th>-->
                                            <!--<th>Net Price</th>-->
                                            <!--<th>attach</th>-->
                                            <!--<th>Send For Integration</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat-start="pendingPODetails in filteredPendingPOsList">

                                            <td>
                                                <a role="button" ng-hide="pendingPODetails.expanded" ng-click="pendingPODetails.expanded = true;getPendingPOItems(pendingPODetails)" " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!pendingPODetails.expanded" ng-click="pendingPODetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                            </td>
                                            <!--<td>{{pendingPODetails.PO_TYPE}}</td>-->
                                            <!--<td>{{pendingPODetails.DOC_TYPE}}</td>-->
                                            <td>{{pendingPODetails.PO_NUMBER}}</td>
                                            <td style="min-width:100px;">{{pendingPODetails.DELIVERY_DATE}}</td>
                                            <td style="min-width:100px;">{{pendingPODetails.PO_DATE}}</td>
                                            <!--<td style="min-width:100px;">{{pendingPODetails.DELIVERY_DATE}}</td>-->
                                            <!--<td style="min-width:100px;">{{pendingPODetails.VENDOR_EXPECTED_DELIVERY_DATE_LOCAL}}</td>-->
                                            <td>{{pendingPODetails.VENDOR_CODE}}</td>
                                            <td>{{pendingPODetails.VENDOR_COMPANY}}</td>
                                            <!--<td>{{pendingPODetails.CURRENCY}}</td>-->
                                            <td>{{pendingPODetails.TOTAL_VALUE}}</td>
                                            <td>{{ pendingPODetails.PO_CREATOR_NAME ? pendingPODetails.PO_CREATOR_NAME : '-' }}</td>
                                            <!--<td>{{pendingPODetails.VENDOR_ACK_STATUS}}</td>-->
                                            <!--<td>
                                <a ng-if="pendingPODetails.ASN_CODE" data-toggle="modal" data-target="#ASNList" title="Edit ASN's/Delivery" role="button" ng-click="goToDispatchTrackFormEdit(pendingPODetails.PO_NUMBER)"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            </td>-->
                                            <td>{{pendingPODetails.GRN_STATUS}}</td>
                                            <!--<td>{{pendingPODetails.INVOICE}}</td>-->
                                            <td>{{pendingPODetails.PO_QTY_STATUS}}</td>

                                            <td style="min-width:100px;">
                                                <a title="View PO" role="button" ng-click="viewPO(pendingPODetails.PO_NUMBER)"><i class="fa fa-info" style="margin-right:5px;" aria-hidden="true"></i></a>
                                                <a ng-show="pendingPODetails.PO_QTY_STATUS == 'PENDING'" title="Edit PO For Approval" role="button" ng-click="editPO(pendingPODetails.PO_NUMBER,1)"><i class="fa fa-edit" aria-hidden="true" style="margin-right:5px;"></i></a>
                                                <a ng-show="pendingPODetails.PO_QTY_STATUS != 'PENDING'" title="Edit PO" role="button" ng-click="editPO(pendingPODetails.PO_NUMBER,0)"><i class="fa fa-edit" aria-hidden="true" style="margin-right:5px;"></i></a>
                                                <!--<a title="Notify To Vendors" role="button"><i class="fa fa-bell" aria-hidden="true"></i></a>-->
                                                <a ng-show="pendingPODetails.PO_QTY_STATUS == 'PENDING'" title="Delete PO" role="button" ng-click="deletePO(pendingPODetails.PO_NUMBER,0)"><i class="fa fa-trash" aria-hidden="true" style="margin-right:5px;"></i></a>
                                                <a ng-show="pendingPODetails.PO_QTY_STATUS == 'APPROVED'" title="PO PDF" ng-click="getPendingPOItems(pendingPODetails,'PO_PDF');" role="button"><i style="color:tomato" class="fa fa-file-pdf" aria-hidden="true"></i></a>
                                            </td>

                                            <!--<td>{{pendingPODetails.DELIVERY_STATUS}}</td>-->
                                            <!--<td style="min-width:100px;">{{pendingPODetails.PO_CLOSED_DATE}}</td>-->
                                            <!--<td>Purchase Group</td>-->
                                            <!--<td>{{pendingPODetails.VENDOR_CODE}}</td>-->
                                            <!--<td>{{pendingPODetails.NET_PRICE}}</td>-->
                                            <!--<td>
                                <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                    <span><i class="fa fa-upload  m-r-5"></i></span>
                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{$index}}" itemid="{{$index}}" multiple ng-file-select-items="onFileSelect($files)">
                                </div>
                                <label ng-if="attch.fileID > 0" ng-repeat="attch in pendingPODetails.multipleAttachments">
                                    {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                    <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                </label>
                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in pendingPODetails.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>

                                <a title="Save" role="button" ng-click="savePOInvoice(pendingPODetails,$index)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            </td>-->
                                            <!--<td></td>-->
                                            <!--<td>
                                <a ng-show="pendingPODetails.PO_QTY_STATUS == 'APPROVED'" role="button" ng-click="sendForIntegration(pendingPODetails.PO_NUMBER)" title="Sent For Integration"><i class="fa fa-check"></i></a>
                            </td>-->
                                        </tr>
                                        <tr ng-repeat-end ng-if="pendingPODetails.expanded">
                                            <td colspan="16">
                                                <table class="table-striped table">
                                                    <thead>
                                                        <tr>
                                                            <th>PO Line Item</th>
                                                            <th>SKU ID</th>
                                                            <th>Case Id</th>
                                                            <th>Product Name</th>
                                                            <th>UOM</th>
                                                            <th>Ordered Qty</th>
                                                            <th>Received Qty</th>
                                                            <th>Rejected Qty</th>
                                                            <!--<th>Pending Qty</th>-->
                                                            <!--<th>Rej Qty Return/Remove</th>-->
                                                            <!--<th>Currency</th>-->
                                                            <th>Rate</th>
                                                            <th>Total Cost(EXC. TAX)</th>
                                                            <th>Total Cost(INC. TAX)</th>
                                                            <th>Net Price</th>
                                                            <th>Value</th>
                                                            <th>PO Delivery Date</th>
                                                            <!--<th style="min-width:110px;">Return Schedule date</th>
                                            <th style="min-width:110px;">Item Last Received Date</th>-->
                                                            <th>Category</th>
                                                            <!--<th>Ackn</th>-->
                                                            <!--<th>ASN</th>-->
                                                            <!--<th>GRN</th>
                                            <th>Invoice</th>-->
                                                            <th>PR Number</th>
                                                            <th>QCS Id</th>

                                                            <!--<th>Material Desc</th>-->
                                                            <!--<th style="min-width:110px;">Item Modified Date</th>-->
                                                            <!--<th style="min-width:100px;">PO Release Date</th>-->
                                                        </tr>

                                                    </thead>


                                                    <tr ng-repeat="item in pendingPODetails.pendingPOItems">
                                                        <td>{{item.PO_LINE_ITEM}}</td>
                                                        <td>{{item.PRODUCT_CODE}}</td>
                                                        <td>{{item.CASE_ID}}</td>
                                                        <td>{{item.PRODUCT_NAME}}</td>
                                                        <td>{{item.UOM}}</td>
                                                        <td>{{item.ORDER_QTY}}</td>
                                                        <td>{{item.RECEIVED_QTY}}</td>
                                                        <td>{{item.REJECTED_QTY}}</td>
                                                        <!--<td>{{item.REMAINING_QTY}}</td>-->
                                                        <!--<td>{{ITEM.REMOVE_QTY}}</td>-->
                                                        <!--<td>{{item.CURRENCY}}</td>-->
                                                        <td>{{item.UNIT_PRICE_NO_TAX}}</td>
                                                        <td>{{item.ITEM_TOTAL_PRICE_NO_TAX}}</td>
                                                        <td>{{item.ITEM_TOTAL_PRICE}}</td>
                                                        <td>{{item.UNIT_PRICE}}</td>
                                                        <td>{{item.TOTAL_VALUE}}</td>
                                                        <td>{{item.DELIVERY_DATE}}</td>
                                                        <!--<td style="min-width:110px;">{{item.RETURN_SCHEDULE_DATE}}</td>
                                        <td style="min-width:110px;">{{item.LAST_RECEIVED_DATE}}</td>-->
                                                        <td>{{item.CATEGORY_CODE}}</td>
                                                        <!--<td>{{item.VENDOR_ACK_STATUS}}</td>-->
                                                        <!--<td>{{item.ASN}}</td>-->
                                                        <!--<td>{{item.PO_INV[0].GRN_NUMBER}}</td>
                                        <td>{{item.GRNItem[0].GRN_NUMBER}}</td>-->
                                                        <td>
                                                            <a ng-if="item.PR_ID > 0" target="_blank" data-ui-sref="pr-actions({Id:item.PR_ID})">{{item.PR_NUMBER}}</a>
                                                        </td>
                                                        <td>
                                                            <a ng-if="item.QCS_ID > 0" target="_blank" data-ui-sref="cost-comparisions-qcs({reqID:item.REQ_ID,qcsID:item.QCS_ID})">{{item.QCS_ID}}</a>
                                                        </td>

                                                        <!--<td>{{item.PO_MATERIAL_DESC}}</td>-->
                                                        <!--<td style="min-width:110px;">{{item.PO_ITEM_CHANGE_DATE}}</td>-->
                                                        <!--<td style="min-width:100px;">PO Release Date</td>-->
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>pendingPOStats.totalPendingPOs)?(pendingPOStats.totalPendingPOs):(pageSizeTemp+9) }} of {{ pendingPOStats.totalPendingPOs }}</strong>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>


                        <script type="text/ng-template" id="acknowledge.html">
                            <div class="modal-header bg-primary">
                                <h3 class="modal-title text-white" id="modal-title">Acknowledgement</h3>
                            </div>

                            <div class="modal-body" id="modal-body">
                                <form novalidate name="AckForm">

                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label class="fg-label">PO Delivery Date</label>
                                            <div moment-picker="_modalCtrl.Model.poDeliveryDate" format="DD-MM-YYYY">
                                                <input ng-disabled="true" name="poDeliveryDate" id="poDeliveryDate" class="form-control" ng-model="_modalCtrl.Model.poDeliveryDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label class="fg-label">Expected Delivery Date</label>
                                            <div moment-picker="_modalCtrl.Model.DELIVERY_DATE" format="DD-MM-YYYY">
                                                <input name="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" ng-model="_modalCtrl.Model.DELIVERY_DATE" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label class="form-control-label">Comment</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <textarea cols="50" rows="4" ng-model="_modalCtrl.Model.COMMENTS" class="form-control fg-input" />
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <div class="col-xs-6">
                                            <label style="color:forestgreen">
                                                <strong>Thank You for Acknowledging the order.. The Confirmation would be sent to Customer</strong>
                                            </label>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn btn-primary" type="button" ng-click="_modalCtrl.SaveVendorAck(AckForm)">Save</button>
                                            <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </script>


                        <div class="row" ng-if="!isCustomer">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table-striped table">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th></th>
                                            <th>PO Number</th>
                                            <!--<th style="min-width:100px;">PO Delivery Date</th>-->
                                            <!--<th style="min-width:100px;">Expected Receipt Date</th>-->
                                            <th style="min-width:110px;">PO Closed Date</th>
                                            <!--<th>Invoice No.</th>-->
                                            <!--<th>Invoice Amount</th>-->
                                            <th>Actions</th>
                                            <th>Upload Invoice</th>
                                            <th>PO Status</th>
                                            <!--<th>PO PDF</th>-->
                                            <!--<th>Acknowledgement</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat-start="pendingPODetails in filteredPendingPOsList">

                                            <td>
                                                <a role="button" ng-hide="pendingPODetails.expanded" ng-click="pendingPODetails.expanded = true;getPendingPOItems(pendingPODetails)" " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!pendingPODetails.expanded" ng-click="pendingPODetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                            </td>
                                            <td ng-style="pendingPODetails.expanded && {'font-weight': 'bold'}">{{pendingPODetails.PO_NUMBER}}</td>
                                            <!--<td style="min-width:100px;">{{pendingPODetails.DELIVERY_DATE}}</td>-->
                                            <!--<td style="min-width:100px;">{{pendingPODetails.VENDOR_EXPECTED_DELIVERY_DATE_LOCAL}}</td>-->
                                            <td style="min-width:100px;" ng-style="pendingPODetails.expanded && {'font-weight': 'bold'}">{{pendingPODetails.PO_CLOSED_DATE}}</td>
                                            <!--<td>{{pendingPODetails.INVOICE_NO}}</td>-->
                                            <!--<td>{{pendingPODetails.INVOICE_AMOUNT}}</td>-->

                                            <td>
                                                <!--<a title="Return Quantity" role="button" ng-click="returnQuantity(pendingPODetails)" data-toggle="modal" data-target="#returnQuantityModal"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a title="Remove Quantity" role="button" ng-click="removeQuantity(pendingPODetails)" data-toggle="modal" data-target="#removeQuantityModal"><i class="fa fa-trash" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a title="Cancel Order" role="button" ng-click="cancelOrder(pendingPODetails)" data-toggle="modal" data-target="#cancelOrderModal"><i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;&nbsp;-->
                                                <a title="Create ASN/Delivery" role="button" ng-click="goToDispatchTrackForm(pendingPODetails.PO_NUMBER,0)"><i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;
                                                <a data-toggle="modal" data-target="#ASNList" title="Edit ASN's/Delivery" role="button" ng-click="goToDispatchTrackFormEdit(pendingPODetails.PO_NUMBER)"><i class="fa fa-edit" aria-hidden="true" style="margin-right:5px;"></i></a>
                                                <a title="Export to Pdf" ng-click="getPendingPOItems(pendingPODetails,'PO_PDF');" role="button"><i style="font-size:14px;color:tomato" class="fa fa-file-pdf" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <!--<a data-toggle="modal" data-target="#uploadInvoiceModal" ng-click="getPOInvoiceDetails(pendingPODetails,$index)" title="View Upload Invoice Details" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;-->
                                                <a title="View PO" role="button" ng-click="viewPO(pendingPODetails.PO_NUMBER)"><i class="fa fa-info" aria-hidden="true"></i></a>
                                                <a title="Create Invoice" role="button" ng-click="goToInvoice(pendingPODetails.PO_NUMBER)"><i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;


                                                <!--<div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                    <span><i class="fa fa-upload  m-r-5"></i></span>
                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{$index}}" itemid="{{$index}}" multiple ng-file-select-items="onFileSelect($files)">
                                </div>
                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in pendingPODetails.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index,pendingPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                <a title="Save Invoice" role="button" ng-click="savePOInvoice(pendingPODetails,$index)"><i class="fa fa-save" aria-hidden="true"></i></a>-->
                                            </td>
                                            <td ng-style="pendingPODetails.expanded && {'font-weight': 'bold'}">{{pendingPODetails.PO_QTY_STATUS}}</td>
                                            <!--<td ng-style="pendingPODetails.expanded && {'font-weight': 'bold'}">
                                <div ng-if="pendingPODetails.VENDOR_ACK_STATUS=='PARTIALLY ACKNOWLEDGED'||pendingPODetails.VENDOR_ACK_STATUS=='-'">
                                    <input ng-model="pendingPODetails.isAcknowledgeOverall" ng-click="pendingPODetails.expanded = true;getPendingPOItems(pendingPODetails)" type="checkbox"
                                           style="height:15px;width:15px;"
                                           ng-true-value="1" ng-false-value="0" />&nbsp;
                                    <a ng-if="pendingPODetails.isAcknowledgeOverall" title="ACKNOWLEDGE" ng-click="acknowledgeDetails(pendingPODetails,'ACKNOWLEDGE')" class="btn btn-linkedin add-new-btn">Accept</a>
                                    <a ng-if="pendingPODetails.isAcknowledgeOverall" title="REJECTED" ng-click="acknowledgeDetails(pendingPODetails,'REJECTED')" class="btn btn-linkedin add-new-btn">Reject</a>
                                    <a role="button" ng-click="pendingPODetails.isEdit1=true;pendingPODetails.expanded = true;getPendingPOItems(pendingPODetails)" title="Edit"><i class="fas fa-edit"></i></a>&nbsp;
                                    <a role="button" ng-click="pendingPODetails.isEdit1=false;pendingPODetails.expanded = false;getPendingPOItems(pendingPODetails)" title="cancel"><i class="fa fa-times"></i></a>

                                </div>
                                <span ng-if="pendingPODetails.VENDOR_ACK_STATUS=='FULLY ACKNOWLEDGED'||pendingPODetails.VENDOR_ACK_STATUS=='FULLY REJECTED'">{{pendingPODetails.VENDOR_ACK_STATUS}}</span>
                            </td>-->
                                            <!--<td>
                                <a title="Export to Pdf" ng-click="getPendingPOItems(pendingPODetails,'PO_PDF');" role="button"><i style="font-size:24px;color:tomato" class="fa fa-file-pdf" aria-hidden="true"></i></a>
                            </td>-->
                                        </tr>
                                        <tr ng-repeat-end ng-if="pendingPODetails.expanded">
                                            

                                            <td colspan="16">
                                                
                                                <table class="table-striped table">
                                                    <thead>
                                                        <tr>
                                                            <th>PO Number</th>
                                                            <th>Item Name</th>
                                                            <th>Material Code</th>
                                                            <th>PO Delivery Date</th>
                                                            <th>Category</th>
                                                            <th>Rate</th>
                                                            <th>Ordered Qty</th>
                                                            <!--<th>Acknowledge Qty</th>-->
                                                            <!--<th>Received Qty</th>-->
                                                            <!--<th>Rejected Qty</th>-->
                                                            <!--<th>Remaining Qty</th>-->
                                                            <!--<th style="min-width:110px;">Item Last Received Date</th>-->
                                                            <!--<th>Acknowledgement</th>-->
                                                            <!--<th>GRN Status</th>
                                            <th>GRN Item</th>
                                            <th>GRN No.</th>
                                            <th>View GRN</th>-->
                                                        </tr>
                                                    </thead>

                                                    <tr ng-repeat="item in pendingPODetails.pendingPOItems">
                                                        <td>{{item.PO_NUMBER}}</td>
                                                        <td>{{item.PRODUCT_NAME}}</td>
                                                        <td>{{item.PRODUCT_CODE}}</td>
                                                        <td>{{item.DELIVERY_DATE}}</td>
                                                        <td>{{item.CATEGORY_CODE}}</td>
                                                        <td>{{item.NET_PRICE}}</td>
                                                        <td>{{item.ORDER_QTY}}</td>
                                                        <!--<td ng-if="!item.isEditField">{{item.ACK_QTY}}</td>-->
                                                        <!--<td ng-if="item.isEditField"><input ng-disabled="item.VENDOR_ACK_STATUS" ng-model="item.ACK_QTY" id="ACK_QTY" valid-number allow-decimal="true" allow-negative="false"/>&nbsp;</td>-->
                                                        <!--<td>{{item.RECEIVED_QTY}}</td>-->
                                                        <!--<td>{{item.REJECTED_QTY}}</td>-->
                                                        <!--<td>{{item.REMAINING_QTY}}</td>-->
                                                        <!--<td style="min-width:110px;">{{item.LAST_RECEIVED_DATE}}</td>-->
                                                        <!--<td>
                                            <div ng-if="!item.VENDOR_ACK_STATUS">
                                                <div ng-if="!item.isEditField">
                                                    <input ng-model="item.isAcknowledge" type="checkbox"
                                                           style="height:15px;width:15px;"
                                                           ng-true-value="1" ng-false-value="0" />&nbsp;
                                                    <a ng-if="item.isAcknowledge" title="ACKNOWLEDGE" ng-click="acknowledgeDetails(item,'ACKNOWLEDGE',pendingPODetails)" class="btn btn-linkedin add-new-btn">Accept</a>
                                                    <a ng-if="item.isAcknowledge" title="REJECTED" ng-click="acknowledgeDetails(item,'REJECTED',pendingPODetails)" class="btn btn-linkedin add-new-btn">Reject</a>
                                                </div>
                                                <div ng-if="item.isEditField">
                                                    <i ng-click="acknowledgeDetails(item,'EDIT',pendingPODetails)" class="fa fa-check-circle" aria-hidden="true"></i>
                                                    <span ng-if="item.isError" class="text-danger">Please enter value less than or equal to Order Quantity and greater than 0</span>
                                                </div>
                                            </div>
                                            <span ng-if="item.VENDOR_ACK_STATUS">{{item.VENDOR_ACK_STATUS}}</span>

                                        </td>-->
                                                        <!--<td>GRN Status</td>
                                        <td>GRN Item</td>
                                        <td>GRN No.</td>
                                        <td>View GRN</td>-->
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>pendingPOStats.totalPendingPOs)?(pendingPOStats.totalPendingPOs):(pageSizeTemp+9) }} of {{ pendingPOStats.totalPendingPOs }}</strong>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>





                        <div class="modal fade" id="returnQuantityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><strong>Return Quantity Schedule</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <div class="col-md-6">
                                                    <label>PO Number</label>
                                                    <div>
                                                        <input placeholder="PO Number" type="text" class="form-control" ng-model="pendingPODetails.PURCHASE_ORDER_ID" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>PO Line Item</label>
                                                    <div>
                                                        <input placeholder="PO Line Item" type="text" class="form-control" ng-model="pendingPODetails.poLineItem" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 form-group">
                                                <div class="col-md-6">
                                                    <label>Returned Quantity</label>
                                                    <div>
                                                        <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Expected Delivery Date</label>
                                                    <div class="col-md-12" moment-picker="" format="YYYY-MM-DD">
                                                        <input class="form-control" placeholder="Select a date" ng-model-options="{ updateOn: 'blur' }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-info">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="removeQuantityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><strong>Remove Quantity Schedule</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <div class="col-md-6">
                                                    <label>PO Number</label>
                                                    <div>
                                                        <input placeholder="PO Number" type="text" class="form-control" ng-model="pendingPODetails.PURCHASE_ORDER_ID" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>PO Line Item</label>
                                                    <div>
                                                        <input placeholder="PO Line Item" type="text" class="form-control" ng-model="pendingPODetails.poLineItem" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 form-group">
                                                <div class="col-md-6">
                                                    <label>PO Quantity</label>
                                                    <div>
                                                        <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>GRN Quantity</label>
                                                    <div>
                                                        <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label>Comments</label>
                                                <div>
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-info">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><strong>Cancel Order</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <div class="col-md-6">
                                                    <label>PO Number</label>
                                                    <div>
                                                        <input placeholder="PO Number" type="text" class="form-control" ng-model="pendingPODetails.PURCHASE_ORDER_ID" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>PO Line Item</label>
                                                    <div>
                                                        <input placeholder="PO Line Item" type="text" class="form-control" ng-model="pendingPODetails.poLineItem" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 form-group">
                                                <div class="col-md-6">
                                                    <label>PO Quantity</label>
                                                    <div>
                                                        <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>GRN Quantity</label>
                                                    <div>
                                                        <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label>Comments</label>
                                                <div>
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-info">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="viewGRNModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><strong>GRN Details</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table tablesaw table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th style="text-align:center">PO Number</th>
                                                            <th style="text-align:center">PO Line Item</th>
                                                            <th style="text-align:center">Item Last Received Date</th>
                                                            <th style="text-align:center">Received Quantity</th>
                                                            <th style="text-align:center">Rejected Quantity</th>
                                                            <th style="text-align:center">Vendor Name</th>
                                                            <!--<th style="text-align:center">GRN Item</th>
                                            <th style="text-align:center">GRN No</th>
                                            <th style="text-align:center">View GRN</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <td style="text-align:center">PO Number</td>
                                                            <td style="text-align:center">PO Line Item</td>
                                                            <td style="text-align:center">Item Last Received Date</td>
                                                            <td style="text-align:center">Received Quantity</td>
                                                            <td style="text-align:center">Rejected Quantity</td>
                                                            <td style="text-align:center">Vendor Name</td>
                                                            <!--<td style="text-align:center">GRN Item</td>
                                            <td style="text-align:center">GRN No</td>
                                            <td style="text-align:center">View GRN</td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>





                    <!--<div class="modal fade" id="uploadInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><strong>Invoice Details</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table tablesaw table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="text-align:center">PO Number</th>
                                    <th style="text-align:center">Invoice number</th>
                                    <th>Upload-del Invoice</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="item in invoiceList">
                                    <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                    <td style="text-align:center">{{item.INVOICE_NUMBER}}</td>


                                    <td>
                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in item.multipleAttachments">
                                            {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileID}}</a>
                                        </label>&nbsp;&nbsp;
                                        <a title="Delete Invoice" role="button" ng-click="deletePOInvoice(item.PO_NUMBER,item.INVOICE_NUMBER,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                    <!--</div>-->
                    <!--</div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->


                        <div class="modal fade" id="uploadInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document" style="width:95%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><strong>Invoice Details</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" ng-click="cancelInvoice(selectedPODetails,selectedIndex)">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group fg-float col-md-6 top-half-buffer">
                                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_NUMBER)}">
                                                        <label class="fg-label"><strong>Invoice Number</strong></label>
                                                        <input type="text" ng-model="selectedPODetails.INVOICE_NUMBER" name="invoiceNo" id="invoiceNo" class="form-control fg-input" />
                                                        <span style="color:red" ng-show="!selectedPODetails.INVOICE_NUMBER">
                                                            Invoice Number is required.
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float col-md-6 top-half-buffer">
                                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_AMOUNT)}">
                                                        <label class="fg-label"><strong>Invoice Amount</strong></label>
                                                        <input type="text" ng-model="selectedPODetails.INVOICE_AMOUNT" name="invoiceAmount" id="invoiceAmount" class="form-control fg-input" />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group fg-float col-md-7">
                                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.COMMENTS)}">
                                                        <label class="fg-label"><strong>Comments</strong></label>
                                                        <textarea type="text" ng-model="selectedPODetails.COMMENTS" name="comments" id="comments" rows="2" style="resize: vertical;" class="form-control fg-input" />

                                                    </div>
                                                </div>
                                                <div class="form-group fg-float col-md-5">
                                                    <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                        <span><i class="fa fa-upload  m-r-5"></i></span>
                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{selectedIndex}}" itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <label ng-if="attch.fileID <= 0" ng-repeat="attch in selectedPODetails.multipleAttachments">{{selectedIndex + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex,selectedPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 m-b-10 text-center">
                                                <button class="btn btn-info btn-file btn-new-look" ng-click="savePOInvoice(selectedPODetails,selectedIndex)">Save Invoice</button>
                                                <button class="btn btn-link btn-file btn-new-look" ng-click="cancelInvoice(selectedPODetails,selectedIndex)" data-dismiss="modal">Cancel</button>
                                            </div>
                                            <div class="col-md-12" style="text-align:center" ng-show="attachmentError">
                                                <span class="text-danger">Please Upload the Invoice</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table tablesaw table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">PO Number</th>
                                                            <th style="text-align:center">Invoice number</th>
                                                            <th>Dowload Invoice</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr ng-repeat="item in invoiceList">
                                                            <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                                            <td style="text-align:center">{{item.INVOICE_NUMBER}}</td>
                                                            <td>
                                                                <label ng-if="attch.fileID > 0" ng-repeat="attch in item.attachmentsArray">
                                                                    <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <a title="Delete Invoice" role="button" ng-click="deletePOInvoice(item.PO_NUMBER,item.INVOICE_NUMBER,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--</div>-->
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal fade" id="ASNList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content" style="width:950px;">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><strong>ASN List</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table tablesaw table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">PO Number</th>
                                                            <th style="text-align:center">ASN Code</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr ng-repeat="item in asnList">
                                                            <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                                            <td style="text-align:center">
                                                                <a title="Edit ASN/Delivery" role="button" ng-click="goToDispatchTrackForm(item.PO_NUMBER,item.ASN_CODE)">
                                                                    {{item.ASN_CODE}}
                                                                </a>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row" id="pdfTable" ng-show="false">
                            <div class="col-md-12">
                                <table class="table" id="tableStyle" style="border:1px solid black;width: 100%;font-family:helvetica45light;">
                                    <tr style="text-align: center;">
                                        <td style="width:100%">
                                            <table class="table" id="tableStyle" style="border:1px solid black">
                                                <tr>
                                                    <td style="width: 50%"><img src="js/resources/images/Flipkart_pdf.png" style="width: 40%; height: 100px;"></td>
                                                    <td style="width: 50%;text-align:left; vertical-align: inherit; font-size: large;border-left: none;">PO PDF Format</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:100%;border-top:none;border-right:none">
                                            <table class="table" id="tableStyle" style="border:1px solid black">
                                                <tr style="background-color:orange;">
                                                    <td colspan="2" style="text-align:center">Business Unit Details</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Business Unit</td>
                                                    <td style="width: 75%">{{ENTITY_NAME}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Buyer Registration Details</td>
                                                    <td style="width:75%">{{pendingPOItems[0].GST_REGISTRATION}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Bill to Address</td>
                                                    <td style="width:75%">{{pendingPOItems[0].BILL_TO_LOCATION}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Ship To address</td>
                                                    <td style="width:75%">{{pendingPOItems[0].SHIP_TO_LOCATION}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Send Original Invoice to</td>
                                                    <td style="width:75%">
                                                        Attn: Sowmya. M
                                                        Jeeves Consumer Services Pvt Ltd
                                                        Buildings Alyssa, Begonia & Clover,
                                                        Embassy Tech Village, Outer Ring Road,
                                                        Devarabeesanahalli Village
                                                        Bengaluru-560103, Karnataka, INDIA
                                                        +91-7892376331
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:100%;border-top:none;border-left:none">
                                            <table class="table" id="tableStyle" style="border: 1px solid black">
                                                <tr style="background-color:greenyellow">
                                                    <td colspan="2" style="border: 1px solid black;text-align: center;">Vendor Details</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Supplier/ Vendor</td>
                                                    <td style="width:75%">{{pendingPOItems[0].VENDOR_COMPANY}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Vendor Code</td>
                                                    <td style="width:75%">{{pendingPOItems[0].VENDOR_CODE}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Supplier Registration Details</td>
                                                    <td style="width:75%">{{pendingPOItems[0].VENDOR_RFQ_GST_NUMBER}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Supplier Address </td>
                                                    <td style="width:75%;word-break: break-all;">{{pendingPOItems[0].ADDRESS}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table" id="tableStyle" style="width: 100%; border: 1px solid black; font-family: helvetica45light;">
                                    <tr>
                                        <td style="width:100%;border-top:none;border-right:none">
                                            <table class="table" id="tableStyle" style="border: 1px solid black">
                                                <tr style="background-color:deepskyblue;">
                                                    <td colspan="2" style="border: 1px solid black;text-align:center">PO details</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">PO No.</td>
                                                    <td style="width: 75%">{{pendingPOItems[0].PO_NUMBER}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">PO Creation Date</td>
                                                    <td style="width:75%">{{pendingPOItems[0].PO_DATE}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">PO update Date</td>
                                                    <td style="width:75%">{{pendingPOItems[0].PO_DATE}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Revisions</td>
                                                    <td style="width:75%">
                                                        <table class="table" id="tableStyle" style="border: 1px solid black">
                                                            <tr><td>Revision Number</td><td>Old Value</td><td>New Value</td></tr>
                                                            <tr><td style="word-break: break-word;">{{pendingPOItems[0].REVISION_NUMBER}}</td><td style="word-break: break-word;">{{pendingPOItems[0].OLD_NET_PRICE}}</td><td style="word-break: break-word;">{{pendingPOItems[0].NEW_NET_PRICE}}</td></tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">Total PO Value</td>
                                                    <td style="width:75%">{{pendingPOItems[0].NEW_NET_PRICE}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:25%">PR Requistioner name </td>
                                                    <td style="width:75%">{{pendingPOItems[0].PR_REQUISITIONER}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table" id="tableStyle" style="width: 100%; border: 1px solid black; font-family: helvetica45light;">
                                    <tr>
                                        <td colspan="15">
                                            <table class="table" id="tableStyle" border='0' style="width: 100%;border:1px solid black;">
                                                <tr>
                                                    <td style="word-break: break-word;">S.no.</td>
                                                    <td style="word-break: break-word;">Case ID</td>
                                                    <td>SKU</td>
                                                    <td style="word-break: break-word;">Product Name</td>
                                                    <td style="word-break: break-word;">Model Name</td>
                                                    <td style="word-break: break-word;">Brand Name</td>
                                                    <td style="word-break: break-word;">Brand Part Code</td>
                                                    <td style="word-break: break-word;">HSN Code</td>
                                                    <td style="word-break: break-word;">Unit Price</td>
                                                    <td>Qty</td>
                                                    <td>UOM</td>
                                                    <td style="word-break: break-word;">Total amount without tax</td>
                                                    <td>Tax</td>
                                                    <td style="word-break: break-word;">Total amount including tax</td>
                                                    <td style="word-break: break-word;">Expected Delivery Date</td>
                                                </tr>
                                                <tr ng-repeat="item in pendingPOItems">
                                                    <td style="word-break: break-all;">{{$index + 1}}</td>
                                                    <td style="word-break: break-all;">{{item.CASE_ID}}</td>
                                                    <td style="word-break: break-all;">{{item.SKU}}</td>
                                                    <td style="word-break: break-all;">{{item.PRODUCT_NAME}}</td>
                                                    <td style="word-break: break-all;">{{item.MODEL_NAME}}</td>
                                                    <td style="word-break: break-all;">{{item.BRAND}}</td>
                                                    <td style="word-break: break-all;">{{item.BRAND_PART_CODE}}</td>
                                                    <td style="word-break: break-all;">{{item.HSN_CODE}}</td>
                                                    <td style="word-break: break-all;">{{item.UNIT_PRICE_NO_TAX | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="word-break: break-all;">{{item.ORDER_QTY | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="word-break: break-all;">{{item.UOM}}</td>
                                                    <td style="word-break: break-all;">{{item.ITEM_TOTAL_PRICE_NO_TAX | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="width: 50px;word-break:break-all">{{(item.ITEM_TOTAL_PRICE - item.ITEM_TOTAL_PRICE_NO_TAX) | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="word-break: break-all;">{{item.ITEM_TOTAL_PRICE | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="word-break: break-all;">{{item.DELIVERY_DATE}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%;">Payment Terms</td>
                                        <td style="width:80%;word-break: break-all;">{{pendingPOItems[0].PAYMENT_TERMS}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%;">Confirm to POC</td>
                                        <td style="width:80%;word-break: break-all;">{{pendingPOItems[0].PO_CREATOR_NAME}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%;">Deliver to POC</td>
                                        <td style="width:80%;word-break: break-all;">{{pendingPOItems[0].PR_REQUISITIONER}}</td>
                                    </tr>
                                </table>
                                <table class="table" id="tableStyle" style="width: 100%; border: 1px solid black; font-family: helvetica45light;">
                                    <tr>
                                        <td style="width:100%">
                                            <h2>Invoice instructions/details to be captured on invoice</h2>
                                            <span>
                                                <strong>
                                                    I. Supplier Information: Name, Address and GSTIN of the supplier
                                                    <br />
                                                    II. Invoice Number with a valid Invoice Date: Invoice no. can be consecutive serial number not exceeding sixteen
                                                    characters, in one or multiple series, containing alphabets or numerals or special characters' hyphen or dash and slash
                                                    symbolised as "-" and "/" respectively, and any combination thereof, unique for a financial year;
                                                    <br />
                                                    III. GSTIN Information: Name, Address and GSTIN or UIN, if registered, of the Recipient;
                                                    <br />
                                                    IV.Buyer Information: Name and Address of the recipient and the address of delivery, along with the name of State
                                                    and its code, if such recipient is un-registered and where the value of taxable supply is fifty thousand rupees or more;
                                                    <br />
                                                    V. HSN / SAC Information: HSN code of goods or Accounting Code of services (SAC);
                                                    <br />
                                                    VI.Goods / Services related information:
                                                    <br />
                                                    o Description of goods or services;
                                                    <br />
                                                    o Quantity in case of goods and unit or Unique Quantity Code thereof;
                                                    <br />
                                                    o Total value of supply of goods or services or both;
                                                    <br />
                                                    o Taxable value of supply of goods or services or both considering discount or abatement, if any;
                                                    <br />
                                                    o Rate of tax (central tax, State tax, integrated tax, Union territory tax or cess);
                                                    <br />
                                                    o Amount of tax charged in respect of taxable goods or services (central tax, State tax, integrated tax, Union territory
                                                    tax or cess)
                                                    <br />
                                                    o Whether the tax is payable on reverse charge basis
                                                    <br />
                                                    <span style="color:brown">o Delivery Charges as applicable – Vendor to submit necessary bill supporting the actual expense</span>
                                                    <br />
                                                    VII. Supplier to invoice as per PO. Supplier to seek PO amendment before executing any changes to qty / scope of
                                                    delivery / service that leads to variance in the rate, qty, value of the work vis-a-vis PO.
                                                    <br />
                                                    VIII. Place of Supply: Place of supply along with the name of State, in case of a supply in the course of inter-State trade
                                                    or commerce;
                                                    <br />
                                                    o Address of delivery where the same is different from the place of supply;
                                                    <br />
                                                    IX. Signature: Digital Signature of the supplier or Manual Signature with Company Stamp. In case physically signed,
                                                    then invoice needs to be submitted in original.
                                                </strong>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table" id="tableStyle" style="width: 100%; border: 1px solid black; font-family: helvetica45light;">
                                    <tr>
                                        <td style="width:100%">
                                            <h2>Disclaimer post guidelines</h2>
                                            <span>
                                                <strong>
                                                    "This Purchase order is system generated and does not require a seal and signature.
                                                    This document has important legal consequences. The Information contained in this document is proprietary of F1 Info Solutions/ JCS-Jeeves
                                                    Consumer Services Pvt Ltd. It shall not be used, reproduced, or disclosed to others without the express and written consent of
                                                    F1 Info solutions/  JCS-Jeeves
                                                    Consumer Services Pvt Ltd."
                                                </strong>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table" id="tableStyle" style="width: 100%; border: 1px solid black; font-family: helvetica45light;">
                                    <tr>
                                        <td style="width:100%">
                                            <h2 style="text-align:center">SAFETY COMPLIANCE CLAUSES</h2>
                                            <span>
                                                <strong>
                                                    This clause shall be applicable to Suppliers/Contractors/Vendors who are supplying the goods and services
                                                    to Flipkart & its group companies.
                                                    <br />
                                                    The Supplier/Contractor/Vendor, henceforth called as Contractor shall:
                                                    <br />
                                                    1.1 Comply with Flipkart Group Environment, Health & Safety (EHS) Policy, Procedures, and applicable
                                                    laws & regulations.
                                                    <br />
                                                    1.2 Give the highest regard to Environment, Health & Safety Compliance to avoid injury/ill health to any
                                                    person or damage to property and focus on waste minimization & prevention of pollution.
                                                    <br />
                                                    1.3 Conduct risk assessment periodically and establish standards & controls to minimize the risk.
                                                    <br />
                                                    1.4 Monitor, evaluate and strive for continuous improvement of the EHS compliance performance.
                                                    <br />
                                                    1.5 Report all incidents related to Environment, Health & Safety to the Flipkart compliance team
                                                    immediately and abide to further actions during the scope of contract/work.
                                                    <br />
                                                    1.6 Flipkart reserves the right to suspend or terminate this contract / work order in case of any willful
                                                    violation observed during the work and penalties may be imposed as appropriate.
                                                    <br />
                                                    *Definitions:
                                                    a) Flipkart – refers to entire Flipkart group which include FK India, Instakart, Myntra Jabong, Jeeves & F1 Info solutions
                                                    <br />
                                                    b) EHS – Environment, Health & Safety
                                                </strong>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
