﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="paymenttrackingCtrl">
                <div class="white-box">
                    <!--<br />
                    <br />-->
                    <!--<div class="row">
                        <div class="col-md-6 text-right" style="text-align: right;">
                            <input type="radio" ng-checked="fasle" name="poCheck" ng-click="goToPendingPO()" />With PO
                            <input type="radio" ng-checked="false" name="poCheck" ng-click="gotoInvoicesList()" />Without PO
                            <input type="radio" ng-disabled="false" ng-checked="false" name="paymentTrack" />Payment Tracking
                        </div>
                    </div>-->
                    <div class="row">
                        <!--<div class="col-md-2">
                            <input ng-click="exportPOItemsToExcel('PAYMENT')" type="button" value="Export Payment Excel" class='btn btn-info' />
                        </div>
                        <div class="col-md-2">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10">
                                    <span class="fileinput-new">Upload Payment Excel</span>
                                    <span class="fileinput-exists">Edit Payment Excel</span>
                                    <input type="file" accept=".xlsx" id="paymentclientupload" itemscope="" itemid="paymentclientupload" ng-file-select-items="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" style="color:#000;position:unset;padding:5px 0px 0px 5px;" data-dismiss="fileinput">&times;</a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input ng-click="exportErrorDetails('PAYMENT')" type="button" value="Error Log" class='btn btn-info' />
                        </div>-->
                        <div class="col-md-4">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search With Invoice Number">
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table tablesaw table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align:center">Vendor Inv No.</th>
                                        <th style="text-align:center">Ref No.</th>
                                        <th style="text-align:center">Payment Date</th>
                                        <th style="text-align:center">Payment Amount</th>
                                        <th style="text-align:center">Payment Ref No.</th>
                                        <th style="text-align:center">Payment Status</th>
                                        <th style="text-align:center">ERP ID</th>
                                        <th style="text-align:center">Customer Invoice ID</th>
                                        <th style="text-align:center">Vendor Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="item in paymentList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td>
                                            <a role="button" ng-hide="item.expanded" ng-click="item.expanded = true;getTdsCMDN(item)"  title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!item.expanded" ng-click="item.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                        </td>
                                        <td style="text-align:center">{{item.invoiceNumber}}</td>
                                        <td style="text-align:center">{{item.transactionID}}</td>
                                        <td style="text-align:center">{{convertDate(item.paymentDate)}}</td>
                                        <td style="text-align:center">{{item.paymentAmount}}</td>
                                        <td style="text-align:center">{{item.paymentCode}}</td>
                                        <td style="text-align:center">{{item.paymentStatus}}</td>
                                        <td style="text-align:center">{{item.erpid}}</td>
                                        <td style="text-align:center">{{item.customerInvoiceID}}</td>
                                        <td style="text-align:center">{{item.vendorCode}}</td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="item.expanded">
                                        <td colspan="16">
                                            <table class="table-striped table">
                                                <thead>
                                                    <tr>
                                                        <th>CR NO</th>
                                                        <th>Invoice Amount</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="tds in item.tdsDetails">
                                                    <td>{{tds.cr_no}}</td>
                                                    <td>{{tds.invoice_amount}}</td>
                                                    
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                    <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="width:950px;">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table tablesaw table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Row Number</th>
                                                        <th style="text-align:center">Error Message</th>
                                                        <th style="text-align:center">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in rowErrors">
                                                        <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                        <td ng-bind-html="item.REASON"></td>
                                                        <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-5">
                                            <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadExcel('PAYMENT',1);">Continue</button>
                                            <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
