﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }

    li.ng-scope {
        cursor: pointer;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="poItem-ListCtrl">
                <div class="white-box">

                    <div class="col-md-2" style="margin-left: -35px;">
                        <label class="pull-right">
                            <input type="radio" ng-model="reqLevel" value=0 name="prCheck" ng-click="routerpolevel()" />&nbsp;PO Level
                            <input type="radio" ng-model="reqLevel" value=1 name="prCheck" />&nbsp;Item Level
                        </label>
                    </div>

                    <div class="row"></div>
                    <div class="row">

                        <div class="col-md-2">
                            <h5><strong>Req Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.reqNumber"
                                         options="item.name as item.name for item in filtersList.requirementList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>PO Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.poNumber"
                                         options="item.name as item.name for item in filtersList.poNumberList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>PR Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.prNumber"
                                         options="item.name as item.name for item in filtersList.prNumberList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>


                        <div class="col-md-2">
                            <h5><strong>Vendor Name </strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.supplier"
                                         options="item.name as item.name for item in filtersList.supplierList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>



                        <div class="col-md-2">
                            <h5><strong>Case ID</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.caseID"
                                         options="item.name as item.name for item in filtersList.caseIdList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>


                        <div class="col-md-2">
                            <h5><strong>Sku ID</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.skuID"
                                         options="item.name as item.name for item in filtersList.skuIdList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>PO Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.poStatus"
                                         options="item.name as item.name for item in filtersList.poStatusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>Brand</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.brand"
                                         options="item.name as item.name for item in filtersList.brandList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>


                        <div class="col-md-2">
                            <h5><strong>Category</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.category"
                                         options="item.id as item.name for item in filtersList.categoryList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>



                        <div class="col-md-2" ng-if="isCustomer">
                            <h5><strong>Created By</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.creatorName"
                                         options="item.name for item in filtersList.creatorList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>



                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-10 p-l-0" moment-picker="filterDate.poFromDate" format="YYYY-MM-DD">
                                <input  class="form-control" placeholder="Select a date" ng-model="filterDate.poFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-10 p-l-0" moment-picker="filterDate.poToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.poToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>


                        <div class="col-md-1"><button class="btn btn-sm btn-info pull-right waves-effect waves-light" ng-click="setFilters(currentPage-1,'VENDOR');" style="margin-top: 35px;">Apply</button></div>

                        <div class="col-md-1">
                            <button class="btn btn-sm btn-info pull-right waves-effect waves-light" ng-click="downloadToExcel();" style="margin-top: 35px; margin-right:-30px">Download Report</button>
                        </div>

                    </div>

                    <!--<div class="box-title row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-12">From date</label>
                <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                    <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-12">To date</label>
                <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                    <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                </div>
            </div>
        </div>

        <div class="col-md-1 top-buffer">
            <label class="col-md-12 m-b-10"></label>
            <button class="btn btn-info" ng-click="filterByDate();">Filter</button>
        </div>


        <div class="form-group fg-float col-md-3 m-b-30 pull-left top-buffer">
            <label class="col-md-12 m-b-10"></label>
            <button ng-click="downloadToExcel()" class="pull-left btn btn-info ng-scope" href="javascript:void(0);">
                Download Report
            </button>
        </div>
    </div>-->
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>

                    <small style="color:green"> Total Count:{{totalItems}}</small>
                    <div class="row">
                        <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                            <table id="testTable" class="table colliers_table" style="padding-right:0">
                                <thead>
                                    <tr>
                                        <th style="max-width:200px;" ng-repeat="columnName in tableColumns"><strong>{{columnName}}</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows">
                                        <td style="max-width:200px;min-width:79px;" ng-repeat="obj in value.tableValues track by $index">
                                            <span ng-if="obj.type != 'link' ">{{obj.displayValue}}</span>
                                            <span ng-if="obj.type == 'link'"><a style="cursor:pointer !important" ng-href="{{obj.displayValue}}">{{obj.displayId}}</a></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>

                </div>

                </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
