<div ng-class="isMobile ? '' : 'login-content login_background'">
    <div welcome-page></div>
    <div class="col-md-4">
        <!-- Forgot Password -->
        <div class="lc-block toggled" id="l-forget-password">
            <img class="logo text-center" src="img/logos/acadslogo_black.png">
            <form ng-submit="forgotForm.$valid && forgotpasswordfunction()" class="forgotForm" name="forgotForm" novalidate>
                <div class="col-xs-12 padding0 alreadyregisterd forgot-top-content">
                    <div class="col-xs-12 padding0">
                        Enter your email address or mobile number here and we will send you futher instructions on how to reset password.
                    </div>
                </div>

                <div class="input-group  m-b-20 forgotfielddiv">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="forgotpassword.email" name="email" type="text" class="form-control logininput" id="exampleInputEmail1" required
                            />
                            <label class="fg-label" for="email">Registered Email/Phone</label>
                        </div>
                        <div ng-show="forgotForm.$submitted || forgotForm.email.$touched">
                            <div class="help-block error logininput" ng-show="forgotForm.email.$error.required">Please enter registered Email/Phone</div>
                        </div>
                        <button type="submit" class="btn  btn-danger btn-new-look reset-pass-btn">Reset Password</button>
                    </div>
                </div>
            </form>
            <div class="col-xs-12 text-center registrationDiv">
                <div class="text-center">
                    <a href="" tooltip-placement="top" data-ng-click="vendorregistrationbtn()" uib-tooltip="Registration" class="registerations">Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>