<div class="col-md-8">
    <div>
        <h1 class="openingpage-content">Purchasing is now simplified with PRM360.</h1>
    </div>
    <div class="assurance1">
        Helping Buyers and Sellers Close the Deal In just 15 minutes.
    </div>
    <div class="col-md-8">
        <div class="assurance clearfix">
            <div class="col-md-2">
                <i class="zmdi zmdi-account-add zmdi-css"></i>
            </div>
            <div class="col-md-10">
                Effective grading system to build trust among the buyers and sellers.
            </div>
        </div>
        <div class="assurance clearfix">
            <div class="col-md-2">
                <i class="zmdi zmdi-accounts-outline zmdi-css"></i>
            </div>
            <div class="col-md-10">
                Customer Relation ship solidified on top of a Reliable Support System.
            </div>
        </div>
        <div class="assurance clearfix">
            <div class="col-md-2">
                <i class="zmdi zmdi-accounts-alt zmdi-css"></i>
            </div>
            <div class="col-md-10">
                Vendor Relation ship Management enhanced by continuous Interaction and Communication.
            </div>
        </div>
        <div class="assurance clearfix">
            <div class="col-md-2">
                <i class="zmdi zmdi-settings zmdi-css"></i>
            </div>
            <div class="col-md-10 ">
                Fast, Easy & Effective execution, through and through.
            </div>
        </div>
    </div>
</div>