<header id="header"  data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="descDispatchChallanCtrl">
            <div class="block-header">
                <h2>{{auctionItem.title}}</h2>
            </div>
            <form ng-submit="meterialDispatchmentForm.$valid && SaveDesDispatchTrack()" class="meterialDispatchmentForm" name="meterialDispatchmentForm" novalidate>

                <div class="card">
                    <div class="card-header">
                        <h2>Meterial Dispatchment Details</h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input type="text" ng-model="descDispatch.dispatchCode" id="dispatchCode" name="dispatchCodeName" class="form-control" required>
                                    <label class="fg-label">Dispatch Code</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.dispatchCodeName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.dispatchCodeName.$error.required">Please enter Dispatch Code</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input type="text" ng-model="descDispatch.dispatchMode" id="dispatchMode" name="dispatchModeName" class="form-control" required>
                                    <label class="fg-label">Dispatch Mode</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.dispatchModeName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.dispatchModeName.$error.required">Please enter Dispatch Mode</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input type="text" ng-model="descDispatch.dispatchType" id="dispatchType" name="dispatchTypeName" class="form-control" required>
                                    <label class="fg-label">Dispatch Type</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.dispatchTypeName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.dispatchTypeName.$error.required">Please enter Dispatch Mode</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input type="text" ng-model="descDispatch.dispatchDate" id="dispatchDate" name="dispatchDateName" class="form-control" required>
                                    <label class="fg-label">Dispatch Date</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.dispatchDateName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.dispatchDateName.$error.required">Please enter Dispatch Date</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input type="text" ng-model="descDispatch.deliveryTrackID" id="deliveryTrackID" name="deliveryTrackIDName" class="form-control" required>
                                    <label class="fg-label">Delivery Tracking ID</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.deliveryTrackIDName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.deliveryTrackIDName.$error.required">Please enter Delivery Tracking ID</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input type="text" ng-model="descDispatch.dispatchComments" id="dispatchComments" name="dispatchCommentsName" class="form-control" required>
                                    <label class="fg-label">Dispatch Comments</label>
                                </div>
                                <div ng-show="meterialDispatchmentForm.$submitted || meterialDispatchmentForm.dispatchCommentsName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialDispatchmentForm.dispatchCommentsName.$error.required">Please enter Dispatch Comments</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>
                            Upload Dispatch Challan :  <input type="checkbox" ng-model="checked">
                        </h2>
                        <div>
                            <div ng-show="checked">
                                <br>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Choose a file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" id="poFile" doctype="poFile" ng-file-select-docs="onFileSelect($files)" />
                                    </span>
                                    <span class="fileinput-filename">{{descDispatch.poFile.fileName}}</span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-info btn-file m-r-10">Dispatch Meterial</button>
                </div>
            </form>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>