﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="allModulesReportCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-2">
                            <h3 style="display:inline-block;">
                                <i class="zmdi zmdi-view-list"></i>  Reporting
                            </h3>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1"><button class="btn btn-sm btn-info pull-right waves-effect waves-light" ng-click="setPage(1);" style="margin-top:35px;">Apply</button></div>
                        <div class="col-md-3 pull-right">
                            <button class="btn btn-sm btn-info" ng-click="downloadToExcel();" value="Export to Excel"  style="margin-top:35px;">
                                <i class="fa fa-download" aria-hidden="true"></i> Download Excel
                            </button>
                        </div>
                    </div>
                    <div class="row"> </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                            <small style="color:green"> Total Count:{{totalItems}}</small>
                            <table class="table  table-striped table-bordered" style="padding-right:0">
                                <thead>
                                    <tr>
                                        <th style="max-width:200px;" ng-repeat="columnName in tableColumns track by $index"><strong>{{columnName}}</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows">
                                        <td style="max-width:200px;" ng-repeat="val in value.tableValues track by $index">{{val}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
