﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="sapReportsOpenPOCtrl">
                    <div class="white-box" ng-hide="permission != 'ADMIN'">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>File Upload</h2>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-2">
                                <div data-provides="fileinput">
                                    <div class="fileupload btn btn-info waves-effect waves-light">
                                        <span><i class="fa fa-plus  m-r-5"></i>Upload PR Excel</span>
                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachment" itemid="attachment" itemscope ng-file-select-items="onFileSelect($files)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">Sheet name should be <label class="text-info">Open PR</label></div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-2">
                                <div data-provides="fileinput">
                                    <div class="fileupload btn btn-info waves-effect waves-light">
                                        <span><i class="fa fa-plus  m-r-5"></i>Upload Open PO</span>
                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachment1" itemid="attachment1" itemscope ng-file-select-items="onFileSelect($files)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">Sheet name should be <label class="text-info">OPEN-PO</label></div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-2">
                                <div data-provides="fileinput">
                                    <div class="fileupload btn btn-info waves-effect waves-light">
                                        <span><i class="fa fa-plus  m-r-5"></i>Upload PRGRN</span>
                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachment2" itemid="attachment2" itemscope ng-file-select-items="onFileSelect($files)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">Sheet name should be <label class="text-info">PR-GRN</label></div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-12"><strong>Important Note:</strong></div>
                            <div class="col-md-12 text-danger">1. All the Excel sheets should be in .XLSX format.</div>
                            <div class="col-md-12 text-danger">2. The Sheets should be uploaded one after the other.</div>
                            <div class="col-md-12 text-danger">3. The data would be processed as soon as xlsx file is selected.</div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <div class="white-box" ng-hide="permission == 'ADMIN'">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="col-md-12 text-danger">You do not have permissions to upload files.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>