<!--<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">-->

                <div class="white-box" ng-controller="companyDesignationsCtrl">
                    <div class="box-title col-md-12">
                        <div class="form-group fg-float col-md-4 m-b-30">
                            <h3>Company Designations</h3>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable()" ng-model="searchKeyword" type="text" placeholder="Search">
                        </div>
                        <div class="form-group fg-float col-md-4 m-b-30">
                            <button ng-if="!addnewdesigView" ng-click="editDesignation(designation)" class="btn btn-info pull-right add-new-btn">Add New Designation</button>
                        </div>
                    </div>
                    <div class="row">

                        <div ng-if="addnewdesigView">
                            <div class="col-md-12">
                                <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (designation.desigCode)}">
                                        <label class="fg-label">Designation Name</label>
                                        <input type="text" ng-model="designation.desigCode" name="DesgCode" id="DesgCodeID" class="form-control fg-input" />

                                    </div>
                                </div>

                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (designation.desigDesc)}">
                                        <label class="fg-label">Designation Desc</label>
                                        <textarea type="text" ng-model="designation.desigDesc" name="DesgDesc" id="DesgDescID" rows="2" style="resize: vertical;" class="form-control fg-input" />

                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-3 m-b-30 ">
                                    <label>Designation Type</label>
                                    <select data-placeholder="Select Type" name="currency" ng-model="designation.selectedDesigType.typeID" ng-options="type.typeID as type.typeName for type in CompanyDeptDesigTypes" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyDesignations()">Save Desg</button>
                                <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditDesignation()">Cancel</button>
                            </div>
                        </div>

                        <br />
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="width:20%">Designation Name</th>
                                        <th style="width:40%">Designation Description</th>
                                        <th style="width:20%">Designation Type</th>
                                        <th style="width:20%; text-align:center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="companyDesignation in companyDesignations.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td>{{companyDesignation.desigCode}}</td>
                                        <td>{{companyDesignation.desigDesc}}</td>
                                        <td>{{companyDesignation.selectedDesigType.typeName}}</td>
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">

                                            <!--<a title="View Store Details" role="button" target="_blank" href="prm360.html#/storeitems/{{store.storeID}}/0" class="tm-icon zmdi-hc-2x zmdi zmdi-view-list-alt" style="width:30px; height:30px"></a>-->
                                            <!--<a title="Edit Department Users" role="button" ng-click="GetDepartmentUsers(companyDesignation)" class="tm-icon zmdi-hc-2x zmdi zmdi-view-list-alt" style="width:30px; height:30px"></a>-->
                                            <a title="Edit Designation" role="button" ng-click="editDesignation(companyDesignation)" class="fa fa-edit" style="width:30px; height:30px"></a>
                                            <!--<a title="Delete Designation" role="button" ng-click="DeleteDesignation(companyDesignation)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                </div>

            <!--</div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>-->
