﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="createInvoiceCtrl">
                
                    <div class="white-box">
                        <div class="row">
                            <fieldset ng-disabled="isFormdisabled">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12  m-b-30">
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PO_NUMBER)}">
                                                    <label class="fg-label"><strong>PO Number</strong></label><br />
                                                    <!--<input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.PO_NUMBER" name="poNumber" id="poNumber" class="form-control fg-input" />-->
                                                    <a target="_blank" data-ui-sref="po-domestic-zsdm-rev({Id:filteredPendingPOsList.PO_NUMBER})">{{filteredPendingPOsList.PO_NUMBER}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.CUSTOMER_NAME)}">
                                                    <label class="fg-label"><strong>Customer Name</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.VENDOR_COMPANY" name="customerName" id="customerName" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.VENDOR_CODE)}">
                                                    <label class="fg-label"><strong>Vendor Code</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.VENDOR_CODE" name="vendorCode" id="vendorCode" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.VENDOR_SITE_CODE)}">
                                                    <label class="fg-label"><strong>Vendor Site Code</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.VENDOR_SITE_CODE" name="vendorSiteCode" id="vendorSiteCode" class="form-control fg-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12  m-b-30">
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.REMARKS)}">
                                                    <label class="fg-label"><strong>Remarks</strong></label>
                                                    <input type="text" ng-model="filteredPendingPOsList.REMARKS" name="remarks" id="remarks" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_TYPE_LOOKUP)}">
                                                    <label class="fg-label"><strong>Invoice Type Lookup</strong></label>
                                                    <span class="text-danger" ng-show="invoiceTypeError">Please select Invoice Type</span>

                                                    <select ng-disabled="true" class="form-control" ng-model="filteredPendingPOsList.INVOICE_TYPE_LOOKUP">
                                                        <option value="Credit Memo">Credit memo</option>
                                                        <option value="Debit Memo">Debit memo</option>
                                                        <option value="Pre Payment">Prepayment</option>
                                                        <option value="Standard">Standard</option>
                                                    </select>
                                                    <!--<input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.INVOICE_TYPE_LOOKUP" name="invoiceTypeLookup" id="customerName" class="form-control fg-input" />-->
                                                </div>
                                            </div>
                                            <div class="col-md-3" ng-if="isCustomer">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.TRANSACTION_TYPE)}">
                                                    <label class="fg-label"><strong>Transaction Type</strong></label>
                                                    <select ng-disabled="true" class="form-control" ng-model="filteredPendingPOsList.TRANSACTION_TYPE">
                                                        <option value="Domestic">Domestic</option>
                                                        <option value="International">International</option>
                                                    </select>
                                                    <!--<input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.TRANSACTION_TYPE" name="transactionType" id="transactionType" class="form-control fg-input" />-->
                                                </div>
                                            </div>
                                            <!--<div class="col-md-3">
                        <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.NATURE_OF_TRANSACTION)}">
                            <label class="fg-label"><strong>Nature of Transaction</strong></label>
                            <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.NATURE_OF_TRANSACTION" name="natureOfTransaction" id="natureOfTransaction" class="form-control fg-input" />
                        </div>
                    </div>-->
                                            <div class="col-md-3" ng-if="isCustomer">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.ASN_NUMBER)}">
                                                    <label class="fg-label"><strong>ASN No</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.ASN_NUMBER" name="paymentMethod" id="paymentMethod" class="form-control fg-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="isCustomer">
                                        <div class="col-md-12  m-b-30">
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INDENT_OF_PURCHASE)}">
                                                    <label class="fg-label"><strong>Indent of Purchase</strong></label>
                                                    <input type="text" ng-model="filteredPendingPOsList.INDENT_OF_PURCHASE" name="indentOfPurchase" id="indentOfPurchase" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.REGISTERED_UNDER_GST)}">
                                                    <label class="fg-label"><strong>Registered Under GST</strong></label>
                                                    <!--<select class="form-control" ng-model="filteredPendingPOsList.REGISTERED_UNDER_GST">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>-->
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.REGISTERED_UNDER_GST" name="registeredUnderGST" id="registeredUnderGST" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.IS_RCM_APPLICABLE)}">
                                                    <label class="fg-label"><strong>Is RCM Applicable</strong></label>
                                                    <!--<select class="form-control" ng-disabled="true" ng-model="filteredPendingPOsList.REGISTERED_UNDER_GST">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>-->
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.IS_RCM_APPLICABLE" name="isRCMApplicable" id="isRCMApplicable" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.CURRENCY)}">
                                                    <label class="fg-label"><strong>Currency</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.CURRENCY" name="currency" id="currency" class="form-control fg-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="isCustomer">
                                        <div class="col-md-12  m-b-30">
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.EXCHANGE_RATE)}">
                                                    <label class="fg-label"><strong>Exchange Rate</strong></label>
                                                    <input type="text" ng-model="filteredPendingPOsList.EXCHANGE_RATE" name="indentOfPurchase" id="indentOfPurchase" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PAYMENT_TERMS)}">
                                                    <label class="fg-label"><strong>Payment Terms</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.PAYMENT_TERMS" name="paymentTerms" id="paymentTerms" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PAYMENT_METHOD)}">
                                                    <label class="fg-label"><strong>Payment Method</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.PAYMENT_METHOD" name="paymentMethod" id="paymentMethod" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PAYGROUP_DESCRIPTION )}">
                                                    <label class="fg-label"><strong>Pay Group Description</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.PAYGROUP_DESCRIPTION" name="payGroupDescription" id="payGroupDescription" class="form-control fg-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12  m-b-30">
                                            <div class="col-md-3" ng-if="isCustomer">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.TDS_CODE)}">
                                                    <label class="fg-label"><strong>TDS Code</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.TDS_CODE" name="tdsCode" id="tdsCode" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <!--<div class="col-md-3">
                        <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.HSN_CODE)}">
                            <label class="fg-label"><strong>HSN Code</strong></label>
                            <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.HSN_CODE" name="paymentTerms" id="paymentTerms" class="form-control fg-input" />
                        </div>
                    </div>-->
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.IRN_NO)}">
                                                    <label class="fg-label"><strong>IRN No</strong></label>
                                                    <input type="text" ng-model="filteredPendingPOsList.IRN_NO" name="paymentMethod" id="paymentMethod" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.BILL_TO_LOCATION)}">
                                                    <label class="fg-label"><strong>Bill To Location</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.BILL_TO_LOCATION" name="paymentMethod" id="paymentMethod" class="form-control fg-input" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.IRN_NO)}">
                                                    <label class="fg-label"><strong>Ship To Location</strong></label>
                                                    <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.SHIP_TO_LOCATION" name="paymentMethod" id="paymentMethod" class="form-control fg-input" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12  m-b-30">

                                            <div class="col-md-3">
                                                <label>Invoice Number</label>
                                                <span class="text-danger" ng-show="invoiceNumberError">Please enter Invoice Number</span>

                                                <input type="text" ng-change="checkUserUniqueResult('INVOICE',filteredPendingPOsList.INVOICE_NUMBER)" ng-model="filteredPendingPOsList.INVOICE_NUMBER" name="invoiceNumber" id="invoiceNumber" class="form-control fg-input" />
                                                <small class="help-block error logininput text-danger"
                                                       ng-show="checkInvoiceUniqueResult">Invoice number already exists</small>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Invoice Date</label>
                                                <span class="text-danger" ng-show="invoiceDateError">Please enter Invoice Date</span>

                                                <div class="col-md-12" moment-picker="filteredPendingPOsList.INVOICE_DATE_1" format="DD-MM-YYYY" min-date="maxDateMoment">
                                                    <input class="form-control" placeholder="Select a date" ng-model="filteredPendingPOsList.INVOICE_DATE_1" ng-model-options="{ updateOn: 'blur' }">
                                                </div>

                                            </div>
                                            <!--<div class="col-md-3">
        <label>ASN/Dispatch No</label>
        <input type="text" ng-model="filteredPendingPOsList.ASN_NUMBER" name="asnNumber" id="asnNumber" class="form-control fg-input" />
    </div>-->
                                            <!--<div class="col-md-3">
        <label>Due Date</label>
        <span class="text-danger" ng-show="dueDateError">Please enter Due Date</span>

        <div class="col-md-12" moment-picker="filteredPendingPOsList.DUE_DATE_1" format="DD-MM-YYYY" min-date="maxDateMoment">
            <input class="form-control" placeholder="Select a date" ng-model="filteredPendingPOsList.DUE_DATE_1" ng-model-options="{ updateOn: 'blur' }">
        </div>

    </div>-->

                                            <!--<div class="top-buffer form-group fg-float col-sm-6">
                                                <div class="fg-line input-field fg-toggled">
                                                    <label class="fg-label">Attachment</label>-->
                                                    <!--<input ng-model="dispatchObject.ATTACHMENT" id="attachment" name="attachment" class="form-control fg-input fg-toggled" />-->
                                                    <!--<div class="form-group fg-float col-md-12">
                                                        <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                            <span><i class="fa fa-upload  m-r-5"></i></span>
                                                            <input type="file" ng-disabled="isCustomer" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id=0 itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                                        </div>
                                                        <label ng-if="attch.fileID <= 0" ng-repeat="attch in filteredPendingPOsList.attachmentsArray">{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex,selectedPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;(<span>{{((attch.fileSize)*0.0009765625).toFixed(1)}}KB of 6MB</span>)</label>
                                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in filteredPendingPOsList.attachmentsArray">
                                                            <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <!--<div class="row">
                <div class="col-md-12  m-b-30">
                    <div class="col-md-6" style="display:-webkit-inline-box">
                        <label>From</label>&nbsp;
                        <textarea ng-disabled="true" ng-model="filteredPendingPOsList.FROM_ADDRESS"></textarea>
                    </div>
                    <div class="col-md-6" style="display:-webkit-inline-box">
                        <label>To</label>
                        <textarea ng-model="filteredPendingPOsList.TO_ADDRESS"></textarea>
                    </div>

                </div>
            </div>-->

                                    <div class="col-md-6 m-b-30 " ng-if="isCustomer">
                                        <label>GL Code</label>
                                        <table style="width:100%">
                                            <tr>
                                                <th class="col-md-2">Segment 1:</th>
                                                <td><input type="text" ng-disabled="true" ng-model="pendingPOItems[0].ENTITY" name="invoiceNumber" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 2:</th>
                                                <td ng-show="(pendingPOItems[0].ENTITY == 'Jeeves' || pendingPOItems[0].ENTITY == 'JCS-Jeeves Consumer Services Private Limited') && pendingPOItems[0].TAX_CATEGORY_TYPE == 'Recoverable'"><input type="text" ng-disabled="true" value="GL Account - 501010" id="invoiceNumber" class="form-control fg-input" /></td>
                                                <td ng-show="(pendingPOItems[0].ENTITY == 'Jeeves' || pendingPOItems[0].ENTITY == 'JCS-Jeeves Consumer Services Private Limited') && pendingPOItems[0].TAX_CATEGORY_TYPE == 'Non Recoverable'"><input type="text" ng-disabled="true" value="GL Account - 503935" id="invoiceNumber" class="form-control fg-input" /></td>
                                                <td ng-show="(pendingPOItems[0].ENTITY == 'F1' || pendingPOItems[0].ENTITY == 'F1 Info Solutions') && pendingPOItems[0].TAX_CATEGORY_TYPE == 'Recoverable'"><input type="text" ng-disabled="true" value="GL Account - 501146" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 3:</th>
                                                <td><input type="text" ng-disabled="true" value="Cost Centre -5205" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 4:</th>
                                                <td><input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.SHIP_TO_LOCATION" name="invoiceNumber" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 5:</th>
                                                <td><input type="text" ng-disabled="true" value="000000000" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 6:</th>
                                                <td><input type="text" ng-disabled="true" value="000" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 7:</th>
                                                <td><input type="text" ng-disabled="true" value="0000" name="invoiceNumber" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-2">Segment 8:</th>
                                                <td><input type="text" ng-disabled="true" value="00000" id="invoiceNumber" class="form-control fg-input" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table-striped table-bordered table z-depth-1 clear-both">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">PO Line item</th>
                                                    <th style="text-align:center;">Item Code</th>
                                                    <th style="text-align:center;"><strong>Item Name</strong></th>
                                                    <th style="text-align:center;"><strong>Entity</strong></th>
                                                    <th style="text-align:center;"><strong>HSN Code</strong></th>
                                                    <th style="text-align:center"><strong>PO Quantity</strong></th>
                                                    <th style="text-align:center"><strong>Invoice Quantity</strong></th>
                                                    <th style="text-align:center"><strong>Remaining Quantity</strong></th>
                                                    <th style="text-align:center"><strong>Rate</strong></th>
                                                    <th style="text-align:center"><strong>IGST(%)</strong></th>
                                                    <th style="text-align:center"><strong>CGST(%)</strong></th>
                                                    <th style="text-align:center"><strong>SGST(%)</strong></th>
                                                    <th style="text-align:center"><strong>Amount</strong></th>
                                                    <th style="text-align:center"><strong>Nature Of Transaction</strong></th>
                                                    <!--<th style="text-align:center"><strong>Action</strong></th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in pendingPOItems" ng-init="parentIdx = $index">
                                                    <td>{{item.PO_LINE_ITEM}}</td>
                                                    <td>{{item.PRODUCT_CODE}}</td>
                                                    <td>{{item.PRODUCT_NAME}}</td>
                                                    <td>
                                                        {{item.ENTITY}}
                                                    </td>
                                                    <td>
                                                        {{item.HSN_CODE}}
                                                    </td>
                                                    <td>{{item.ORDER_QTY}}</td>
                                                    <td>
                                                        <input type="text" valid-number allow-decimal="true" ng-disabled="(item.TOTAL_INVOICE_LINE_ITEM_REMAINING_QTY == 0 || filteredPendingPOsList.INVOICE_TYPE_LOOKUP != 'Standard')"
                                                               style="height:30px" allow-negative="false" ng-change="getSum(item)"
                                                               ng-model="item.INVOICE_QTY" name="customerName" id="customerName" class="form-control fg-input" />
                                                        <!--<span class="text-danger" ng-show="item.isError">Please enter Invoice Qty less than Remaining Qty</span>-->

                                                        <span class="text-danger" ng-show="item.isErrorWeightValidation">Please enter Invoice Qty greater than 0 and less than  {{item.INVOICE_QTY_TEMP + item.TOTAL_INVOICE_LINE_ITEM_REMAINING_QTY}}</span>
                                                        <span class="text-danger" ng-show="item.isErrorWeightValidationRemaining">Please enter Invoice Qty greater than 0 and less than Remaining Quantity</span>

                                                    </td>
                                                    <td>{{item.TOTAL_INVOICE_LINE_ITEM_REMAINING_QTY}}</td>
                                                    <td>
                                                        {{ !filteredPendingPOsList.INVOICE_NUMBER || filteredPendingPOsList.INVOICE_NUMBER.indexOf('INV_PP_PO_') < 0 ? item.UNIT_PRICE_NO_TAX : item.INVOICE_AMOUNT}}
                                                    </td>
                                                    <td>{{ !filteredPendingPOsList.INVOICE_NUMBER || filteredPendingPOsList.INVOICE_NUMBER.indexOf('INV_PP_PO_') < 0 ? item.IGST : 0}}</td>
                                                    <td>{{ !filteredPendingPOsList.INVOICE_NUMBER || filteredPendingPOsList.INVOICE_NUMBER.indexOf('INV_PP_PO_') < 0 ? item.CGST : 0}}</td>
                                                    <td>{{ !filteredPendingPOsList.INVOICE_NUMBER || filteredPendingPOsList.INVOICE_NUMBER.indexOf('INV_PP_PO_') < 0 ? item.SGST : 0}}</td>
                                                    <td>
                                                        {{ !filteredPendingPOsList.INVOICE_NUMBER || filteredPendingPOsList.INVOICE_NUMBER.indexOf('INV_PP_PO_') < 0 ? item.AMOUNT : item.INVOICE_AMOUNT}}
                                                    </td>
                                                    <td>
                                                        {{item.NATURE_OF_TRANSACTION}}
                                                    </td>
                                                    <!--<td>-->
                                                    <!--<div class="button-box" data-provides="fileinput">
                            <div class="fileupload btn btn-sm btn-info btn-sm waves-effect waves-light">
                                <span><i class="fa fa-upload"></i></span>
                                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{parentIdx}}" itemid="{{parentIdx}}" multiple ng-file-select-items="onFileSelect($files)">
                            </div>
                        </div>
                        <small>
                            <label ng-if="attch.fileID <= 0" ng-repeat="attch in item.AttachmentsArray">{{attch.fileName}}  <strong ng-click="removeAttach(parentIdx,item.AttachmentsArray)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                            <label ng-if="attch.fileID > 0 && item.AttachmentsArray.length > 0" ng-repeat="attch in item.AttachmentsArray">
                                <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                <strong ng-click="removeAttach($index,item.AttachmentsArray)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                            </label>
                        </small>-->
                                                    <!--</td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Sub total:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.SUB_TOTAL" name="subTotal" id="subTotal" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Tax:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="number" ng-disabled="true" ng-model="filteredPendingPOsList.TAX" name="subTotal" id="subTotal" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Total:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" ng-disabled="true" ng-model="filteredPendingPOsList.INVOICE_AMOUNT" name="subTotal" id="subTotal" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row" ng-if="filteredPendingPOsList.PO_TYPE == 'Pre Payment'">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Acknowledge Comments :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <textarea type="text" ng-disabled="isCustomer || filteredPendingPOsList.IS_ACK > 0" ng-model="filteredPendingPOsList.ACK_COMMENTS" name="ackComments" id="ackComments" class="form-control fg-input"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <br />



                                <div class="form-section">
                                    <div class="col-md-6">
                                        <div class="fieldgroup">
                                            <label class="uppercase"><strong>Invoice Comments</strong></label>
                                            <textarea class="form-control"
                                                      ng-disabled="((!isSuperUser && !isUserEntitled(591169)) || filteredPendingPOsList.WF_STATUS != 'REJECTED' )"
                                                      maxlength="1000"
                                                      onKeyPress="if(this.value.length >= 1000 && event.keyCode !== 8 && event.keyCode !== 46) return false;"
                                                      name="Comments" title="Comments" rows="4" ng-model="filteredPendingPOsList.INVOICE_COMMENTS"></textarea>
                                            <span class="text-warning">The available characters are : {{1000 - filteredPendingPOsList.INVOICE_COMMENTS.length}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="line-height:30px;">
                                    <div class="col-md-2 form-group">
                                        <strong>Attachments</strong><br>
                                        <div class="fg-line input-field fg-toggled">
                                            <label class="fg-label">Attachment</label>
                                            <!--<input ng-model="dispatchObject.ATTACHMENT" id="attachment" name="attachment" class="form-control fg-input fg-toggled" />-->
                                            <div class="form-group fg-float col-md-12">
                                                <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                    <span><i class="fa fa-upload  m-r-5"></i></span>
                                                    <input type="file" ng-disabled="((!isSuperUser && !isUserEntitled(591169)) || filteredPendingPOsList.WF_STATUS != 'REJECTED')" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id=attachement itemid="attachement" ng-file-select-items="onFileSelect($files)">
                                                </div>
                                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in filteredPendingPOsList.attachmentsArray">{{attch.fileName}}  <strong ng-click="removeAttach($index,selectedPODetails)" class="fa fa-trash-alt" ng-hide="((!isSuperUser && !isUserEntitled(591169)) || filteredPendingPOsList.WF_STATUS != 'REJECTED')"></strong>&nbsp;&nbsp;&nbsp;(<span>{{((attch.fileSize)*0.0009765625).toFixed(1)}}KB of 6MB</span>)</label>
                                                <label ng-if="attch.fileID > 0" ng-repeat="attch in filteredPendingPOsList.attachmentsArray">
                                                    <strong ng-hide="((!isSuperUser && !isUserEntitled(591169)) || filteredPendingPOsList.WF_STATUS != 'REJECTED')" ng-click="removeAttach($index,selectedPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                    <a class="prmellipsis" title="{{attch.fileName}}" target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <span ng-if="isErrorGrossWeightValidation" class="text-danger">Cannot enter the values as remaining quantity is zero</span><br />
                                            <span ng-if="isError" class="text-danger">Please Fill all the Mandatory Fields(*)</span><br />
                                            <span ng-if="isErrorWeightValidation" class="text-danger">Please enter Invoice Quantity greater than 0 and less than PO Qty</span><br />
                                            <span ng-if="isErrorWeightValidationRemaining" class="text-danger">Please enter Invoice Quantity greater than 0 and less than Remaining Quantity</span><br />
                                        </div>
                                        <div class="col-md-3" style="text-align:right">
                                            <div class="col-md-12">
                                                <button class="btn btn-info btn-file btn-new-look" ng-if="(isVendor && (filteredPendingPOsList.WF_STATUS == 'REJECTED' || filteredPendingPOsList.WF_STATUS =='ACK REQUIRED')) || (filteredPendingPOsList.WF_STATUS == 'REJECTED' && isSuperUser && !isVendor) || (filteredPendingPOsList.WF_STATUS == 'REJECTED' && isUserEntitled(591169))"   ng-click="saveInvoice(selectedPODetails)" type="submit">Save</button>
                                                <button class="btn btn-info btn-file btn-new-look" ng-click="cancelInvoice()" type="submit">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                


                <!--<div class="col-md-12">
                    <label ng-if="itemWorkflow[0].WorkflowTracks[itemWorkflow[0].WorkflowTracks.length - 1].status === 'APPROVED' && itemWorkflow[0].WorkflowTracks[itemWorkflow[0].WorkflowTracks.length - 1].modifiedBy === +userID && filteredPendingPOsList.STATUS != 'COMPLETED'">
                        <button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="completeInvoice(selectedPODetails);">Complete Payment</button>
                    </label>
                </div>-->


                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                <div class="row approvalRowHeight">
                                    <div class="col-md-12">
                                        <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                            <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode}}</strong></br>-->
                                            <strong>
                                                <label style="color:darkorange">
                                                    {{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}
                                                </label>
                                            </strong>
                                            <!--({{step.approver.desigCode + ' ' + step.department.deptCode}})-->
                                        </P>
                                        <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                            <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 list-group-item" href="#"
                                         ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                         style="min-height:90px;">
                                        <div class="row">
                                            <div class="col-md-1 col-xs-1">
                                                <h5>{{$index + 1}}. </h5>
                                            </div>
                                            <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                            </div>
                                            <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                <div class="row">
                                                    <!--<div class="col-md-4 col-xs-4">
                                                        <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                        <small>Hold</small>
                                                    </div>-->
                                                    <div class="col-md-4 col-xs-4">
                                                        <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                        <small>Approve</small>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4">
                                                        <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                        <small>Reject</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style='border-bottom:1px solid #ccc;'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
</div>