﻿<div class="white-box">
    <div class="pmb-block ng-scope" ng-controller="demandRequestCtrl">
        <div class="pmbb-header">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-3">
                    <h3 style="display:inline-block;margin:5px">
                        <i class="zmdi zmdi-view-list"></i>  Demand - Request
                    </h3>
                </div>
                <div class="col-md-2 m-t-20">
                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setPage(1);" ng-model="searchKeyword" type="text" placeholder="Search">
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-md-12">From date</label>
                        <div class="col-md-12" moment-picker="filterDate.reqFromDate" format="YYYY-MM-DD">
                            <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqFromDate" ng-model-options="{ updateOn: 'blur' }">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-md-12">To date</label>
                        <div class="col-md-12" moment-picker="filterDate.reqToDate" format="YYYY-MM-DD">
                            <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqToDate" ng-model-options="{ updateOn: 'blur' }">
                        </div>
                    </div>
                </div>
                <div class="col-md-1"><button class="btn btn-info pull-left m-t-20 waves-effect waves-light" ng-click="getDemandRequest()">Apply</button></div>

                <div ng-hide="hideButtons" class="col-md-1"><button class="btn btn-info pull-left m-t-20 waves-effect waves-light" ng-click="processFiles();">ProcessFiles</button></div>


            </div>
            <div class="row">
                <div class="col-md-2" style="margin-top:4px;">
                    <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                            <i class="fa fa-plus-square"></i> Excel
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="cursor:pointer;"><a class="" role="button" ng-click="exportToExcel('REQUIREMENT_DETAILS')" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export REQ Excel</a></li>

                            <li style="cursor:pointer;">
                                <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                    <span>&nbsp;&nbsp;</span>
                                    <span class="btn-file">
                                        <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload REQ  Excel</span>
                                        <span class="fileinput-exists"><i class="far fa-edit"></i>&nbsp;&nbsp; Edit REQ Excel</span>
                                        <input type="file" accept=".xlsx" id="requirementclientupload" itemscope="" itemid="requirementclientupload" ng-file-select-items="onFileSelect($files)" />
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </div>

                            </li>
                            <li style="cursor:pointer;"><a class="" role="button" ng-click="exportErrorDetails('REQUIREMENT_DETAILS')" aria-hidden="true"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Error Log</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th>Case ID</th>
                            <th>SKU ID</th>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Brand</th>
                            <th>Brand Part Code</th>
                            <th>Category</th>
                            <th>Model</th>
                            <th>Delivery Location</th>
                            <th>Entity</th>
                            <th>Type of Stock</th>
                            <th>Required Quantity</th>
                            <th>Part Image</th>
                            <th>Expected Delivery Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="demReq in demandRequestList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{demReq.caseID}}</td>
                            <td>{{demReq.productNo}}</td>
                            <td>{{demReq.productName}}</td>
                            <td>{{demReq.productDesc}}</td>
                            <td>{{demReq.brand}}</td>
                            <td>{{demReq.brandPartCode}}</td>
                            <td>{{demReq.category}}</td>
                            <td>{{demReq.modelName}}</td>
                            <td>{{demReq.deliveryLocation}}</td>
                            <td>{{demReq.entity}}</td>
                            <td>{{demReq.typeOfStock}}</td>
                            <td>{{demReq.requiredQuantity}}</td>
                            <td>{{demReq.itemLevelAttachments}}</td>
                            <td>{{demReq.expDeliveryDate}}</td>

                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="pageChanged();" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

            </div>
        </div>

        <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="width:950px;">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table tablesaw table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Row Number</th>
                                            <th style="text-align:center">Error Message</th>
                                            <th style="text-align:center">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in rowErrors">
                                            <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                            <td ng-bind-html="item.REASON"></td>
                                            <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-5">
                                <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadExcel('REQUIREMENT_DETAILS',1);">Continue</button>
                                <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>

</div>
</div>