﻿
<div ng-controller="gstSettingsCtrl">
    <div class="white-box">
        <div class="box-title">
            <div class="row">
                <div class="form-group fg-float col-md-4 m-b-30">
                    <h3>GST Settings</h3>
                </div>
                
                <div class="form-group fg-float col-md-4 m-b-30">
                    <button ng-click="editGSTFactor(gst,0)" class="btn btn-info pull-right add-new-btn">Add New GST</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-if="addNewGSTView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Entity  <span class="text-danger">*</span></label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <select ng-model="gst.ENTITY" class="form-control"
                                    data-placeholder="Select entity" id="ENTITY">
                                <option value="F1 Info Solutions">F1 Info Solutions</option>
                                <option value="JCS-Jeeves Consumer Services Pvt Ltd">JCS-Jeeves Consumer Services Pvt Ltd</option>
                                <!--ng-show="IS_CB_ENABLED == false"-->
                            </select>
                            <!--<input type="text" ng-model="gst.ENTITY" name="entity" id="entity" class="form-control fg-input" />-->
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">CGST</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <input type="number" ng-disabled="gst.CGST_DISABLE" ng-model="gst.CGST" ng-change="changeGST(gst)" name="cgst" id="cgst" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">SGST</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <input type="number" ng-disabled="gst.SGST_DISABLE" ng-model="gst.SGST" ng-change="changeGST(gst)" name="sgst" id="sgst" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">IGST</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <input type="number" ng-disabled="gst.IGST_DISABLE" ng-model="gst.IGST" ng-change="changeGST(gst)" name="igst" id="igst" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">Tax Category Name <span class="text-danger">*</span></label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <input type="text" ng-model="gst.TAX_CATEGORY_NAME" name="taxCategoryName" id="taxCategoryName" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">Tax Rate</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <input type="number" ng-model="gst.TAX_RATE" name="taxRate" id="taxRate" class="form-control fg-input" />
                        </div>
                    </div>

                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">Tax Category Type <span class="text-danger">*</span></label>
                        <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                            <select class="form-control" ng-model="gst.TAX_CATEGORY_TYPE" ng-options="branch.configValue as branch.configValue for branch in catType">
                            </select>
                        </div>
                    </div>

                    <!--<div class="form-group fg-float col-md-3 m-b-30">
            <label class="col-md-12">EWC/NON-EWC</label>
            <div class="fg-line" ng-class="{'fg-toggled': (gst.curFactor)}">
                <select class="form-control" ng-model="gst.EWC" ng-options="branch.configValue as branch.configValue for branch in gstEWC">
                </select>
            </div>
        </div>-->
                    <div class="col-md-12 text-center">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="SaveGstFactor()">Save </button>
                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeGstFactor()">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:30%">Entity</th>
                            <th style="width:5%">CGST</th>
                            <th style="width:5%">SGST</th>
                            <th style="width:5%">IGST</th>
                            <th style="width:30%">Tax Category Name</th>
                            <th style="width:5%">Tax Rate</th>
                            <th style="width:5%">Tax Category Type</th>
                            <!--<th style="width:5%">Is RCM Applicable</th>
                            <th style="width:5%">EWC/NON-EWC</th>-->
                            <th style="width:10%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gstFactor in gstFactors.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{gstFactor.ENTITY}}</td>
                            <td>{{gstFactor.CGST}}</td>
                            <td>{{gstFactor.SGST}}</td>
                            <td>{{gstFactor.IGST}}</td>
                            <td>{{gstFactor.TAX_CATEGORY_NAME}}</td>
                            <td>{{gstFactor.TAX_RATE}}</td>
                            <td>{{gstFactor.TAX_CATEGORY_TYPE}}</td>
                            <!--<td>{{gstFactor.EWC}}</td>-->
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit" role="button" ng-click="editGSTFactor(gstFactor)" class="fa-edit fa" style="width:30px; height:30px"></a>
                                <a title="Delete" role="button" ng-click="DeleteGSTFactor(gstFactor)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
           
        </div>
    </div>
</div>
