<div class="white-box">
    <div class="row">

        <div ng-controller="profileVendorCtrl as pctrl">
            <div ng-class="{'pmb-block':pctrl.addVendor==1}" ng-if="userObj.credentialsVerified == 1 && isOTPVerified == 1 && isEmailOTPVerified == 1">
                <div class="pmbb-header" data-ng-show="pctrl.addVendor === 1">
                    <!--<form name="vendorregisterForm" class="pmbb-edit" ng-init="getRegAddtionalFields()" novalidate>-->
                    <div class="col-md-4"><h4>Vendor Info</h4></div>

                    <div class="col-md-8 text-right">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            Add Multiple Vendors via Excel(only xlsx):
                            <span class="btn btn-info btn-file btn-new-look">
                                <span class="fileinput-new">Choose a file</span>
                                <span class="fileinput-exists">Change</span>
                                <input ng-disabled="pctrl.viewVendor" type="file" accept=".xlsx" id="vendorsAttachment" doctype="vendorsAttachment" ng-file-select-docs="onFileSelect($files)" />
                            </span>
                            <span class="fileinput-filename" data-ng-model="ImportEntity.attachmentFileName"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            <small><a target="_blank" class="" href="https://trial.prm360.com/services/templateattachments/AddVendor.xlsx?sessionid={{sessionid}}"><strong>Download Excel Template</strong></a></small>
                            <!--<small><a target="_blank" class="" href="https://ctrls.prm360.com/services/templateattachments/AddVendor.xlsx?sessionid={{sessionid}}"><strong>Download Excel Template</strong></a></small>-->
                            <!--<small><a role="button" ng-click="downloadTemplate();"><strong>Download Excel Template</strong></a></small>-->
                        </div>
                    </div>


                </div>
                <div class="pmbb-body" data-ng-show="pctrl.addVendor === 1">
                    <form name="vendorregisterForm" class="pmbb-edit" ng-init="getRegAddtionalFields()" ui-event="{reset: 'reset(vendorregisterForm)'}" id="vendorForm" novalidate>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 add-row ng-scope" style="padding:20px">
                                        <fieldset ng-disabled="pctrl.viewVendor">
                                            <ng-include src="'views\\vendor.html'">
                                            </ng-include>
                                        </fieldset>

                                    </div>
                                </div>
                                <div class="row" id="section">
                                    <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                        <div class="row" style="padding-left:20px;">
                                            <label>
                                                <label class="text-danger" ng-show="catalogvalidation">please select one Category atleast</label>
                                            </label>
                                        </div>
                                        <fieldset ng-disabled="pctrl.viewVendor">
                                            <ng-include src="'views\\new-vendor-catalog.html'">
                                            </ng-include>
                                        </fieldset>

                                    </div>
                                </div>
                                <div class="row" id="section" ng-if="isEditVendor">
                                    <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                        <div class="col-md-12">
                                            <a ng-if="!pctrl.viewVendor" role="button" class="pull-left" data-target="#newGSTInfo" ng-click="openGSTInfoPopup()" data-toggle="modal" style="margin-top:20px;"><strong>+ New GST</strong></a>
                                            <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                                                <tr ng-repeat="gstDetail in companyGSTInfo">
                                                    <td data-title="'GST Number '" sortable="'ID'">
                                                        {{ gstDetail.gstNumber }}
                                                    </td>
                                                    <td data-title="'GST Address'" sortable="'Type'">
                                                        {{ gstDetail.gstAddr }}
                                                    </td>
                                                    <td data-title="'Vendor Code'" sortable="'Type'">
                                                        {{ gstDetail.vendorCode }}
                                                    </td>
                                                    <td data-title="'Vendor Site Code'" sortable="'Type'">
                                                        {{ gstDetail.vendorSiteCode }}
                                                    </td>
                                                    <td data-title="'Vendor Site Status'" sortable="'Type'">
                                                        {{ gstDetail.vendorSiteStatus }}
                                                    </td>
                                                    <td data-title="'Billing Address'" sortable="'Type'">
                                                        {{ gstDetail.billingAddress }}
                                                    </td>
                                                    <td data-title="'Shipping Address'" sortable="'Type'">
                                                        {{ gstDetail.shippingAddress }}
                                                    </td>
                                                    <td data-title="'Entity'" sortable="'Type'">
                                                        {{ gstDetail.entity }}
                                                    </td>
                                                    <td data-title="'Vendor Site Inactive Date'" sortable="'Type'">
                                                        {{ GetDateconverted(gstDetail.vendorSiteInactiveDate) }}
                                                    </td>
                                                    <td data-title="''" sortable="'Type'">
                                                        <a ng-if="!pctrl.viewVendor" role="button" ng-click="deleteGSTInfo(gstDetail)" style="margin-right:15px" title="Edit vendor"><i class="fas fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="section">
                                    <div class="col-md-12" style="padding:20px">
                                        <a ng-if="!pctrl.viewVendor" role="button" ng-click="addAltUser();"><i class="fa fa-user-plus" role="button" aria-hidden="true"></i><strong>Alternate Contacts</strong></a>
                                        <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                                            <tr ng-repeat="contact in altUsers track by $index">
                                                <td data-title="'S. No. '">
                                                    {{$index + 1}}
                                                </td>
                                                <td data-title="'Vendor First Name '" sortable="'ID'">
                                                    <span ng-if="contact.altUserID">{{contact.firstName}}</span>
                                                    <input type="text" ng-if="!contact.altUserID" ng-model="contact.firstName" class="form-control fg-input" name="firstName{{$index + 1}}" id="lastName{{$index + 1}}" placeholder="First Name">
                                                </td>
                                                <td data-title="'Vendor Last Name'" sortable="'Type'">
                                                    <span ng-if="contact.altUserID">{{contact.lastName}}</span>
                                                    <input type="text" ng-if="!contact.altUserID" ng-model="contact.lastName" class="form-control fg-input" name="lastName{{$index + 1}}" id="lastName{{$index + 1}}" placeholder="Last Name">
                                                </td>
                                                <td data-title="'Contact No.'" sortable="'Type'">
                                                    <span ng-if="contact.altUserID">{{contact.phoneNum}}</span>
                                                    <input type="number" ng-model="contact.phoneNum" ng-model-options="{debounce:100}" ng-if="!contact.altUserID"
                                                           class="form-control fg-input" name="phoneNum{{$index + 1}}" id="phoneNum{{$index + 1}}"
                                                           minlength="10" maxlength="15" onKeyPress="if(this.value.length==15) return false;" placeholder="Contact Number" />
                                                </td>
                                                <td data-title="'Email Address'" sortable="'Type'">
                                                    <span ng-if="contact.altUserID">{{contact.email}}</span>
                                                    <input type="email" ng-if="!contact.altUserID" ng-model="contact.email" class="form-control fg-input" name="email{{$index + 1}}" id="email{{$index + 1}}" placeholder="Email Address">
                                                </td>
                                                <td data-title="'Actions'">
                                                    <a ng-if="!pctrl.viewVendor" ng-click="delAltUser($index);" role="button" class="fa fa-trash-alt"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <h4 ng-if="RegistrationAdditonalField && RegistrationAdditonalField.length > 0" data-target="#alternateContacts" data-toggle="modal">Additional Info</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 2px;" ng-repeat="reg in RegistrationAdditonalField">
                                <label class="fg-label" for="taxno">{{reg.DisplayName}}</label>
                                <div class="input-group" style="vertical-align:middle;width:100%;">
                                    <div style="display:table-cell;vertical-align:middle">
                                        <input ng-model="newVendor.additionalData[reg.Name]" ng-required="reg.Required" name="{{reg.Name}}" type="{{reg.Type}}" class="form-control logininput" />
                                    </div>
                                    <div style="display:table-cell;" class="text-center" ng-if="reg.AllowAttachment">
                                        <div ng-model="files[reg.Name]" class="fileupload btn btn-info waves-effect waves-light"
                                             ngf-multiple="true"
                                             ngf-pattern="'image/*,application/*'"
                                             ngf-accept="'image/*,application/*'"
                                             ngf-max-files="5"
                                             ngf-select="onFileSelect(files[reg.Name],reg,vendorregisterobj.additionalData)">
                                            <span><i class="fa fa-upload"></i> <span ng-if="files[reg.Name].length > 0">({{files[reg.Name].length}})</span></span>
                                        </div>
                                    </div>
                                </div>
                                <label>
                                    <label class="text-danger" ng-if="reg.Required" ng-show="(vendorregisterForm.$submitted || vendorregisterForm[reg.Name].$touched) && vendorregisterForm[reg.Name].$error.required"> {{reg.DisplayName}} is required </label>
                                </label>
                            </div>
                        </div>
                        <div class="m-t-30 col-md-12 center-block text-center">
                            <button class="btn btn-sm" data-ng-click="pctrl.addVendor = 0;canceEditVendor(vendorregisterForm);" type="reset">Cancel</button>
                            <input ng-disabled="checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult || checkSapVendorUniqueResult || isSaveDisabled || vendorregisterForm.phoneNum.$error.minlength || pctrl.viewVendor" class="btn btn-info btn-sm btn-new-look" ng-click="validateUserLogin(vendorregisterForm)" type="submit" value="Save" />
                            <!--<img id="mySpinner" ng-show="isSaveDisabled == true && !(checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult || checkSapVendorUniqueResult)" align="middle" src="img/AcadsLoding.gif" />-->
                        </div>
                        <div class="m-t-30 col-md-12">
                        </div>

                    </form>



                    <div class="white-box" style="" ng-show="addVendorShow && itemWorkflow[0].WorkflowTracks.length>0">
                        <h4 style="text-align:center"><strong>Approval Process</strong></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                                    </br>-->
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>


                    <div class="white-box" style="" ng-show="addVendorShow && itemunBlockWorkflow[0].WorkflowTracks.length>0">
                        <h4 style="text-align:center"><strong>UnBlock Approval Process</strong></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemunBlockWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isUnblockApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isUnblockApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isUnblockApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isUnblockApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateUnblockTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateUnblockTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateUnblockTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>

                </div>
            </div>

            <div class="pmb-block" st-table="vendorDisplayCollecton" st-safe-src="vendorsList" style="margin-top:20px" data-ng-show="pctrl.addVendor === 0">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px;">
                        <div>
                            <div class="col-md-1">
                                <h3 style="display:inline-block;margin:10px">
                                    <i class="zmdi zmdi-view-list"></i> Vendors
                                </h3>
                            </div>
                            <!--<div class="col-md-2">
                                <select style="display:inline-block;width:auto;margin-left:15px;margin:10px" xd-st-search="regStatus" ng-model="vendorStatus" class="form-control">
                                    <option value="">All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option value="{{status.id}}" ng-repeat="status in StatusList">{{status.name}}</option>
                                </select>
                            </div>-->
                            <!--<div class="col-md-2">
                                <select style="display:inline-block;width:auto;margin-left:15px;margin:10px" xd-st-search="category" ng-model="srchVendorCategory" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{category}}" ng-if="category != ''" ng-repeat="category in addVendorCats">{{category}}</option>
                                </select>
                            </div>-->
                            <div style="display:inline-block;margin-right:10px;" class="col-md-2">
                                <!--<input style="width:auto;float:none;margin:10px" type="text" st-search="" placeholder="Search" class="form-control" />-->
                                <input style="width:auto;float:none;margin:10px" type="text" ng-model-options="{debounce:1000}" ng-model="searchKeyword" ng-change="searchTable(searchKeyword);" placeholder="Search" class="form-control" />
                            </div>

                            <!--<div class="col-md-2 pull-right" style="display:inline-block;margin-right:10px;">
                                <h3>Vendors ({{vendorDisplayCollecton.length}}/{{totalCount}})</h3>
                            </div>-->

                        </div>
                        <div class="text-right">

                            <!--<div style="display:inline-block;margin-right:10px;margin-top:-8px" class="col-md-1">
                                <button class="btn btn-info m-t-20 btn-sm btn-new-look"
                                        ng-if="userObj.credentialsVerified && isOTPVerified && isEmailOTPVerified"
                                        ng-click="pctrl.viewVendor = fasle;pctrl.addVendor = 1;addVendorShow=true;getcatalogcategories(0);AddNewVendor();"
                                        data-ng-show="pctrl.addVendor === 0">
                                    <b>Add vendor</b>
                                </button>
                            </div>-->
                            
                            <div style="display:inline-block;margin-right: 7px;margin-top: -8px;" class="col-md-1">
                                <button ng-click="GetVendorReport();" class="btn btn-info m-t-20 btn-sm btn-new-look">Export</button>
                            </div>

                            <!--<div class="col-md-2" style="margin-top:4px;">
                                <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                        <i class="fa fa-plus-square"></i> Excel Vendors
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="cursor:pointer;"><a class="" role="button" ng-click="exportToExcel('VENDOR_DETAILS')" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export Vendor Excel</a></li>

                                        <li style="cursor:pointer;">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                                <span>&nbsp;&nbsp;</span>
                                                <span class="btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Vendor Excel</span>
                                                    <span class="fileinput-exists"><i class="far fa-edit"></i>&nbsp;&nbsp; Edit Vendor Excel</span>
                                                    <input type="file" accept=".xlsx" id="vendorclientupload" itemscope="" itemid="vendorclientupload" ng-file-select-items="onFileSelect($files)" />
                                                </span>
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                            </div>

                                        </li>
                                        <li style="cursor:pointer;"><a class="" role="button" ng-click="exportErrorDetails('VENDOR_DETAILS')" aria-hidden="true"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Error Log</a></li>

                                    </ul>
                                </div>
                            </div>-->

                            <!--<div style="display:inline-block;margin-right:10px;margin-top:-8px" class="col-md-2">
                                <button ng-click="goTocategory();" class="btn btn-info m-t-20 btn-sm btn-new-look">Category Management</button>
                            </div>-->
                            <!--<div style="display:inline-block;margin-right:10px;margin-top:-8px" class="col-md-1">
                                <a class="btn btn-info m-t-20 btn-sm btn-new-look" href="#/pages/configuration/registration">
                                    <b>Setup</b>
                                </a>

                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <small style="color:green" class="ng-binding"> Total Count: {{totalCount}}</small>
                            <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" when-scrolled="GetCompanyVendors(1,searchingVendors)">
                                <table class="table table-striped table-vmiddle table-fixed" show-filter="false" st-filtered-collection>
                                    <thead>
                                        <tr>
                                            <th st-sort="companyName" class="header">Company</th>
                                            <th st-sort="firstName" class="header">Vendor Name</th>
                                            <th class="header">Phone</th>
                                            <th class="header">Email</th>
                                            <th class="header">Vendor Code (s)</th>
                                            <th st-sort="regStatus" class="header">Status</th>
                                            <!--<th class="header">Vendor Blocking</th>-->
                                            <th class="header">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendor in vendorDisplayCollecton">
                                            <td>
                                                <a role="button" class="prmellipsis1" title="{{vendor.companyName}}" ng-click="goToVendorDetails(vendor.userID)">{{vendor.companyName}}</a>
                                                <!--<a role="button" class="prmellipsis1" title="{{vendor.companyName}}" ng-click="pctrl.addVendor = 1;addVendorShow=true;getcatalogcategories(vendor.userID);editVendor(vendor);GetAltUsers(vendor)">{{vendor.companyName}}</a>-->
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{vendor.firstName + ' ' + vendor.lastName}}</span>
                                            </td>

                                            <td>
                                                <span class="prmellipsis1">{{ vendor.phoneNum ? vendor.phoneNum : '-'}}</span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{ vendor.email}} </span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{ vendor.companyVendorCodes}}</span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> <strong class="text-primary">{{ getStatus(vendor.regStatus)}}</strong></span>
                                            </td>
                                            <!--<td>
                                                <span class="prmellipsis1">
                                                    <a ng-if="vendor.regStatus!=2" title="Block Vendor" role="button" class="btn btn-danger btn-xs" data-toggle="modal" ng-click="displayVendorPopup(vendor.userID);"> Block Vendor </a>
                                                    <a ng-if="vendor.regStatus==2" title="UnBlock Vendor" role="button" class="btn btn-success btn-xs" data-target="#unBlockVendorPopup" data-toggle="modal" ng-click="displayUnBlockVendorPopup(vendor.userID);"> UnBlock Vendor</a>
                                                </span>
                                            </td>-->
                                            <td>
                                                <!--<a role="button" ng-click="deleteVendor(vendor.userID)" title="De-Activate" style="margin-right:15px"><i class="fas fa-trash-alt "></i></a>-->
                                                <!--<a role="button" ng-click="viewAdditionalData(vendor)" title="More info" style="margin-right:15px"><i class="fas fa-eye"></i></a>-->
                                                <!--<a role="button" ng-click="approvedVendor(vendor)" style="margin-right:15px" title="Approve vendor"><i class="far fa-thumbs-up"></i></a>-->
                                                <!--<a role="button" ng-click="vendorScore(vendor)" style="margin-right:15px" title="Vendor score"><i class="fas fa-star"></i></a>-->
                                                <!--<a role="button" ng-click="resetPwd(vendor.userID)" ng-if="showIsSuperUser()" title="Reset Password" style="margin-right:15px"><i class="fas fa-key "></i></a>-->

                                                <a role="button" ng-click="pctrl.viewVendor = false;pctrl.addVendor = 1;addVendorShow=true;getcatalogcategories(vendor.userID);editVendor(vendor);GetAltUsers(vendor)" style="margin-right:15px" title="Edit vendor"><i class="fas fa-edit"></i></a>
                                                <a role="button" ng-click="pctrl.viewVendor = true;pctrl.addVendor = 1;addVendorShow=true;getcatalogcategories(vendor.userID);editVendor(vendor);GetAltUsers(vendor)" style="margin-right:15px" title="View vendor"><i class="fa fa-eye"></i></a>
                                                <a role="button" href="FileDownload.aspx?attachid={{vendor.catalogFile}}&sessionid={{sessionid}}" ng-if="vendor.catalogFile && vendor.catalogFile != ''" style="margin-right:15px" title="My Catalog"><i class="fas fa-download"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--<tfoot>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                            </td>
                                            <td class="text-right" style="padding-top:35px">
                                                <div>Total: {{filteredCollection.length}}</div>
                                            </td>
                                        </tr>
                                    </tfoot>-->
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="width:950px;">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table tablesaw table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Row Number</th>
                                                <th style="text-align:center">Error Message</th>
                                                <th style="text-align:center">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in rowErrors">
                                                <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                <td ng-bind-html="item.REASON"></td>
                                                <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-5">
                                    <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadExcel('MATERIAL_DETAILS',1);">Continue</button>
                                    <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #region Vendor Email Share Pop-Up -->
            <div class="modal" id="registartionLinkPopup" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 100%;">
                        <div class="modal-header" style="background-color: lightblue">
                            <button class="close" data-dismiss="modal" style="color:initial" ng-click="clearForm();">&times;</button>
                            <h3 class="modal-title">Send Registration Link</h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead style="background-color:skyblue">
                                        <!--#377ba0-->
                                        <tr style="font-weight: bold">
                                            <td style="text-align:center">Workflows</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td style="text-align:center">
                                                <select chosen name="workflowType" ng-model="workflowObj.workflowID" ng-disabled="disableSave"
                                                        ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown">
                                                    <option value="">Select Workflow</option>
                                                </select>
                                            </td>
                                            <td><button class="btn btn-primary" ng-disabled="disableSave" ng-click="SendEmailToVendors(workflowObj.workflowID,$event)">Send</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-danger" ng-if="errorMessage!=''">
                                {{errorMessage}}
                            </div>
                            <div class="text-danger" ng-if="showErrorMessage!='' && message!=''">
                                {{message}} {{showErrorMessage}}
                            </div>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Vendor Email Share Pop-Up -->
            <!-- #region UnBlock Vendor Share Pop-Up -->
            <div class="modal" id="unBlockVendorPopup" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 100%;">
                        <div class="modal-header" style="background-color: lightblue">
                            <button class="close" data-dismiss="modal" style="color:initial" ng-click="clearForm();">&times;</button>
                            <h3 class="modal-title">UnBlock Vendor </h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead style="background-color:skyblue">
                                        <tr style="font-weight: bold">
                                            <td style="text-align:center">Workflows</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td style="text-align:center">
                                                <select chosen name="workflowType" ng-model="workflowObj.unblockWorkflowID"
                                                        ng-options="wf.workflowID as wf.workflowTitle for wf in unblockWorkflowList" required class="form-control-dropdown">
                                                    <option value="">Select Workflow</option>
                                                </select>
                                            </td>
                                            <td><button class="btn btn-primary" ng-disabled="disableUnblockSave" ng-click="unBlockVendor(workflowObj.unblockWorkflowID)">Send</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-danger" ng-if="unblockErrorMessage!=''">
                                {{unblockErrorMessage}}
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="newGSTInfo" tabindex="-1">
                <div class="modal-dialog" style="width: 90%;height:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">X</button>
                            <h3>New GST info</h3>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                <div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label>GST Number:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.gstNumber"
                                                   name="gstNumber" id="gstNumber" type="text" class="form-control" required>
                                        </div>
                                        <div class="col-md-2" ng-if="isDuplicateGST(newGSTInfo.gstNumber)">
                                            <label class="text-danger">GST Number already exists.</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;">
                                        <div class="col-md-1">
                                            <label>GST Address:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.gstAddr"
                                                   name="gstAddr" id="gstAddr" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;">
                                        <div class="col-md-1">
                                            <label>Vendor Code:</label>
                                        </div>

                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.vendorCode"
                                                   name="vendorCode" id="vendorCode" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;">
                                        <div class="col-md-1">
                                            <label>Vendor Site Code:</label>

                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="newGSTInfo.vendorSiteCode"
                                                   name="vendorCode" id="vendorCode" type="text" class="form-control" required>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-info pull-right" ng-disabled="isDuplicateGST(newGSTInfo.gstNumber, newGSTInfo.vendorCode)" ng-click="saveCompanyGSTInfo(vendor);">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion Block Vendor Pop-Up -->

    </div>
</div>

<script type="text/ng-template" id="VendorStatusModal.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="modal-title">Status</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form novalidate name="VendorStatusForm" ng-init="_modalCtrl.getCategories();">


            <div class="form-group row">
                <div class="col-xs-12">
                    <label class="form-control-label">Status <span class="text-danger"> *</span></label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" required ng-model="_modalCtrl.Model.Status" name="Status">
                        <option value="">-- select status ---</option>

                        <option value="{{iem.id}}" ng-repeat="iem in  _modalCtrl.StatusList">{{iem.name}}</option>
                    </select>
                    <div ng-messages="VendorStatusForm.Status.$error" role="alert">
                        <div ng-message="required">Status is required</div>

                    </div>
                </div>
            </div>
            <div class="form-group row" ng-if="_modalCtrl.Model.Status === '2'">
                <div class="col-xs-12">
                    <label class="form-control-label">Reason <span class="text-danger"> *</span></label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" required ng-model="_modalCtrl.Model.Reason" name="Reason">
                        <option value="">-- select reason ---</option>

                        <option value="{{iem}}" ng-repeat="iem in  _modalCtrl.ReasonList">{{iem}}</option>
                    </select>
                    <div ng-messages="VendorStatusForm.Reason.$error" role="alert">
                        <div ng-message="required">Reason is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-if="_modalCtrl.Model.Status === '2'">
                <div class="col-xs-12">
                    <label class="form-control-label">Comment</label>
                </div>
                <div class="col-xs-12">
                    <textarea name="Comment" ng-model="_modalCtrl.Model.Comment" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="button" ng-click="_modalCtrl.updateStatus(VendorStatusForm)">Update</button>
                    <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</script>

<script type="text/ng-template" id="VendorScoreModal.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="modal-title">Score</h3>
    </div>
    <div class="modal-body" id="modal-body" ng-init="_modalCtrl.getVendorScore()">
        <form novalidate name="VendorScoreForm">

            <table class="table table-bordered">
                <tr>
                    <th>Field</th>
                    <th>Default score</th>
                    <th>Score</th>

                </tr>

                <tr ng-repeat="item in  _modalCtrl.Model.Scores">
                    <td> {{item.Field}}</td>
                    <td>{{item.DefaultValue}}</td>
                    <td><input type="number" class="form-control" min="0" ng-model="item.Value" /></td>

                </tr>

            </table>
            <div class="form-group row text-right">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="button" ng-click="_modalCtrl.updateScore(VendorScoreForm)">Update</button>
                    <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</script>
<script type="text/ng-template" id="VendorAdditionalModal.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title text-white" id="modal-title">Vendor additional info</h3>

    </div>
    <div class="modal-body" id="modal-body">
        <table class="table table-bordered">
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Score</th>
            </tr>
            <tr ng-if="key != 'Attchments' && key != 'Score'" ng-repeat="(key,value) in _modalCtrl.addtionalInforMationData">
                <td>{{key}}</td>
                <td>
                    <span>
                        {{value}}
                    </span>
                    <span ng-if="item.Field == key" ng-repeat="item in _modalCtrl.addtionalInforMationData['Attchments']">
                        <a href="FileDownload.aspx?attachid={{file}}&sessionid={{_modalCtrl.sessionid}}" target="_blank" ng-repeat="file in item.Files">
                            <i class="fa fa-download"></i>
                        </a>
                    </span>
                </td>
                <td>

                    <span ng-if="item.Field == key" ng-repeat="item in _modalCtrl.addtionalInforMationData['Score']">

                        <span>
                            {{item.Value}}
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>

</script>
