<div class="white-box ">
    <div class="pmb-block" data-ng-controller="profileSettingsCtrl as pctrl">
        
        <div class="pmbb-body" id="generatePDFHTMl">
            <div id="editor" class="bypass"></div>
            <form name="test4" class="pmbb-edit" novalidate>
                <div class="text-center top-buffer col-md-12 fltleft padding0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group fg-float row">
                                <h2 class="pull-left"><i class="zmdi zmdi-settings m-r-5"></i> Negotiation Settings</h2>
                            </div>
                            <div class="row">
                                <div class="form-group fg-float col-sm-5 m-b-30">
                                    <div class="form-group fg-toggled">
                                        <label class="fg-label col-sm-12 p-0 pull-left">Min Reduction Amount (Reverse bid)
                                        <!--/ Min Incremental Amount (Forward Bid)-->
                                        </label>
                                        <div>
                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.minReductionAmount" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-sm-5 m-b-30">
                                    <div class="form-group fg-toggled">
                                        <label class="fg-label col-sm-12 pull-left">Vendor Rank Comparision</label>
                                        <div>
                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.rankComparision" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-sm-5 m-b-30">
                                    <div class="form-group fg-toggled">
                                        <label class="pull-left">Disable Local GST</label>
                                        <div>
                                            <label class="switch">
                                                <input type="checkbox" ng-model="NegotiationSettings.disableLocalGSTFeature" value="true" />
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-sm-5">
                                    <button ng-disabled="NegotiationSettingsValidationMessage" class="btn btn-info pull-right btn-new-look" ng-click="saveNegotiationSettings();">Save</button>  
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group fg-float row">
                                <h2 class="pull-left"><i class="zmdi zmdi-settings m-r-5"></i> Negotiation Duration</h2>
                            </div>
                            <div class="row">
                                <div class="form-group fg-float col-sm-3 m-b-30">

                                    <div class="form-group fg-toggled">
                                        <label class="fg-label col-sm-1 ">Days</label>
                                        <div>
                                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="days" class="form-control" required />
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group fg-float col-sm-3 m-b-30">
                                    <div class="form-group  fg-toggled">
                                        <label class="fg-label col-sm-1 ">Hours</label>
                                        <div>
                                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="hours" class="form-control" required />
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group fg-float col-sm-3 m-b-30">
                                    <div class="form-group fg-toggled">
                                        <label class="fg-label col-sm-1 ">Min</label>
                                        <div>
                                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="mins" class="form-control" required />
                                        </div>

                                    </div>
                                </div>
                                <!--<div class="form-group fg-float col-sm-3 m-b-30">
                                    <div class="form-group fg-toggled">
                                        
                                        <button ng-disabled="NegotiationSettingsValidationMessage" class="btn btn-info pull-right btn-new-look" ng-click="saveNegotiationSettings();">Save</button>

                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-30">
                    <h4 class="prmredcolor">{{NegotiationSettingsValidationMessage}}</h4>
                </div>                
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="pmbb-header">
                    <h2>Last Price Filter</h2>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-12">From date</label>
                            <div class="col-md-12" moment-picker="NegotiationSettings.reqFromDate" format="DD/MM/YYYY">
                                <input class="form-control" placeholder="Select a date" ng-model="NegotiationSettings.reqFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="userFromValidation || FromValidation">
                                <div class="help-block error logininput text-danger" ng-show="FromValidation">Please select From Date</div>
                                <div class="help-block error logininput text-danger" ng-show="userFromValidation">Please select valid From Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-12">To date</label>
                            <div class="col-md-12" moment-picker="NegotiationSettings.reqToDate" format="DD/MM/YYYY" min-date="minDateMoment">
                                <input class="form-control" placeholder="Select a date" ng-model="NegotiationSettings.reqToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="userToValidation || ToValidation">
                                <div class="help-block error logininput text-danger" ng-show="ToValidation">Please select To Date</div>
                                <div class="help-block error logininput text-danger" ng-show="userToValidation">To Date should be greater than From Date and current date</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="saveNegotiationSettings();">Save</button></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pmbb-header">
                    <h2>Best Price Filter</h2>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-12">From date</label>
                            <div class="col-md-12" moment-picker="NegotiationSettings.bestPriceFromDate" format="DD/MM/YYYY">
                                <input class="form-control" placeholder="Select a date" ng-model="NegotiationSettings.bestPriceFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="bestPriceuserFromValidation || bestPriceFromValidation">
                                <div class="help-block error logininput text-danger" ng-show="bestPriceFromValidation">Please select From Date</div>
                                <div class="help-block error logininput text-danger" ng-show="bestPriceuserFromValidation">Please select valid From Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-12">To date</label>
                            <div class="col-md-12" moment-picker="NegotiationSettings.bestPriceToDate" format="DD/MM/YYYY" min-date="minDateMoment">
                                
                                <input class="form-control" placeholder="Select a date" ng-model="NegotiationSettings.bestPriceToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="bestPriceuserToValidation || bestPriceToValidation">
                                <div class="help-block error logininput text-danger" ng-show="bestPriceToValidation">Please select To Date</div>
                                <div class="help-block error logininput text-danger" ng-show="bestPriceuserToValidation">To Date should be greater than From Date and current date</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="saveNegotiationSettings();">Save</button></div>
                </div>
            </div>
        </div>
        

        

    </div>

    <!--<div class="pmb-block" data-ng-controller="profileSettingsCtrl as pctrl">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-settings m-r-5"></i> PR Settings</h2>
        </div>
        <div class="pmbb-body" id="prSettings">
            <form name="test5" class="pmbb-edit" novalidate>
                <div class="text-center top-buffer col-md-12 fltleft padding0">
                    <div class="form-group fg-float col-sm-1 m-b-30" ng-repeat="day in weekDays">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="checkbox" ng-model="day.isSelected" ng-value="false" /> &nbsp;<strong>{{day.name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-30">
                    <button class="btn btn-info btn-sm btn-new-look" ng-click="savePRSettings();">Save</button>
                </div>
            </form>
            <div class="m-t-30">

            </div>
        </div>
    </div>-->
</div>
