<div class="white-box">
    <div class="pmb-block ng-scope" ng-controller="profileReqsCtrl">
        <div class="pmbb-header">
            <div class="row" style="margin-bottom:10px;">

                <div>
                    <div class="col-md-3">
                        <h3 style="display:inline-block;margin:5px">
                            <i class="zmdi zmdi-view-list"></i>  My Requirements List
                        </h3>
                    </div>

                    <div class="col-md-2">
                        <label>
                            <input type="radio" ng-model="reqLevel" value=1 name="reqLevel" />&nbsp;Req Level
                            <input type="radio" ng-model="reqLevel" value=0 name="reqLevel" ng-click="routereqItem()" />&nbsp;Item Level
                        </label>
                    </div>


                </div>

                <div class="col-md-12">

                    <div class="col-md-2 m-t-20">
                        <select ng-model="reqStatus" ng-change="setPage(1)" class="form-control" style="margin:5px">
                            <option selected value="ALL">ALL STATUS</option>
                            <option value='UNCONFIRMED'>{{prmStatus(isCustomer,'UNCONFIRMED')}}</option>
                            <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                            <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                            <!--<option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>-->
                            <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                            <option value='Quotations Received'>{{prmStatus(isCustomer,'Quotations Received')}}</option>
                            <option value='Saved As Draft'>{{prmStatus(isCustomer,'Saved As Draft')}}</option>
                            <option value='QCS Created'>{{prmStatus(isCustomer,'QCS Created')}}</option>
                            <option value='QCS Pending'>{{prmStatus(isCustomer,'QCS Pending')}}</option>
                            <option value='QCS Approval Pending'>{{prmStatus(isCustomer,'QCS Approval Pending')}}</option>
                            <option value='QCS Approved'>{{prmStatus(isCustomer,'QCS Approved')}}</option>
                            <option value='Closed'>{{prmStatus(isCustomer,'Closed')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 m-t-20">
                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="setPage(1);" ng-model="searchKeyword" type="text" placeholder="Search">
                    </div>
                    <div class="col-md-2 m-t-20">
                        <select data-placeholder="Select Type" name="buyer" ng-model="buyerFilter" ng-change="setPage(1);" ng-options="buyer for buyer in buyers" class="form-control" style="margin:5px">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-12">From date</label>
                            <div class="col-md-12" moment-picker="filterDate.reqFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-12">To date</label>
                            <div class="col-md-12" moment-picker="filterDate.reqToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"><button class="btn btn-info pull-left m-t-20 waves-effect waves-light" ng-click="loadBuyers();">Apply</button></div>

                    <div class="col-md-1 m-t-20">
                        <div class="dropdown btn-group fg-float">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fa fa-cog" aria-hidden="true"></i> Reports
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong>Consolidated Report</strong></a></li>
                                <li><a class="" role="button" ng-click="reporting(0)" aria-hidden="true"><strong>Case ID Reporting</strong></a></li>
                                <li><a class="" role="button" ng-click="reporting(1)" aria-hidden="true"><strong>MSL Reporting</strong></a></li>
                                <li><a class="" role="button" data-ui-sref="getPendingQuotationsReport()" aria-hidden="true"><strong>Get Pending Quotations Report</strong></a></li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="true">
                    <div class="col-md-2" style="margin-top:4px;">
                        <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                <i class="fa fa-plus-square"></i> Excel
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li style="cursor:pointer;"><a class="" role="button" ng-click="exportToExcel('REQUIREMENT_DETAILS')" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export REQ Excel</a></li>

                                <li style="cursor:pointer;">
                                    <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                        <span>&nbsp;&nbsp;</span>
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload REQ  Excel</span>
                                            <span class="fileinput-exists"><i class="far fa-edit"></i>&nbsp;&nbsp; Edit REQ Excel</span>
                                            <input type="file" accept=".xlsx" id="requirementclientupload" itemscope="" itemid="requirementclientupload" ng-file-select-items="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>

                                </li>
                                <li style="cursor:pointer;"><a class="" role="button" ng-click="exportErrorDetails('REQUIREMENT_DETAILS')" aria-hidden="true"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Error Log</a></li>

                            </ul>
                        </div>
                    </div>

                </div>

                <!-- <div class="col-md-3" style="margin-left:0px !important;">
                <div class="col-md-12">
                      <button ng-click="GetRequirementsReport()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
                          Margin-Type Consolidated Report
                      </button>
                  </div>-->

            </div>
        </div>
        <div class="table table-responsive z-depth-2">

            <div class="row" style="margin-left:0px !important;margin-top:10px;" ng-hide="true">
                <div class="col-md-12">
                    <!--<label>
                        <input type="radio" ng-model="radioData.name" name="biddingType" value='reverse' ng-change="getAuctions('reverse')">
                        Reverse Bidding
                    </label>
                    <label>
                        <input type="radio" ng-model="radioData.name" name="biddingType" value='forward' ng-change="getAuctions('forward')">
                        Forward Bidding
                    </label>-->
                    <div class="toggle-switch">
                        <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" ng-change="getAuctions()" />
                        <label for="forwardBidding" class="ts-helper"></label>
                        <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View Forward Bidding</label>
                    </div>
                </div>
            </div>
            <small style="color:green"> Total Count:{{totalItems}}</small>
            <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                <tr ng-repeat-start="auction in myAuctions">
                    <td data-title="''">
                        <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true;getAuctionItems(auction)" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                        <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                    </td>
                    <td data-title="'Req Number'" sortable="'ID'">
                        {{ auction.requirementNumber}}
                    </td>
                    <td data-title="'Req Type'" sortable="'Type'">
                        <strong style="color:{{auction.rfpStatusColor}}">
                            {{ auction.isRFP ? 'RFP/RFI' : 'RFQ'}}
                        </strong>
                    </td>
                    <td data-title="'Title'" sortable="'Name'" ng-if="!formRequest.isForwardBidding">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE' || auction.biddingType === 'SPOT'" title="{{auction.title}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                        <a class="prmellipsis" ng-if="auction.biddingType === 'TENDER'" title="{{auction.title}}" data-ui-sref="view-tender({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Title'" sortable="'Name'" ng-if="formRequest.isForwardBidding">
                        <a class="prmellipsis" data-ui-sref="fwd-view-req({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Posted By'">{{auction.userName}}</td>
                    <!--<td data-title="'Category'" sortable="'Category'">
                        {{ auction.category[0]}}
                    </td>-->

                    <td data-title="'Quotations Status'">{{auction.noOfVendorsParticipated}} / {{auction.noOfVendorsInvited}} </td>
                    <td data-title="'Posted On'">
                        {{ auction.postedOn}}
                    </td>
                    <td data-title="'Freeze Time'">
                        {{ auction.quotationFreezTime}}
                    </td>
                    <td data-title="'Negotiation Time'">
                        <span ng-if="auction.IS_CB_ENABLED == false && auction.status != 'DELETED'">
                            {{auction.startTime && auction.startTime != '-' ? auction.startTime : auction.expStartTime}}
                        </span>
                        <span ng-if="auction.IS_CB_ENABLED == true || auction.status == 'DELETED'">
                            {{auction.expStartTime}}
                        </span>
                    </td>
                    <td data-title="'Status'" sortable="'Is Closed'">
                        <strong class="{{auction.statusColor}}">
                            {{ prmStatus(isCustomer,auction.status) }}
                            <strong ng-if="auction.isLockReq" class="text-success">(Locked)</strong>
                        </strong>
                    </td>
                    <!--<td data-title="'Project Name'">
                        {{auction.projectName}}
                    </td>
                    <td data-title="'Client Name'">
                        {{auction.projectDetails}}
                    </td>-->
                    <td data-title="'PR Number'" width="10%">
                        <span style="word-break: break-word;">{{auction.prNumbers}}</span>
                    </td>
                    <td data-title="'Actions'">
                        <a title="Clone Requirement" role="button" ng-click="cloneRequirement(auction)" style="text-align:center"><i class="fa fa-clone" aria-hidden="true"></i></a>&nbsp;&nbsp;

                        <a title="Open Chat" role="button" ng-click="chatRequirement(auction)" class=""><i class="fa fa-comment-alt" aria-hidden="true"></i></a>
                    </td>

                </tr>
                <tr ng-repeat-end ng-if="auction.expanded">
                    <td colspan="16">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Case ID</th>
                                    <th> SKU ID </th>
                                    <th> Product Name </th>
                                    <th> Product Description </th>
                                    <th> Brand </th>
                                    <th> Brand Part Code </th>
                                    <th> Category </th>
                                    <th> Model </th>
                                    <th> Delivery Location </th>
                                    <th> Entity </th>
                                    <th> Type of Stock </th>
                                    <th> Required Quantity </th>
                                    <th> Part Image </th>
                                    <th>Expected Delivery Date</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in auction.auctionItems">
                                <td>{{item.caseID}}</td>
                                <td>{{item.productNo}}</td>
                                <td>{{item.productName}}</td>
                                <td>{{item.productDesc}}</td>
                                <td>{{item.brand}}</td>
                                <td>{{item.brandPartCode}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.modelName}}</td>
                                <td>{{item.deliveryLocation}}</td>
                                <td>{{item.entity}}</td>
                                <td>{{item.typeOfStock}}</td>
                                <td>{{item.requiredQuantity}}</td>
                                <td>{{item.partImage}}</td>
                                <td>{{item.expDeliveryDate}}</td>
                            </tr>
                        </table>
                        <!--<div class="row">
                            <div class="col-md-4"><strong>case id</strong></div>
                            <div class="col-md-8">{{item.caseid}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>sku id</strong></div>
                            <div class="col-md-8">{{item.productno}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>product name</strong></div>
                            <div class="col-md-8">{{item.productname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>product description</strong></div>
                            <div class="col-md-8">{{item.productdesc}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>brand</strong></div>
                            <div class="col-md-8">{{item.brand}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>brand part code</strong></div>
                            <div class="col-md-8">{{item.brandpartcode}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>category</strong></div>
                            <div class="col-md-8">{{item.category}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>model</strong></div>
                            <div class="col-md-8">{{item.modelname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>delivery location</strong></div>
                            <div class="col-md-8">{{item.deliverylocation}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>entity</strong></div>
                            <div class="col-md-8">{{item.entity}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>type of stock</strong></div>
                            <div class="col-md-8">{{item.typeofstock}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>required quantity</strong></div>
                            <div class="col-md-8">{{item.requiredquantity}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>part image</strong></div>
                            <div class="col-md-8">{{item.partimage}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>expected delivery date</strong></div>
                            <div class="col-md-8">{{getdate(item.expdeliverydate)}}</div>
                        </div>-->
                    </td>
                </tr>
            </table>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
        </div>

        <div class="clearfix" style="margin-bottom:150px;"></div>
        <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="width:950px;">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table tablesaw table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Row Number</th>
                                            <th style="text-align:center">Error Message</th>
                                            <th style="text-align:center">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in rowErrors">
                                            <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                            <td ng-bind-html="item.REASON"></td>
                                            <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-5">
                                <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadExcel('REQUIREMENT_DETAILS',1);">Continue</button>
                                <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>

</div>
</div>