﻿<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="reqSearchCtrl">


            <div class="row ">
                <div class="col-md-12 negotiation_outside_card">
                    <div class="sectiontitle">
                        <h2 class="postrequirement_h"></h2>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Negotiation Search<small>Search for the Previous Negotiations</small></h2>
                    <div class="text-center top-buffer col-md-12 fltleft padding0">
                        
                        <div class="form-group fg-float col-sm-4 m-b-30">
                            <div class="fg-line fg-toggled">
                                <div>
                                    <select ng-model="searchstype" ng-change="GetCompanyLeads()" class="form-control" data-placeholder="Select an urgency..." id="urgency">
                                        <option value="REQ_ID">Req ID</option>
                                        <option value="TITLE">Title</option>
                                        <option value="DESCRIPTION">Description</option>
                                        <option value="PRODUCT_ID">Product ID (or) Name</option>
                                        <option value="PRODUCT_NO">Product NO</option>
                                    </select>
                                </div>
                                <label class="fg-label">Search Type</label>
                            </div>
                        </div>
                    </div>

                    <div class="text-center top-buffer col-md-12 fltleft padding0">                       
                        
                        <div class="form-group fg-float col-sm-4 m-b-30">
                            <div class="fg-line fg-toggled">
                                <div>
                                    <input type="text" ng-model="searchstring" ng-change="GetCompanyLeads()" class="form-control" required>
                                </div>
                                <label class="fg-label">Search</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body card-padding">

                    <h4>Search Results</h4>

                    <table class="table table-vmiddle quotes_table table-hover table-responsive z-depth-1">
                        <tr>
                            <th style="width:5%">Req ID</th>
                            <th style="width:25%">Title</th>
                            <th style="width:10%">Category</th>
                            <th style="width:15%">Posted On</th>
                            <th style="width:15%">Least Initial Price</th>
                            <th style="width:15%">Least Final Price</th>                            
                        </tr>
                        <tr ng-repeat="req in CompanyLeads">
                            <td>                                
                                <a data-ui-sref="view-requirement({Id:req.requirementID})" target="_blank" alt="{{req.requirementID}}">
                                    {{req.requirementID}}
                                </a>
                            </td>
                            <td>
                                {{req.title}}
                            </td>
                            <td>
                                {{req.stringCategory}}
                            </td>
                            <td>
                                {{req.postedOn}}
                            </td>
                            <td>
                                {{req.intialLeastVendorPrice}}
                            </td>
                            <td>
                                {{req.leastVendorPrice}}
                            </td>
                        </tr>
                    </table>
                    <h4 class="text-center" ng-show="message != ''">{{message}}</h4>
                </div>
            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>