﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="threeWayMatchingCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search by Invoice no, PO no and GRN no">
                        </div>
                        <!--<div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12  p-l-0" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1 m-t-30"><button style="margin-top:7px;" class="btn btn-sm btn-info pull-right  waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>-->



                    </div>
                    <div class="row m-t-10">
                        <small style="color:green;margin-left:15px;">Total Count :{{totalItems}}</small>
                        <div class="col-md-12 table-responsive">
                            <table class="table-striped table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="text-align:center">PO Number</th>
                                        <th style="text-align:center">PO Line Item</th>
                                        <th style="text-align:center">Product Name</th>
                                        <th style="text-align:center">Received Quantity</th>
                                        <th style="text-align:center">RFQ Order Quantity</th>
                                        <th style="text-align:center">Invoice Number</th>
                                        <th style="text-align:center">Invoice Qty</th>
                                        <th style="text-align:center">GRN No</th>
                                        <th style="text-align:center">GRN Received</th>
                                        <th style="text-align:center">Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in threeWayMatchingList" style="color:{{item.displayColor}}">
                                        <td style="text-align:center">
                                            <label>{{item.PO_NUMBER}}</label>
                                        </td>

                                        <td style="text-align:center">
                                            <label>{{item.PO_LINE_ITEM}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{item.PRODUCT_NAME}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{item.PO_RECEIVED_QTY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{item.ORDER_QTY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <a ng-click="viewInvoice(item)">{{item.INVOICE_NUMBER}}</a>

                                        </td>
                                        <td style="text-align:center">
                                            <label>{{item.INVOICE_QTY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <a ng-click="viewGRN(item.GRN_NUMBER)">{{item.GRN_NUMBER}}</a>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{item.GRN_RECEIVED_QTY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{item.MESSAGE}}</label>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
