<!--<div class="white-box fdcBorders">
    <div class="row">
        <div class="col-md-4">
            <div>
                <label class="fg-label">Vendor First Name <span class="text-danger">*</span></label>
                <input type="text" ng-model="newVendor.firstName" ng-change="addVendorValidation()" class="form-control fg-input" name="firstName" id="firstName" required />
            </div>
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.firstName.$error.required">Please enter First Name</small>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label class="fg-label">Vendor Last Name</label>
                <input type="text" ng-model="newVendor.lastName" ng-change="addVendorValidation()" class="form-control fg-input" name="lastName" id="lastName" />
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label class="fg-label">Email <span class="text-danger">*</span></label>
                <input type="email" ng-model="newVendor.email" ng-model-options="{debounce:100}"
                       ng-change="checkUserUniqueResult('EMAIL',newVendor.email);EmailValidate1()" class="form-control fg-input" name="Email" id="Email" required />
            </div>
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Email.$dirty || vendorregisterForm.Email.$touched">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.Email.$error.required">Please enter Email</small>
                <small class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.Email.$error.required && vendorregisterForm.Email.$error.Email) || showEmailValid">Please enter a valid Email</small>
                <small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.Email.$error.required">Email already exists</small>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4">
ng-if="vendorID === 0 ? true: newVendor.contactNum.toString().length == 10"
<div>
    <label class="fg-label">Phone <span class="text-danger" ng-show="preferredLogin === 'PHONE'">*</span></label>
    <input type="number" ng-model="newVendor.contactNum" ng-model-options="{debounce:100}"
           ng-change="checkUserUniqueResult('PHONE',newVendor.contactNum)" class="form-control fg-input" name="phoneNum" id="phoneNum"
           minlength="10" maxlength="15" onKeyPress="if(this.value.length==15) return false;" ng-required="preferredLogin === 'PHONE' ? true: false" />
ng-required="preferredLogin === 'PHONE' ? true: false"
</div>
<div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$dirty || vendorregisterForm.phoneNum.$touched">
    <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</small>
    <small class="help-block error logininput text-danger" ng-show="vendorregisterobj.phoneNum.$error.number">Please enter a valid phonenumber</small>
    <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be min 10 digits.</small>
    <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be max 10 digits.</small>
    <small class="help-block error logininput text-danger" ng-show="checkVendorPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</small>
</div>
<label>
    <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && contactvalidation">Please enter valid Phone Number</label>
    <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && contactvalidationlength">Phone Number must be exactly 10 digits.</label>
    <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && checkVendorPhoneUniqueResult && !contactvalidation">Phone number already exists</label>
</label>
</div>
<div class="col-md-4">
    <div>
        <label class="fg-label">Vendor Company Name <span class="text-danger">*</span></label>
        <input type="text" ng-model="newVendor.companyName" ng-change="addVendorValidation()" class="form-control fg-input" name="institution" id="institution" required />
    </div>
<label>
    <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.institution.$touched) ">Please enter Vendor Company Name</label>
</label>
<div ng-show="vendorregisterForm.$submitted || vendorregisterForm.institution.$touched">
        <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.institution.$error.required">Please enter Company Name</small>
    </div>
</div>
<div class="col-md-4">
    <div>
        <label class="fg-label" for="category">Currency <span class="text-danger">*</span></label>
        <select ng-model="newVendor.currency" ng-change="addVendorValidation()" name="currency" id="currency" class="form-control" ng-options="currency.value for currency in currencies" required></select>
    </div>
<label>
    <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched) && currencyvalidation">Please Select Vendor Currency</label>
</label>
<div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched)">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.currency.$error.required">Please Select Currency</small>
            </div>
            <br />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <label for="Country">Country <span class="text-danger">*</span></label>
                <select title="{{newVendor.Country.configValue}}" name="Country" id="Country" ng-model="newVendor.Country"
                        ng-options="countr.configValue as countr.configValue for countr in companyCountryUnits" class="form-control"
                        required></select>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Country.$touched">
                    <small class="help-block error logininput" style="color:red" ng-show="vendorregisterForm.Country.$error.required">Please Select Country</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <label for="Country">SAP Vendor Code </label>
                <input class="form-control" ng-model="newVendor.sapVendorCode" type="text" valid-number allow-decimal="false" allow-negative="false"
                       ng-model-options="{debounce:100}" ng-change="checkUserUniqueResult('SAP_VENDOR_CODE',newVendor.sapVendorCode);"
                       id="VendCode" name="VendCode">
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.VendCode.$dirty || vendorregisterForm.VendCode.$touched">
                    <small class="help-block error logininput text-danger" ng-show="checkSapVendorUniqueResult">SAP Vendor Code already exists</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <label for="Country">Status <span class="text-danger">*</span></label>
                <select class="form-control" required ng-model="newVendor.vendorStatus" name="vendorStatus" id="vendorStatus"
                         ng-options="iem.id as iem.name for iem in StatusList">
                </select>
            </div>
        </div>

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <label for="Country">Payment Term Code </label>
                <input class="form-control" ng-model="newVendor.paymentTermCode" type="text" id="paymentTermCode" name="paymentTermCode">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label for="Country">Payment Term Desc </label>
                <input class="form-control" ng-model="newVendor.paymentTermDesc" type="text" id="paymentTermDesc" name="paymentTermDesc">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label for="Country">Inco Terms </label>
                <input class="form-control" ng-model="newVendor.incoTerm" type="text" id="incoTerm" name="incoTerm">
            </div>
        </div>

    </div>
</div>-->
<div class="white-box">
    <div class="pmb-block">
        <div class="row col-md-12 col-xs-12">
            <div class="clearfix">
                <div class="pull-left">
                    <h3>
                        New Vendor
                    </h3>
                </div>
            </div>
        </div>
        <form name="vendorregisterForm" ng-model="newVendor">
            <div class="container-fluid" style="padding-left:20px">

                <div class="row col-md-12 col-xs-12">

                    <div class="table-responsive white-box col-md-6 scroll" style="border: 1px solid lightgrey;max-height: 350px; overflow-y: auto;">
                        <div style="text-align:center">
                            <h3>
                                Primary Information
                            </h3>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-md-4">
                                        <label style="color:#606261"><strong>Company Name<span style="color:red"> *</span></strong></label>
                                    </td>
                                    <td class="col-md-10">
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || companyName)}">
                                            <input placeholder="Company Name" type="text" class="form-control" ng-model="newVendor.companyName" name="companyName" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.companyName.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.companyName.$error.required">please enter Company Name</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Vendor Code<span style="color:red"> *</span> </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || sapVendorCode)}">
                                            <input placeholder="Vendor Code" type="text" class="form-control" ng-model="newVendor.sapVendorCode" name="sapVendorCode" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.sapVendorCode.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.sapVendorCode.$error.required">please enter Vendor Code</div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong> Email <span style="color:red"> *</span></strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || email)}">

                                            <div>
                                                <input type="email" ng-model="newVendor.email" ng-model-options="{debounce:100}" placeholder="Email"
                                                       ng-change="checkUserUniqueResult('EMAIL',newVendor.email);EmailValidate1()" class="form-control fg-input" name="Email" id="Email" required />
                                            </div>
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Email.$dirty || vendorregisterForm.Email.$touched">
                                                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.Email.$error.required">Please enter Email</small>
                                                <small class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.Email.$error.required && vendorregisterForm.Email.$error.Email) || showEmailValid">Please enter a valid Email</small>
                                                <small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.Email.$error.required">Email already exists</small>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="fg-label">Phone <span class="text-danger" ng-show="preferredLogin === 'PHONE'">*</span></label>
                                    </td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || contactNum)}">
                                            <!--<div>

                                        <input type="number" ng-model="newVendor.contactNum" ng-model-options="{debounce:100}"
                                               ng-change="checkUserUniqueResult('PHONE',newVendor.contactNum)" class="form-control fg-input" name="phoneNum"
                                               minlength="10" maxlength="15" onKeyPress="if(this.value.length==15) return false;" ng-required="preferredLogin === 'PHONE' ? true: false" />

                                    </div>-->

                                            <div>
                                                <input type="number" ng-model="newVendor.contactNum" ng-model-options="{debounce:100}"
                                                       ng-change="checkUserUniqueResult('PHONE',newVendor.contactNum)" class="form-control fg-input" name="phoneNum" id="phoneNum"
                                                       minlength="10" maxlength="15" onKeyPress="if(this.value.length==15) return false;" ng-required="preferredLogin === 'PHONE' ? true: false" />
                                            </div>
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$dirty || vendorregisterForm.phoneNum.$touched">
                                                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</small>
                                                <small class="help-block error logininput text-danger" ng-show="vendorregisterobj.phoneNum.$error.number">Please enter a valid phonenumber</small>
                                                <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be min 10 digits.</small>
                                                <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be max 10 digits.</small>
                                                <small class="help-block error logininput text-danger" ng-show="checkVendorPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</small>
                                            </div>


                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td> <label style="color:#606261"><strong>Currency<span style="color:red"> *</span> </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || currency)}">
                                            <div>
                                                <select ng-model="newVendor.currency" ng-change="addVendorValidation()" name="currency" id="currency" class="form-control" ng-options="currency.value for currency in currencies" required></select>
                                            </div>
                                            <label>
                                                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched) && currencyvalidation">Please Select Vendor Currency</label>
                                            </label>
                                            <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched)">
                                                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.currency.$error.required">Please Select Currency</small>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>GST Number<span style="color:red"> *</span></strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || serviceTaxNo)}">
                                            <input placeholder="GST" type="text" class="form-control" ng-model="newVendor.serviceTaxNo" name="serviceTaxNo" required />
                                            <div ng-show="vendorregisterForm.$submitted ||vendorregisterForm.serviceTaxNo.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.serviceTaxNo.$error.required">please enter GST Number</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label style="color:#606261"><strong>PAN Number<span style="color:red"> *</span> </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || panno)}">
                                            <input placeholder="PAN" type="text" class="form-control" ng-model="newVendor.panno" id="panno" name="panno" required />
                                            <div ng-show="vendorregisterForm.$submitted ||vendorregisterForm.panno.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.panno.$error.required">please enter PAN Number</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td><label style="color:#606261"><strong>Entity Name<span style="color:red"> *</span></strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || ENTITY_NAME)}">
                                            <input placeholder="Entity Name" type="text" class="form-control" ng-model="newVendor.ENTITY_NAME" id="ENTITY_NAME" name="ENTITY_NAME" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.ENTITY_NAME.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.ENTITY_NAME.$error.required">please enter Entity Name</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>-->

                            </tbody>
                        </table>
                    </div>


                    <div class="table-responsive white-box col-md-6 " style="border: 1px solid lightgrey; min-height: 350px; ">
                        <div style="text-align:center">
                            <h3>
                                Contact Details
                            </h3>
                        </div>
                        <table class="table">
                            <tbody>

                                <tr>
                                    <td class="col-md-4"> <label style="color:#606261"><strong>Contact Name<span style="color:red"> *</span> </strong></label></td>
                                    <td class="col-md-10">
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || firstName)}">
                                            <input placeholder="Contact Name" type="text" class="form-control" ng-change="addVendorValidation()" ng-model="newVendor.firstName" name="firstName" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.firstName.$error.required">please enter Contact Name</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label style="color:#606261"><strong>Desigination</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || designation)}">
                                            <input type="text" placeholder="Contact Desigination" class="form-control" name="designation" ng-model="newVendor.designation" />
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="padding-left:20px">
                <div class="row col-md-12 col-xs-12">

                    <!--<div class="table-responsive white-box col-md-6 scroll" style="border: 1px solid lightgrey;max-height: 350px; overflow-y: auto;">
                        <div style="text-align:center">
                            <h3>
                                Billing Details
                            </h3>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>

                                    <td><label style="color:#606261"><strong>Billing Address </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || address)}">
                                            <input type="text" placeholder="Billing Address" class="form-control" name="Address1" ng-model="newVendor.address" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong> Country </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || Country)}">

                                            <select title="{{newVendor.Country.configValue}}" name="Country" id="Country" ng-model="newVendor.Country"
                                                    ng-options="countr.configValue as countr.configValue for countr in companyCountryUnits" class="form-control"
                                                    required></select>-->
                                            <!--<div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Country.$touched">
                                        <small class="help-block error logininput" style="color:red" ng-show="vendorregisterForm.Country.$error.required">Please Select Country</small>
                                    </div>-->
                                        <!--</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong> Region </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || region)}">
                                            <input type="text" placeholder="Region" class="form-control" name="Region" ng-model="newVendor.region" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label style="color:#606261"><strong>State<span style="color:red"> *</span></strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || State)}">
                                            <textarea placeholder=" State " type="text" class="form-control" rows="1" ng-model="newVendor.State" name="State" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.State.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.State.$error.required">please enter State Name</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label style="color:#606261"><strong>City<span style="color:red"> *</span> </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || City)}">
                                            <input placeholder="City" type="text" class="form-control" ng-model="newVendor.City" name="City" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.City.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.City.$error.required">please enter City Name</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Pincode<span style="color:red"> *</span></strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || PinCode)}">
                                            <input placeholder="Pin Code" type="text" class="form-control" ng-model="newVendor.PinCode" name="PinCode" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.PinCode.$touched">
                                                <div class="help-block error logininput text-danger" ng-show="vendorregisterForm.PinCode.$error.required">please enter Pin Code</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label style="color:#606261"><strong>Billing Address State Code</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true ||BILL_ADD_STATE_CODE)}">
                                            <input type="text" placeholder=" State Code" class="form-control" name="Street1" ng-model="newVendor.BILL_ADD_STATE_CODE" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label style="color:#606261"><strong>Billing Address Zone</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true ||BILL_ADD_ZONE)}">
                                            <input type="text" placeholder="Address Zone" class="form-control" name="Street2" ng-model="newVendor.BILL_ADD_ZONE" />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label style="color:#606261"><strong>Bill To Location</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true ||BILL_TO_LOCATION)}">
                                            <input type="text" placeholder="To Location" class="form-control" name="Street3" ng-model="newVendor.BILL_TO_LOCATION" />
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive white-box col-md-6 scroll" style="border: 1px solid lightgrey;max-height: 350px; overflow-y: auto;">
                        <div style="text-align:center">
                            <h3>
                                Shipping Details
                            </h3>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>

                                    <td><label style="color:#606261"><strong>Shipping Address<span style="color:red"> *</span> </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input placeholder="Address" type="text" class="form-control" ng-model="newVendor.additionalVendorInformation[0].SHIPPING_ADDRESS" name="additionalVendorInformation[0].SHIPPING_ADDRESS" required />
                                            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.additionalVendorInformation.$touched">
                                                <div class="help-block error logininput text-danger" ng-if="newVendor.additionalVendorInformation[0].SHIPPING_ADDRESS==''">please enter Shipping Address</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Shipping Country </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder="Country" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIPPING_COUNTRY" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Shipping Region </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder=" Region" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIPPING_REGION" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label style="color:#606261"><strong>Shipping State</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder=" State" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIPPING_STATE" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label style="color:#606261"><strong> Shipping City </strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder="City" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIPPING_CITY" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Shipping Pincode</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder=" Pincode" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIPPING_PINCODE" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label style="color:#606261"><strong>Shipping Address State Code</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder=" State Code" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIP_ADD_STATE_CODE" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label style="color:#606261"><strong>Shipping Address Zone</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder=" Zone" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIP_ADD_ZONE" />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label style="color:#606261"><strong>Shipping To Location</strong></label></td>
                                    <td>
                                        <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || additionalVendorInformation)}">
                                            <input type="text" placeholder=" To Location" class="form-control" name="additionalVendorInformation" ng-model="newVendor.additionalVendorInformation[0].SHIP_TO_LOCATION" />
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>-->
                </div>
            </div>


            <div class="container-fluid" style="padding-left:20px">
                <div class="row col-md-12 col-xs-12">

                    <div class="table-responsive white-box col-md-6 scroll" style="border: 1px solid lightgrey;max-height: 350px; overflow-y: auto;">
                        <div style="text-align:center">
                            <h4>
                                Additional Details for Vendors onboarded from Oracle
                            </h4>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>

                                    <td><label style="color:#606261"><strong>Vendor Category </strong></label></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" disabled  class="form-control" name="Address1" ng-model="newVendor.vendorCategory" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong> Vendor Status  </strong></label></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" disabled class="form-control" name="Region" ng-model="newVendor.vendorInactiveStatus" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Vendor Type  </strong></label></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" disabled  class="form-control" name="Region" ng-model="newVendor.vendorType" />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td> <label style="color:#606261"><strong>Vendor Inactive Date</strong></label></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" disabled class="form-control" name="Region" ng-model="newVendor.vendorInactiveDate" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="color:#606261"><strong>Payment Method</strong></label></td>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" name="Region" value="EFT" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>