﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listprCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>Creator Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.requisitionerName"
                                         options="item.name for item in filtersList.requisitionList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.newPrStatus"
                                         options="item.name for item in filtersList.statusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>Approval Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.approverStatusLists"
                                         options="item.name for item in filtersList.approverStatusLists"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>From</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.integrationPRLists"
                                         options="item.name for item in filtersList.integrationPRLists"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filters.prFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.prFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filters.prToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.prToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1" ng-if="prDet.prLevel"><button class="btn btn-sm btn-info waves-effect waves-light" style="margin-top:36px;" ng-click="filterByDate(currentPage-1);">Apply</button></div>

                        <div ng-if="prDet.prLevel">
                            <div class="dropdown btn-group fg-float col-md-3" style="margin-top:30px;">
                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                    <span class="caret" style="margin-right:5px;"></span>Manage PR
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="exportPOItemsToExcel()" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp;Export PR Excel</a></li>
                                    <li style="cursor:pointer;">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-top:8px;margin-left: 19px">
                                            <span class=" btn-file" style="background-color:white;margin-right:35px;">
                                                <span class="fileinput-filename">
                                                    <i class="fa fa-upload" style="color:black;"></i>&nbsp;&nbsp;&nbsp;Upload PR Excel
                                                </span>
                                                <input type="file" accept=".xlsx" id="prclientupload" itemid="prclientupload" ng-file-select-items="onFileSelect($files)" />
                                            </span>
                                        </div>
                                    </li>
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="exportErrorDetails('PR_DETAILS')" aria-hidden="true"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Error Logs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel" ng-hide="true">
                            <h5><strong>Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.newPrStatus"
                                         options="item.name for item in filtersList.statusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-hide="true">
                            <h5><strong>Entity Type</strong></h5>
                            <select ng-model="filters.entity" ng-change="setFilters(currentPage-1)" class="form-control">
                                <option value=''>ALL</option>
                                <option value='JEEVES'>Jeeves</option>
                                <option value='F1'>F1</option>
                                <option value='MSL'>MSL</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-hide="true">
                            <h5><strong>PR Type</strong></h5>
                            <select ng-model="filters.prType" ng-change="setFilters(currentPage-1)" class="form-control">
                                <option value=''>ALL</option>
                                <option value='PURCHASE'>PURCHASE</option>
                                <option value='FOC'>FOC</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-2 m-t-20" ng-if="prDet.prLevel" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle" data-target="#templateSelection" data-toggle="modal" type="button" ng-if="showRequirementButton()&&createPOButtonEnable&&isUserEntitled(519951)"
                                    ng-click="requirementMappingClick()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Create PO
                            </button>
                            <button class="btn btn-info btn-sm dropdown-toggle" data-target="#templateSelection1" data-toggle="modal" type="button" ng-if="showRequirementButton()&&createReqButtonEnable&&isUserEntitled(582258)"
                                    ng-click="requirementMappingClick()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Create RFQ
                            </button>
                        </div>
                        <div class="col-md-2" ng-if="showRequirementButton()" style="margin-top: 10px;">
                            <div class="col-md-12"><div class="row"><label><strong>PR's Selected</strong></label></div></div>
                            <textarea style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;">{{selectedPRNumbers}}</textarea>
                        </div>
                    </div>


                    <div class="row" ng-if="prDet.prLevel">
                        <div class="col-md-12 pull-left" style="margin-bottom:10px" ng-hide="true">
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">New PR's ::  {{ PRStats.newPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">

                                    <h5 class="text-center" style="margin-top:5px;">Partial PR's ::  {{ PRStats.partialPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">In-Progress PR's ::  {{ PRStats.inProgressPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of Items in PR'S ::  {{PRStats.totalPRItems}}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of RFQ's Posted ::  {{PRStats.totalRFQPosted}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive z-depth-2">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table table-striped">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th></th>
                                            <th style="min-width:200px;">PR Number</th>
                                            <th style="min-width:150px;">PR Creator Name</th>
                                            <!--<th style="min-width:150px;">PR Type</th>-->
                                            <th style="min-width:50px;">Items</th>
                                            <th style="min-width:50px;">Status</th>
                                            <!--<th style="min-width:200px;">Purchase Group Name</th>-->
                                            <th style="min-width:100px;">Approval Status</th>
                                            <th style="min-width:100px;"> Final Price </th>
                                            <th style="min-width:150px;">Release Date</th>
                                            <th style="min-width:150px;">From</th>
                                            <th style="min-width:100px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="prDetails in filteredPRList">
                                            <td>
                                                <a role="button" ng-hide="prDetails.expanded" ng-click="prDetails.expanded = true;getPrItems(prDetails)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!prDetails.expanded" ng-click="prDetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                                <input ng-disabled="prDetails.PR_STATUS_1 !=='APPROVED'" type="checkbox" class="top-buffer" ng-model="prDetails.selectPRSForRFQ" ng-attr-title="{{prDetails.selectPRSForRFQ ? 'Remove PR from Requirement' : 'Add PR to Requirement'}}" role="button"
                                                       ng-show="(prDetails.NEW_PR_STATUS === 'Partial' || prDetails.NEW_PR_STATUS === 'New')" ng-click="createRFQWithMultiplePR(prDetails)" />
                                            </td>
                                            <td>
                                                {{prDetails.PR_NUMBER}}
                                            </td>
                                            <td>
                                                {{prDetails.PR_CREATOR_NAME}}
                                            </td>
                                            <!--<td>{{prDetails.PR_TYPE}}</td>-->
                                            <td>
                                                {{prDetails.COMPLETED_ITEMS}} / {{prDetails.TOTAL_ITEMS}}
                                            </td>
                                            <td>
                                                {{prDetails.NEW_PR_STATUS}}
                                            </td>
                                            <!--<td>{{prDetails.DEPARTMENT_NAME ? prDetails.DEPARTMENT_NAME : '-'}}  </td>-->
                                            <td>
                                                {{prDetails.PR_STATUS}} {{prDetails.CurrentApproverName == '' || prDetails.CurrentApproverName == null || prDetails.CurrentApproverName == undefined  ?'':'By'}} {{prDetails.CurrentApproverName}}
                                            </td>
                                            <td>{{prDetails.TOTAL_PRICE}}</td>

                                            <td>
                                                {{prDetails.RELEASE_DATE}}
                                            </td>
                                            <td>
                                                {{prDetails.FROM_INTEGRATION}}
                                            </td>
                                            <td>
                                                <a class="fa fa-edit" ng-disabled="prDetails.PR_STATUS_1 ==='APPROVED'" role="button" style="margin-left:10px;" ng-click="goToPrAction(prDetails)"></a>
                                                <!--<i class="fa fa-link" role="button" style="margin-left:10px;" data-target="#linkRFP" data-toggle="modal" aria-hidden="true" ng-click="showLinkToRFP(prDetails);" title="Link to RFP"></i>-->
                                                <a data-toggle="modal" data-target="#uploadAttachmentModal" ng-click="getPRAttachmentDetails(prDetails,$index)" title="View Upload PR Details" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;

                                            </td>
                                        </tr>

                                        <tr ng-repeat-end ng-if="prDetails.expanded">
                                            <td colspan="16">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <!--<th> </th>-->
                                                            <th> Case Id </th>
                                                            <th> Req / Contract Number</th>
                                                            <th>SKU ID</th>
                                                            <th> Product Name </th>
                                                            <th>Product  Desc. </th>
                                                            <th> Brand </th>
                                                            <th> Brand Part Code </th>
                                                            <th> Category </th>
                                                            <th>Model Name</th>
                                                            <th> Qty </th>
                                                            <th> Qty Units</th>
                                                            <th>Expected Delivery Date </th>
                                                            <th>Delivery Location</th>
                                                            <th>Entity</th>
                                                            <th> QCS ID</th>
                                                            <th> Image ID</th>
                                                            <!--<th> Requesition Date</th>
                                            <th> Changed Date</th>
                                            <th> Requisitioner Name</th>
                                            <th> Requisitioner Email</th>-->
                                                            <!--<th> PR Type </th>-->
                                                            <!--<th> Brand Product Category Code </th>-->
                                                            <!--<th> Payment Terms </th>-->
                                                            <!--<th> Inco Terms </th>-->
                                                            <!--<th> Currency </th>-->
                                                            <!--<th> Inco Terms </th>-->
                                                            <!--<th> Deletion Indicator</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="item in prDetails.PRItems">

                                                        <!--<td>
                                        <input style="margin-left:10px;" title="Add Item to Requirement Posting"
                                        ng-show="item.IS_VALID && !item.isSelected && !item.REQ_ID && !item.CONTRACT_NUMBER"  ng-disabled="prDetails.PR_STATUS_1 !=='APPROVED'"
                                        role="button" ng-click="addToRequirementList(prDetails, item, 'ADD')" type="checkbox" ng-model="item.isCheckedPrItem" />
                                        <input style="margin-left:10px;" title="Remove Item from Requirement Posting"
                                        ng-show="item.IS_VALID && item.isSelected && !item.REQ_ID" ng-disabled="prDetails.PR_STATUS_1 !=='APPROVED'"
                                        role="button" ng-click="addToRequirementList(prDetails, item, 'REMOVE')" type="checkbox" ng-model="item.isCheckedPrItem" />
                                        </td>-->
                                                        <td>{{item.CASE_ID}}</td>

                                                        <td data-title="'Actions'" sortable="'Actions'">
                                                            <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_NUMBER}}</a>
                                                            <span ng-if="item.CONTRACT_NUMBER">{{item.CONTRACT_NUMBER}} (Contract)</span>
                                                        </td>
                                                        <td><a role="button" data-target="#PRItemlevelPrice" ng-click="getItemLevelPrice(item)" data-toggle="modal">{{item.ITEM_CODE}}</a></td>
                                                        <!--<td>{{item.ITEM_CODE}}</td>-->
                                                        <td>{{item.ITEM_NAME}}</td>
                                                        <td>{{item.ITEM_DESC}}</td>
                                                        <td>{{item.BRAND}}</td>
                                                        <td>{{item.BRAND_PART_CODE}}</td>
                                                        <td>{{item.CategoryCode}}</td>
                                                        <td>{{item.MODEL_NAME}}</td>
                                                        <td>{{item.REQUIRED_QUANTITY}}</td>
                                                        <td>{{item.UNITS}}</td>
                                                        <td>{{item.EXP_DELIVERY_DATE}}</td>
                                                        <td>{{item.DELIVERY_LOCATION_NAME}}</td>
                                                        <td>{{item.ENTITY}}</td>
                                                        <td>
                                                            <a ng-if="item.QCS_ID>0" target="_blank" data-ui-sref="cost-comparisions-qcs({reqID:item.REQ_ID,qcsID:item.QCS_ID})">{{item.QCS_ID}}</a>
                                                        </td>
                                                        <td>{{item.IMAGE_ID}}</td>
                                                        <!--<td>{{convertDate(item.REQUESITION_DATE)}}</td>
                                        <td>{{convertDate(item.PR_CHANGE_DATE)}}</td>
                                        <td>{{item.REQUISITIONER_NAME}}</td>
                                        <td>{{item.REQUISITIONER_EMAIL}}</td>-->
                                                        <!--<td>{{item.PR_TYPE}}</td>-->
                                                        <!--<td>{{item.BRAND_PRODUCT_CATEGORY_CODE}}</td>-->
                                                        <!--<td>{{item.PAYMENT_TERMS}}</td>-->
                                                        <!--<td>{{item.INCO_TERMS}}</td>-->
                                                        <!--<td>{{item.CURRENCY}}</td>-->
                                                        <!--<td>{{item.EBAKZ}}</td>-->
                                                        <!--<td>
                                        <span ng-if="item.IS_VALID">0</span>
                                        <span ng-if="!item.IS_VALID">1</span>
                                        </td>-->



                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>PRStats.totalPRs)?(PRStats.totalPRs):(pageSizeTemp+9) }} of {{ PRStats.totalPRs }}</strong>
                                <!--<strong>Displaying: {{ pageSizeTemp }} - {{ NumberOfRecords }} of {{ PRStats.totalPRs }}</strong>-->
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!prDet.prLevel">
                        <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:1%;text-align:center">Post RFQ</th>
                                        <th style="width:10%;text-align:center">Item Name</th>
                                        <th style="width:5%;text-align:center">Item code</th>
                                        <th style="width:25%;text-align:center">Item Short Text</th>
                                        <th style="width:5%;text-align:center">Material Group</th>
                                        <th style="width:3%;text-align:center">Qty</th>
                                        <th style="width:3%;text-align:center">UOM</th>
                                        <th style="width:2%;text-align:center">PR's</th>
                                        <th style="width:2%;text-align:center">MFCD No.</th>
                                        <th style="width:2%;text-align:center">CAS No.</th>
                                        <th style="width:2%;text-align:center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="prItem in itemsList.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                                        <td style="text-align:center">
                                            <a role="button" ng-hide="prItem.expanded" ng-click="prItem.expanded = true;GetPRSbyItem(prItem)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!prItem.expanded" ng-click="prItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                            <input type="checkbox" class="top-buffer" ng-disabled="prItem.IsDisabled" ng-model="prItem.selectForRFQ" ng-click="PostRequirement(prItem);" />
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_NAME}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_CODE}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_DESCRIPTION}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.CategoryName}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="color:tomato" title="RFQ Quantity:{{prItem.RFQ_QUANTITY}}">
                                                {{prItem.RFQ_QUANTITY}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Selected Quantity:{{prItem.SELECTED_QUANTITY}}">
                                                {{prItem.SELECTED_QUANTITY}}
                                            </a>
                                            /
                                            <a style="color:firebrick" title="Total Quantity:{{prItem.OVERALL_ITEM_QUANTITY}}">
                                                {{prItem.OVERALL_ITEM_QUANTITY}}
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.UNITS}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="color:orangered" title="Filterd PR's:{{prItem.FILTERED_PR_COUNT}}">
                                                {{prItem.FILTERED_PR_COUNT}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Total PR's:{{prItem.TOTAL_PR_COUNT}}">
                                                {{prItem.TOTAL_PR_COUNT}}
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.MFCD_NUMBER}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.CASNR}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="text-align:center;color:yellowgreen" role="button" ng-click="showPRItemlevelDetails(prItem);"
                                               data-target="#PRItemlevelPopup" data-toggle="modal">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="prItem.expanded">
                                        <td colspan="12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                        <!--set-height-->
                                                        <table class="table-striped table table-fixed table-bordered table-sm">
                                                            <thead>
                                                                <tr style="font-weight: bold">
                                                                    <th style="width:2%;text-align:center">
                                                                        <input type="checkbox" ng-model="prItem.isExpanded1" ng-click="unSelectAll(prItem,searchKeyword);prItem.selectForRFQ = false" />
                                                                        <input ng-change="searchPR(prItem.searchKeyword,prItem);" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                                    </th>
                                                                    <th style="width:2%;text-align:center"> Quantity (UOM)</th>
                                                                    <th style="width:3%;text-align:center"> Purchase Group</th>
                                                                    <th style="width:2%;text-align:center"> Release Date </th>
                                                                    <th style="width:1%;text-align:center"> Items </th>
                                                                    <th style="width:3%;text-align:center"> Plant</th>
                                                                    <th style="width:3%;text-align:center"> Status</th>
                                                                    <!--<th style="width:3%;text-align:center"> Profit Center</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> Section Head</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> WBS Code</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> Project Name</th>-->
                                                                    <th style="width:3%;text-align:center"> GMP</th>
                                                                    <th style="width:1%;text-align:center"> Req Id / Contract</th>
                                                                    <!--<th> Requested By </th>-->
                                                                    <!--<th> PR Type</th>-->
                                                                    <!--<th style="width:2%;text-align:center"> Created</th>-->
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="pr in prItem.ItemPRS" ng-style="pr.REQ_ID>0 && {'color':'tomato'}">
                                                                <td style="text-align:center"> <input type="checkbox" ng-model="pr.isChecked" ng-disabled="pr.REQ_ID>0" ng-click="consolidate(prItem,prItem.searchKeyword,pr.isChecked,'ITEM');prItem.selectForRFQ = false" /> &nbsp;&nbsp;{{pr.PR_NUMBER}} </td>
                                                                <td style="text-align:center"> {{pr.TOTAL_PR_ITEM_QUANTITY}} ({{pr.UOM}})</td>
                                                                <td style="text-align:center"> {{pr.PURCHASE_GROUP_NAME}}</td>
                                                                <td style="text-align:center"> {{pr.RELEASE_DATE}}</td>
                                                                <td style="text-align:center"> {{pr.TOTAL_ITEMS}} </td>
                                                                <td style="text-align:center"> {{pr.PLANT_NAME}} </td>
                                                                <td style="text-align:center"> {{pr.PR_STATUS}} </td>
                                                                <!--<td style="text-align:center"> {{pr.PROFIT_CENTER}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.SECTION_HEAD}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.WBS_CODE}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.PROJECT_TYPE}} </td>-->
                                                                <td> {{pr.GMP}} </td>
                                                                <td style="text-align:center">
                                                                    <span ng-if="pr.REQ_ID">{{pr.REQ_ID}} </span>
                                                                    <span ng-if="pr.CONTRACT_NUMBER">{{pr.CONTRACT_NUMBER}} (Contract)</span>
                                                                </td>
                                                                <!--<td style="text-align:center"> {{pr.CREATED_DATE}}</td>-->

                                                            </tr>


                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ ((currentPage1-1) * itemsPerPage1) +  1 }} - {{ (((currentPage1-1) * itemsPerPage1) +  10) > itemsList.length ? itemsList.length :  (((currentPage1-1) * itemsPerPage1) +  10)}} of {{itemsList.length}}</strong>
                            <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>


                    <!--</div>-->
                </div>


                <span class="pull-right">
                    <div class="modal" id="sapHistoryModal" tabindex="-1">
                        <div class="modal-dialog" style="width: 70%;height:100%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h5 class="modal-title">SAP PR History</h5>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row" style="max-height: 400px; overflow-y: auto;" ng-if="sapPRHistoryList.length>0">
                                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th>JOB ID</th>
                                                            <th>PR NUMBER</th>
                                                            <th>Line Item</th>
                                                            <th>Delete Indicator</th>
                                                            <th>Closed Indicator</th>
                                                            <th>Release Date</th>
                                                            <th>Date Created/Updated</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="font-weight: bold" ng-repeat="item in sapPRHistoryList">
                                                            <th>{{item.JOB_ID}} </th>
                                                            <th>{{item.PR_NUMBER}}</th>
                                                            <th>{{item.ITEM_OF_REQUESITION}}</th>
                                                            <th>{{item.LOEKZ}}</th>
                                                            <th>{{item.EBAKZ}}</th>
                                                            <th>{{item.RELEASE_DATE}}</th>
                                                            <th>
                                                                {{item.CREATED_DATE}}
                                                            </th>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="sapPRHistoryList.length==0">
                                            <p>
                                                <h5><strong>Oops.. The PR currently being searched is not available in PRM360.</strong></h5><br />
                                                <strong>The following could be the reasons for the same:</strong><br />
                                                <span style="color:red">
                                                    1. Kindly review your date/other filters to ensure valid search<br />
                                                    2. PR Should have been created atleast 30 minutes prior<br />
                                                    3. PR should be in approved status with valid release date<br />
                                                    4. PR should not be in closed status<br />
                                                    5. PR should not be in deleted status<br />
                                                    6. PR should not be in held status<br /><br />
                                                </span>
                                                <strong>Kindly review the same in your SAP and if the above criteria is met but still the PR is not visible here, kindly reach out to SAP Syngene IT Team. For any other assistance, you may reach out to <a href="mailto: CS@PRM360.com">CS@PRM360.com</a> / <a href="mailto: Support@prm360.com">Support@prm360.com</a></strong><br />
                                            </p>
                                        </div><br />
                                        <div class="row" ng-if="sapDeleteIndictaorErrorShow && sapPRHistoryList.length>0">
                                            <p style="color:red;text-align:center"><strong>PR is not found due to Delete Indicator</strong></p>
                                        </div>
                                        <div class="row" ng-if="sapClosedIndicatorErrorShow && sapPRHistoryList.length>0">
                                            <p style="color:red;text-align:center"><strong>PR is not found due to Closed Indicator</strong></p>
                                        </div>
                                        <div class="row" ng-if="sapReleasedDateErrorShow && sapPRHistoryList.length>0">
                                            <p style="color:red;text-align:center"><strong>PR is not found due unavailability of Release Date</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <span class="pull-right">
                    <div class="modal" id="linkRFP" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Link RFP/RFQ</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--<select data-placeholder="Select a RFP..." name="RFP" ng-model="selectedRFP" ng-options="item.title for item in myAuctions1" class="form-control p-0"></select>-->
                                                <div class="multiple-selection-dropdown">
                                                    <div class="selected-items-box">
                                                        --------- Select RFPs ---------
                                                        <span><i class="fa fa-caret-down pull-right" aria-hidden="true"></i></span>
                                                    </div>
                                                    <div class="list">
                                                        <div class="has-feedback" style="width:200px">
                                                            <input class="form-control" ng-change="searchRFPs(rfpSearch);" ng-model="rfpSearch" type="text" placeholder="Title or REQ Number">
                                                            <span class="form-control-feedback">
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </div>
                                                        <ul class="items-list">
                                                            <li ng-repeat="rfq in myAuctionsFiltred">
                                                                <input type="checkbox" ng-model="rfq.isSelected" ng-true-value="true" value="true" />
                                                                <span>{{rfq.REQ_TITLE }} ({{rfq.REQ_NUMBER}})</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <br />
                                                <button type="button"
                                                        class="btn btn-info"
                                                        ng-click="LinkToRFP()">
                                                    Link
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <div class="modal fade" id="uploadAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document" style="width:95%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><strong>Attachment Details</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" ng-click="cancelInvoice(selectedDetails,selectedIndex)">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group fg-float col-md-6 top-half-buffer">
                                            <div class="fg-line" ng-class="{'fg-toggled': (selectedDetails.PR_NUMBER)}">
                                                <label class="fg-label"><strong>PR Number</strong></label>
                                                <input ng-disabled="true" type="text" ng-model="selectedDetails.PR_NUMBER" name="prno" id="prno" class="form-control fg-input" />
                                                
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-md-5">
                                            <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                <span><i class="fa fa-upload  m-r-5"></i></span>
                                                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml,.msg" id="{{selectedIndex}}" itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                            </div>
                                            <label ng-if="attch.fileID <= 0" ng-repeat="attch in selectedDetails.multipleAttachments">{{selectedIndex + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex,selectedDetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12 m-b-10 text-center">
                                        <button class="btn btn-info btn-file btn-new-look" ng-click="savePRAttachment(selectedDetails,selectedIndex)">Save PR</button>
                                        <button class="btn btn-link btn-file btn-new-look" ng-click="cancelAttachment(selectedDetails,selectedIndex)" data-dismiss="modal">Cancel</button>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">PR Number</th>
                                                    <th>PR Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in attachmentList">
                                                    <td style="text-align:center">{{item.PR_NUMBER}}</td>
                                                    <td>
                                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in item.attachmentsArray">
                                                            <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--</div>-->
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal" id="PRItemlevelPopup" tabindex="-1">
                    <div class="modal-dialog" style="width: 98%;height:100%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                <h3></h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div>
                                        <div class="box-title">
                                            <h4></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                                <table class="table table-hover table-striped table-bordered table-sm">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th> Material No. </th>
                                                            <th> Material Group </th>
                                                            <th> Category </th>
                                                            <th> Requesition Date</th>
                                                            <th> Requisitioner Name</th>
                                                            <th> Requisitioner Email</th>
                                                            <th> Name </th>
                                                            <!--<th> HSN Code </th>-->
                                                            <th> Desc. </th>
                                                            <th> Item Text</th>
                                                            <th> Qty </th>
                                                            <th> Qty Units</th>
                                                            <!--<th> Delivery Date </th>-->
                                                            <th> Service Line Item </th>
                                                            <th> Alternate Qty. </th>
                                                            <th> Alternate Units </th>
                                                            <th> PR Type </th>
                                                            <th> PR Desc. </th>
                                                            <th> PR Note </th>
                                                            <th> CASNR </th>
                                                            <th> MFCD Number</th>
                                                            <!--<th> UOM</th>-->
                                                            <th> Material Description </th>
                                                            <th> Account Assignment Category </th>
                                                            <th> WBS Code </th>
                                                            <th> Customer Name </th>
                                                            <th> Profit Center </th>
                                                            <th> Section Head </th>
                                                            <th> Project Type </th>
                                                            <th> Service Long Text </th>
                                                            <th> Deletion Indicator </th>
                                                            <th> Changed On Date </th>
                                                            <th> Closed Indicator </th>
                                                            <th> Req Id</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ItemsListPopup">
                                                            <td>{{item.ITEM_CODE}}</td>
                                                            <td>{{item.CategoryCode}}</td>
                                                            <td>{{item.CategoryName}}</td>
                                                            <td>{{convertDate(item.REQUEST_DATE)}}</td>
                                                            <td>{{item.REQUISITIONER_NAME}}</td>
                                                            <td>{{item.REQUISITIONER_EMAIL}}</td>
                                                            <td>{{item.ITEM_NAME}}</td>
                                                            <!--<td>{{item.HSN_CODE}}</td>-->
                                                            <td>{{item.ITEM_DESCRIPTION}}</td>
                                                            <td>{{item.ITEM_TEXT}}</td>
                                                            <td>{{item.REQUIRED_QUANTITY}}</td>
                                                            <td>{{item.UNITS}}</td>
                                                            <!--<td>{{item.DELIVERY_DATE}}</td>-->
                                                            <td>{{item.LEAD_TIME}}</td>
                                                            <td>{{item.ALTERNATE_QUANTITY}}</td>
                                                            <td>{{item.ALTERNATE_UNITS}}</td>
                                                            <td>{{item.PR_TYPE}}</td>
                                                            <td>{{item.PR_TYPE_DESC}}</td>
                                                            <td>{{item.PR_NOTE}}</td>
                                                            <td>{{item.CASNR}}</td>
                                                            <td>{{item.MFCD_NUMBER}}</td>
                                                            <td>{{item.MATERIAL_DESCRIPTION}}</td>
                                                            <td>{{item.ACCOUNT_ASSIGNMENT_CATEGORY}}</td>
                                                            <td>{{item.WBS_CODE}}</td>
                                                            <td>{{item.PROJECT_DESCRIPTION}}</td>
                                                            <td>{{item.PROFIT_CENTER}}</td>
                                                            <td>{{item.SECTION_HEAD}}</td>
                                                            <td>{{item.SUB_VERTICAL}}</td>
                                                            <td>{{item.PROJECT_TYPE}}</td>
                                                            <td>{{item.LOEKZ}}</td>
                                                            <td>{{convertDate(item.ERDAT)}}</td>
                                                            <td>{{item.EBAKZ}}</td>
                                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                                <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_ID}}</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>
                                                    Available PR's in the item : {{ItemsListPopup[0].ITEM_NAME}}
                                                </h2>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                    <!--set-height-->
                                                    <table class="table-striped table table-fixed table-bordered table-sm">
                                                        <thead>
                                                            <tr style="font-weight: bold">
                                                                <th style="width:2%;text-align:center">
                                                                    <input ng-change="filterPRsPopup(prItem.searchKeyword);" class="form-control" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                                </th>
                                                                <th style="width:2%;text-align:center"> Quantity </th>
                                                                <th style="width:3%;text-align:center"> Purchase Group</th>
                                                                <th style="width:2%;text-align:center"> Release Date </th>
                                                                <th style="width:1%;text-align:center"> Items </th>
                                                                <th style="width:3%;text-align:center"> Plant</th>
                                                                <th style="width:3%;text-align:center"> Status</th>
                                                                <!--<th style="width:3%;text-align:center"> Profit Center</th>-->
                                                                <!--<th style="width:3%;text-align:center"> Section Head</th>-->
                                                                <!--<th style="width:3%;text-align:center"> WBS Code</th>-->
                                                                <!--<th style="width:3%;text-align:center"> Project Name</th>-->
                                                                <th style="width:3%;text-align:center"> Deletion Indicator</th>
                                                                <th style="width:3%;text-align:center"> Changed On Date</th>
                                                                <th style="width:3%;text-align:center"> Closed Indicator</th>
                                                                <!--<th style="width:3%;text-align:center"> Delv. Date</th>-->
                                                                <th style="width:1%;text-align:center"> GMP</th>
                                                                <th style="width:1%;text-align:center"> Req Id</th>

                                                                <!--<th> Requested By </th>-->
                                                                <!--<th> PR Type</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="pr in ItemPRSPopUp.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))" ng-style="pr.REQ_ID>0 && {'color':'tomato'}">
                                                            <td style="text-align:center">
                                                                &nbsp;&nbsp;{{pr.PR_NUMBER}}
                                                            </td>
                                                            <td style="text-align:center"> {{pr.TOTAL_PR_ITEM_QUANTITY}}</td>
                                                            <td style="text-align:center"> {{pr.PURCHASE_GROUP_NAME}}</td>
                                                            <td style="text-align:center"> {{pr.RELEASE_DATE}}</td>
                                                            <td style="text-align:center"> {{pr.TOTAL_ITEMS}} </td>
                                                            <td style="text-align:center"> {{pr.PLANT_NAME}} </td>
                                                            <td style="text-align:center"> {{pr.PR_STATUS}} </td>
                                                            <!--<td style="text-align:center"> {{pr.PROFIT_CENTER}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.SECTION_HEAD}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.WBS_CODE}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.PROJECT_TYPE}} </td>-->
                                                            <td style="text-align:center">{{pr.LOEKZ}}</td>
                                                            <td style="text-align:center">{{convertDate(pr.ERDAT)}}</td>
                                                            <td style="text-align:center">{{pr.EBAKZ}}</td>
                                                            <td style="text-align:center"> {{pr.GMP}} </td>
                                                            <td style="text-align:center"> {{pr.REQ_ID}} </td>

                                                        </tr>
                                                    </table>
                                                    <ul uib-pagination total-items="totalItems2" ng-model="currentPage2" items-per-page="itemsPerPage2" max-size="maxSize2" ng-change="pageChanged2()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="PRItemlevelPrice" tabindex="-1">
                    <div class="modal-dialog" style="width: 98%;height:100%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                <h3></h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div>
                                                    <label class="pull-right" ng-if="itemLastPriceArr.length > 0"></label>
                                                </div>
                                                <div class="col-md-12 table-responsive" ng-show="itemLastPriceArr.length > 0">
                                                    <table class="table table-hover ">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <strong>Req Number</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Unit Price</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Quantity</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Vendor Company Name</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Date</strong>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="itemlast in itemLastPriceArr" ng-style="isBestPrice && {'color':'red'}">
                                                                <td>
                                                                    {{itemlast.requirementNumber}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.unitPrice}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.quantity}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.companyName}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.currentTime}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <label style="color:red;margin-left:15px;" ng-if="!itemLastPriceArr || itemLastPriceArr.length <= 0">
                                                    No historical records are currently available in the System.
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="modal" id="templateSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <!--<div class="row m-t-20 m-l-5">
                        <div class="col-md-1">
                            <button type="button" ng-click="prRequirementContractToggle = !prRequirementContractToggle" class="btn btn-info">{{prRequirementContractToggle ? 'Select Requirement': 'Select Template (Contract)'}}</button>
                        </div>
                    </div>-->
                                <!-- Contracts Start-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                        </div>
                                        <div class="modal-body" style="margin:25px;">
                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                <div class="row">
                                                    <button type="button" data-dismiss="modal" ng-click="navigateToPOForm()" class="btn btn-info">Create PO</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <!--<button type="button" data-dismiss="modal" ng-click="navigateToPOForm()" class="btn btn-info" ng-if="chooseContractOption">Create PO</button>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Contracts END-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="modal" id="templateSelection1" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="row m-t-20 m-l-5">
                                    <div class="col-md-1">
                                        <button type="button" ng-click="prRequirementContractToggle = !prRequirementContractToggle" class="btn btn-info">{{prRequirementContractToggle ? 'Select Requirement': 'Select Template (Contract)'}}</button>
                                    </div>
                                </div>
                                <div class="modal-header">
                                    <!--<button class="close" data-dismiss="modal" style="color:black">&times;</button>-->
                                    <h4 class="modal-title">{{(filters.selectedRequirement && filters.selectedRequirement.requirementId) ? 'Click to Continue' : 'Select Template'}} </h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-12" ng-hide="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                                <select data-placeholder="Select a Template..." name="template"
                                                        ng-model="selectedTemplate" ng-options="value.TEMPLATE_NAME for value in prmTemplates" class="form-control p-0"></select>
                                            </div>
                                            <div class="col-md-12" ng-if="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                                Selected Requirement: <strong>{{filters.selectedRequirement.REQ_TITLE}}</strong>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="contractPODetails.contractTable && contractPODetails.contractTable.length > 0 && ProductContracts && ProductContracts.length > 0">
                                            <h3 style="margin: 50px 0px 0px 20px;">Contracts Found</h3>
                                            <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                <table class="table table-striped table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:1%;text-align:center"></td>
                                                            <th style="width:1%;text-align:center">Product</th>
                                                            <th style="width:1%;text-align:center">Plant</th>
                                                            <th style="width:10%;text-align:center">PR(s)</th>
                                                            <th style="width:5%;text-align:center">PR Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat-start="contactItem in contractPODetails.contractTable" ng-if="contactItem.contactsArray.length > 0">
                                                            <td style="text-align:center;width:1%;text-align:center">
                                                                <a role="button" ng-hide="contactItem.expanded" ng-click="contactItem.expanded = true;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                                <a role="button" ng-hide="!contactItem.expanded" ng-click="contactItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                                            </td>
                                                            <td style="text-align:left" width="20%">
                                                                {{contactItem.productName}}
                                                            </td>
                                                            <td style="text-align:left" width="20%">
                                                                {{contactItem.plantName}}
                                                            </td>
                                                            <td style="text-align:left" width="20%">
                                                                {{contactItem.prNumber}}
                                                            </td>
                                                            <td style="text-align:center" width="15%">
                                                                {{contactItem.prQuantity}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat-end ng-if="contactItem.expanded">
                                                            <td colspan="5">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="table-responsive" style="max-height:300px;max-height: 400px;overflow-y: auto">
                                                                            <table class="table-striped table table-fixed table-bordered table-sm">
                                                                                <thead>
                                                                                    <tr style="font-weight: bold">
                                                                                        <th style="width:2%;text-align:center">

                                                                                        </th>
                                                                                        <th style="width:2%;text-align:center"> Vendor</th>
                                                                                        <th style="width:3%;text-align:center"> Contract Number</th>
                                                                                        <th style="width:1%;text-align:center"> Start Date </th>
                                                                                        <th style="width:1%;text-align:center"> End Date </th>
                                                                                        <th style="width:1%;text-align:center"> Document </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tr ng-repeat="contract in contactItem.contactsArray">
                                                                                    <td style="text-align:center"> <input type="checkbox" ng-model="contract.isSelected" ng-click="chooseContract()" /> </td>
                                                                                    <td style="text-align:center"> {{contract.companyName}} ({{contract.selectedVendorCode}})</td>
                                                                                    <td style="text-align:center"> {{contract.number}}</td>
                                                                                    <td style="text-align:center"> {{contract.startTime}} </td>
                                                                                    <td style="text-align:center"> {{contract.endTime}} </td>
                                                                                    <td style="text-align:center"> {{contract.document}} </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12" style="margin: 20px 0px 0px 0px;" ng-if="chooseContractOption">
                                                <select ng-model="stateDetails.poTemplate" class="form-control p-0" data-placeholder="template" id="template" required="">
                                                    <option value="po-contract-domestic-zsdm">Domestic ZSDM</option>
                                                    <option value="po-contract-import-zsim">Import ZSIM</option>
                                                    <option value="po-contract-bonded-wh">Bonded WH ZSBW</option>
                                                    <option value="po-contract-service-zssr">Service ZSSR</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" ng-click="navigateToPOForm()" class="btn btn-info" ng-if="chooseContractOption">Create PO</button>
                                    <button type="button" data-dismiss="modal" ng-disabled="!selectedTemplate.TEMPLATE_ID" ng-click="navigateToRequirement()" class="btn btn-info">Continue</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="width:950px;">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Row Number</th>
                                                    <th style="text-align:center">Error Message</th>
                                                    <th style="text-align:center">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in rowErrors">
                                                    <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                    <td ng-bind-html="item.REASON"></td>
                                                    <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadPendingPO('PR_DETAILS',1);">Continue</button>
                                        <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
