﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="prActionsCtrl">
                    <h4>PR Details</h4>
                    <fieldset id="form" ng-disabled="isPRFormdisabled">
                        <div class="row white-box">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>PR Number</label>
                                        <input type="text" ng-model="PRDetails.PRM_PR_NUMBER" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Status</label>
                                        <input  type="text" ng-model="PRDetails.STATUS" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div moment-picker="PRDetails.RELEASE_DATE" format="DD-MM-YYYY HH:mm" class="col-md-12">
                                        <label>Release Date</label>
                                        <input  class="form-control" placeholder="Select a date" ng-model="PRDetails.RELEASE_DATE" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Final Price</label>
                                        <input type="text" ng-model="PRDetails.TOTAL_PRICE" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Creator Name</label>
                                        <input type="text" ng-model="PRDetails.PR_CREATOR_NAME" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row white-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Requirement / Contract Number</th>
                                                        <th>Product Name</th>
                                                        <th>SKU Id</th>
                                                        <th>Quantity</th>
                                                        <th>UOM</th>
                                                        <th>Brand</th>
                                                        <th>Brand Part Code</th>
                                                        <th>Entity</th>
                                                        <th>Case Id</th>
                                                        <th>QCS Id</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pr in PRDetails.PRItemsList" ng-init="parentIdx = $index">
                                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                            <a ng-if="pr.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:pr.REQ_ID})">{{pr.REQ_NUMBER}}</a>
                                                            <span ng-if="pr.CONTRACT_NUMBER">{{pr.CONTRACT_NUMBER}} (Contract)</span>
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="pr.ITEM_NAME" name="prno" id="prno" class="form-control" title="{{pr.ITEM_NAME}}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="pr.ITEM_CODE" name="prno" id="prno" class="form-control" title="{{pr.ITEM_CODE}}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-disabled="isPRFormdisabled && onlyQuantitydisabled" ng-model="pr.REQUIRED_QUANTITY" name="prno" id="qtyField" class="form-control" title="{{pr.REQUIRED_QUANTITY}}" />
                                                        </td>
                                                        <td><input type="text" ng-model="pr.UNITS" name="prno" id="prno" class="form-control" title="{{pr.UNITS}}" /></td>
                                                        <td>
                                                            <input type="text" ng-model="pr.BRAND" name="prno" id="prno" class="form-control" title="{{pr.BRAND}}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="pr.BRAND_PART_CODE" name="prno" id="prno" class="form-control" title="{{pr.BRAND_PART_CODE}}" />
                                                        </td>
                                                        <td><input type="text" ng-model="pr.ENTITY" name="prno" id="prno" class="form-control" title="{{pr.ENTITY}}" /></td>

                                                        <td><input type="text" ng-model="pr.CASE_ID" name="prno" id="prno" class="form-control" title="{{pr.CASE_ID}}" /></td>
                                                        <td>
                                                            <a ng-if="pr.QCS_ID > 0" target="_blank" data-ui-sref="cost-comparisions-qcs({reqID:pr.REQ_ID,qcsID:pr.QCS_ID})">{{pr.QCS_ID}}</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>


                                    </div>
                                </div>



                            </div>
                        </div>


                        <div class="row text-center">
                            <button type="submit" class="btn btn-info btn-file btn-new-look" ng-click="savePr()">Submit</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="goToPrList();">Cancel</button>
                            <br />
                        </div>

                    </fieldset>


                    <fieldset>
                        <div class="row white-box">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong style="text-transform:capitalize">{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <!--<div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                    <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                    <small>Hold</small>
                </div>-->

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="row" ng-hide="isApproverDisable($index) && !isSuperUser">
        <div class="col-md-6" style="margin-left:75px;margin-top:15px;">
            <div class="fileupload btn btn-sm btn-info waves-effect waves-light" >
                <span><i class="fa fa-upload  m-r-5"></i>QCS Attachments</span>
                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml,.msg" id="attachement" multiple ng-file-select="onFileSelect($files)">
            </div>
            <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                <span><i class="fa fa-upload  m-r-5"></i>PR Attachments</span>
                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml,.msg" id="attachement" multiple ng-file-select="onFileSelect($files)">

            </div>

            <label ng-if="!disableAssignPR && attch.fileID <= 0" ng-repeat="attch in step.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(attch, 'APPROVER')" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
        </div>

    </div>
    <label ng-if="attch.fileID > 0" ng-repeat="attch in step.multipleAttachments">
        {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
    </label>-->

                                                <div class="row" ng-hide="isApproverDisable($index) && !isSuperUser">
                                                    <div class="col-md-8">
                                                        <strong>Attachments:</strong><br />
                                                        <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                            <span><i class="fa fa-upload  m-r-5"></i>PR Attachments</span>
                                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml,.msg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                                        </div>
                                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in step.multipleAttachments">
                                                            {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">{{attch.fileName}}</a>
                                                            <strong  ng-click="removeAttach(attch)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                        </label>
                                                        <label ng-if="!disableAssignPR && attch.fileID <= 0" ng-repeat="attch in step.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(attch, 'APPROVER')" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                        <div class="row white-box">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4" ng-show="flow == 0 && !PRDetails.PO_NUMBER">
                                <button type="button" data-dismiss="modal" ng-disabled="!checkIsPODisable() " ng-click="navigateToPOForm()" class="btn btn-info">Create PO</button>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
