﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="errorLogsCtrl">
                <div class="white-box">
                    <button  class="btn btn-info btn-new-look ng-binding" ng-click="getErrorListByFilter('Error');filters.searchWord=''">Error</button>
                    <button  class="btn btn-info btn-new-look ng-binding" ng-click="getErrorListByFilter('Success');filters.searchWord=''">Success</button>
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>System</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.system"
                                         options="item.name for item in filtersList.system"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>API</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.api"
                                         options="item.name for item in filtersList.api"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-3" style="margin-top:35px;">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1)" ng-model="filters.searchWord" type="text" placeholder="Search on API,SYSTEM,ID">
                        </div>

                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filterDate.fromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.fromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12 p-l-0" moment-picker="filterDate.toDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1"><button class="btn btn-sm btn-info pull-right waves-effect waves-light" style="margin-top:35px;" ng-click="filterByDate(currentPage-1);">Apply</button></div>

                    </div>

                    <div class="row">&nbsp;  </div>


                    <div class="row">
                        <div class="col-md-12 table-responsive" style="overflow-x:auto">
                            <strong> Total Records : {{errorList[0].TOTAL_COUNT > 0 ? errorList[0].TOTAL_COUNT : 0}}</strong>
                            <table id="testTable" class="table table-striped">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <!--<th style="max-width:200px;">ID</th>-->
                                        <th style="min-width:150px;">Error Description</th>
                                        <th style="min-width:100px;">System</th>
                                        <th style="min-width:100px;">ID</th>
                                        <th style="min-width:100px;">API</th>
                                        <th style="max-width: 100px;">Date Created</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in errorList">
                                        <td style="min-width:150px;">{{value.ERROR_DESCRIPTION}}</td>
                                        <td style="min-width:100px;">{{value.SYSTEM}}</td>
                                        <td style="min-width:100px;">{{value.ID}}</td>
                                        <td style="min-width:100px;">{{value.API}}</td>
                                        <td style="min-width:100px;">{{value.DATE_CREATED}}</td>
                                        <td>{{value.DATA}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
