﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="oracleConfigCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="configName('TDS')">Tds</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="configName('LOCATION')">Location</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="configName('PAYGROUP')">Paygroup</button>
                            <!--<button class="btn btn-info btn-file btn-new-look" ng-click="configName('HSN')">HSN</button>-->
                           
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th ng-repeat="columnName in tableColumns"><strong>{{columnName}}</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td ng-repeat="val in value.tableValues track by $index">
                                            {{val}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                    
                    <!--<div class="row">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                                <table id="testTable" class=" table table-striped" style="padding-right:0">
                                    <thead>
                                        <tr class="sans_body">
                                            <th ng-repeat="columnName in tableColumns"><strong>{{columnName}}</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="value in rows">
                                            <td ng-repeat="val in value.tableValues track by $index">
                                                {{val}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="pageChanged();" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
