﻿<style>
    .header-details-row .col-md-2 {
        width: 14.2%;
    }

    .item-details-row .col-md-2 {
        width: 14.2%;
    }

    .errspan {
        float: right;
        margin-right: 6px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="poDomesticZSDMRevCtrl1">
                    <div class="col-sm-12">
                        <div class="row"><strong></strong></div>
                        <div class="row white-box">
                        </div>
                        <div class="row white-box header-details-row" ng-repeat="vendor in qcsRequirementDetails.auctionVendors">
                            <div class="col-md-12">
                                <div class="row"><h3>Company: {{vendor.companyName}}</h3></div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Vendor</label>
                                        <input type="text" ng-model="vendor.VENDOR_CODE" name="prno" id="prno" class="form-control" maxlength="10" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Payment Terms</label>
                                        <input ng-disabled="false" type="text" ng-model="vendor.paymentTermCode" name="prno" id="prno" class="form-control" maxlength="4" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Currency</label>
                                        <input ng-disabled="false" type="text" ng-model="vendor.vendorCurrency" name="prno" id="prno" class="form-control" maxlength="5" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Inco Terms</label>
                                        <input ng-disabled="false" type="text" ng-model="vendor.INCO_TERMS" name="prno" id="prno" class="form-control" maxlength="3" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Vendor Site Code</label>
                                        <input ng-disabled="false" type="text" ng-model="vendor.VENDOR_SITE_CODE" name="prno" id="prno" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Vendor Site Code</label>
                                        <input ng-disabled="false" type="text" ng-model="vendor.VENDOR_PHONE" name="prno" id="prno" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Vendor Site Code</label>
                                        <input ng-disabled="false" type="text" ng-model="vendor.VENDOR_EMAIL" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row" style="margin-top:10px;" ng-repeat="item in vendor.listRequirementItems" ng-if="!item.isDeleted">
                                    <div class="col-md-12">
                                        <a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample{{vendor.vendorID + '-' + item.itemID}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{vendor.vendorID + '-' + item.itemID}}">Item {{$index+1}}: {{item.productCode}}</a>
                                        <!--<div class="col-md-1 pull-right">
                                            <a class="btn btn-sm btn-danger waves-effect waves-light" ng-click="deleteItem(item);"> <i class="fa fa-trash-alt m-r-5"></i> <span></span></a>
                                        </div>-->
                                        <div class="collapse" style="margin-top:10px;" id="multiCollapseExample{{vendor.vendorID + '-' + item.itemID}}">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>PR Number</label>
                                                    <input ng-disabled="false" type="text" ng-model="item.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>PR Line Item</label>
                                                    <input ng-disabled="false" type="text" ng-model="item.ITEM_OF_REQUESITION" name="prno" id="prno" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Material SKU ID</label>
                                                    <input ng-disabled="false" type="text" ng-model="item.MATERIAL_SKU" name="prno" id="prno" class="form-control" maxlength="4" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Material Code</label>
                                                    <input ng-disabled="(item.PR_NUMBER)?true:false" type="text" ng-model="item.productCode" name="prno" id="prno" class="form-control" maxlength="18" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Quantity</label>
                                                    <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,2})?$/).test(this.value))) return false;"
                                                           ng-model="item.qtyDistributed" name="Quantity" id="Quantity" class="form-control" required />
                                                    <span style="color:red" ng-show="item.quantityError == true">
                                                        Quantity is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>PO Line item cost with tax</label>
                                                    <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;"
                                                           ng-model="item.totalPOPriceWithTax" name="prno" id="prno" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>PO Line item cost without tax</label>
                                                    <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,1})?$/).test(this.value))) return false;"
                                                           ng-model="item.totalPOPriceWithoutTax" name="prno" id="prno" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Discount Value </label>
                                                    <input valid-number allow-decimal="true" allow-negative="false" type="text" ng-model="item.DISCOUNT_VALUE" name="prno" id="prno" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>UOM</label>
                                                    <input ng-disabled="false" type="text" ng-model="item.productQuantityIn" name="prno" id="prno" class="form-control" maxlength="3" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Delivery Date </label>
                                                    <!--<input ng-disabled="false" type="text" ng-model="item.Deliver_SCHEDULE" name="prno" id="prno" class="form-control" />-->
                                                    <div moment-picker="item.Deliver_SCHEDULE" format="YYYY-MM-DD">
                                                        <input name="Deliver_SCHEDULE" id="Deliver_SCHEDULE" class="form-control" placeholder="Select a date" ng-model="item.Deliver_SCHEDULE" ng-model-options="{ updateOn: 'blur' }">
                                                        <i class="fa fa-calendar fa-2x errspan" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Bill to Location</label>
                                                        <input ng-disabled="false" type="text" ng-model="item.billingLocation" name="prno" id="prno" class="form-control" maxlength="3" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Ship to Location</label>
                                                        <input ng-disabled="false" type="text" ng-model="item.shipLocation" name="prno" id="prno" class="form-control" maxlength="3" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row white-box item-details-row">
                            <div class="col-md-3 pull-right">
                                <!--<button class="btn btn-info btn-sm waves-effect waves-light" ng-click="cancel()" type="button"><span>Cancel</span></button>-->
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(false)" type="button"><span>Generate PO</span></button>
                                <!--<button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(true)" type="button"><span>Save PO As Draft</span></button>-->
                            </div>
                        </div>
                        <div class="row white-box item-details-row" ng-if="POServiceStatusText">
                            <div class="col-md-12 text-center">
                                <p class="text-primary font-weight-bold"><strong>PO Generation Status: {{POServiceStatusText}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" data-ng-include src="'template/footer.html'"></footer>
