﻿<style>
    .header-details-row .col-md-2 {
        width: 14.2%;
    }

    .item-details-row .col-md-2 {
        width: 14.2%;
    }

    .errspan {
        float: right;
        margin-right: 6px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="poDomesticZSDMRevCtrl">
                    <div class="col-md-12">
                        <div class="row"><strong></strong></div>
                        <div class="row white-box">
                        </div>
                        <div class="row white-box header-details-row" ng-repeat="vendor in requirementDetails.auctionVendors">
                            <fieldset ng-disabled="isFormdisabled">

                                <div class="col-md-12">
                                    <div class="row">
                                        <h3>Company: {{vendor.COMPANY_NAME}}</h3>
                                        <div class="col-md-3" ng-show="vendor.companyGSTInfo.length>0">
                                            <div class="form-group fg-float">
                                                <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                                    <strong>GST Number</strong>
                                                    <select ng-model="vendor.VENDOR_GST_REGISTRATION"
                                                            ng-options="gst.gstNumber as gst.gstNumber for gst in vendor.companyGSTInfo"
                                                            ng-change="gstSelect(vendor)"
                                                            class="form-control"></select>

                                                </div>
                                            </div>
                                            <span style="color:red" ng-show="vendor.vendorGstError == true">
                                                Gst is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label><strong>Vendor Code</strong></label>
                                            <input type="text" ng-disabled="true" ng-model="vendor.VENDOR_CODE" name="prno" id="prno" class="form-control" maxlength="10" />
                                        </div>
                                        <!--<div class="col-md-2">
                            <label><strong>Qty</strong></label>
                            <input type="number" ng-model="vendor.QTY" name="qty" id="qty" class="form-control" />
                        </div>-->
                                        <div class="col-md-2">
                                            <label><strong>Final Price (INR)</strong></label>
                                            <input type="number" ng-disabled="true" ng-model="vendor.NET_PRICE" name="price" id="price" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label><strong>PO Delivery Date</strong></label>
                                            <div class="col-md-12" moment-picker="vendor.PO_DELIVERY_DATE" min-date="minDateMoment" format="DD-MM-YYYY" style="padding:0px;">
                                                <input class="form-control" placeholder="Select a date" ng-model="vendor.PO_DELIVERY_DATE" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                            <span style="color:red" ng-show="vendor.poDeliveryDateError == true">
                                                Delivery Date is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label><strong>PO Date</strong></label>
                                            <div class="col-md-12" moment-picker="vendor.PO_RELEASE_DATE" min-date="minDateMoment" format="DD-MM-YYYY" style="padding:0px;">
                                                <input class="form-control" placeholder="Select a date"
                                                       ng-disabled="true"
                                                       ng-model="vendor.PO_RELEASE_DATE" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                            <span style="color:red" ng-show="vendor.poReleaseDateError == true">
                                                PO Date is required.
                                            </span>
                                        </div>
                                        <!--<div class="col-md-2">
                            <label><strong>PO Delivery Location</strong></label>
                            <input type="text" ng-model="vendor.DELIVERY_LOCATION" name="podeliverylocation" id="podeliverylocation" class="form-control" />
                        </div>-->
                                        <div class="col-md-2" ng-if="vendor.showF1Values">
                                            <label><strong>Item Source</strong></label>
                                            <select data-placeholder="Select Type" name="Item Source" ng-model="vendor.ITEM_SOURCE" ng-options="itemSource.key as itemSource.value for itemSource in itemSourceList" class="form-control"></select>

                                        </div>
                                        <div class="col-md-2" ng-if="vendor.showF1Values">
                                            <label><strong>Shipping Way</strong></label>
                                            <select data-placeholder="Select Type" name="Shipping Way" ng-model="vendor.SHIPPING_WAY" ng-options="shippingWay.key as shippingWay.value for shippingWay in shippingWayList" class="form-control"></select>

                                        </div>
                                        <!--<div class="col-md-2">
                            <label><strong>Approval Status</strong></label>
                            <select class="form-control" ng-model="vendor.APPROVAL_STATUS">
                                <option value="">Select</option>
                                <option value="Pending">Pending</option>
                                <option value="Submitted">Submitted</option>
                            </select>
                        </div>-->
                                    </div>
                                    <div class="row">
                                        <!--<div class="col-md-2">
                            <label><strong>Approval workflow</strong></label>
                            <select class="form-control" ng-model="vendor.APPROVAL_WORKFLOW">
                                <option value="">Select</option>
                                <option value="PO_PENDING_APPROVAL">PO Pending Approval</option>
                            </select>
                        </div>-->
                                        <!--<div class="col-md-2">
                            <label><strong>Type of Stock</strong></label>
                            <select class="form-control" ng-model="vendor.TYPE_OF_STOCK">
                                <option value="">Select</option>
                                <option value="FOC">FOC</option>
                                <option value="PAID">Paid</option>
                            </select>
                        </div>-->
                                        <!--<div class="col-md-2">
                            <label><strong>Entity</strong></label>
                            <select class="form-control" ng-model="vendor.ENTITY">
                                <option value="">Select</option>
                                <option value="JEEVES">Jeeves</option>
                                <option value="F1">F1</option>
                            </select>
                        </div>-->
                                        <!--<div class="col-md-2">
                            <label><strong>Department</strong></label>
                            <select class="form-control" ng-model="vendor.DEPARTMENT">
                                <option value="">Select</option>
                                <option value="PURCHASE">PURCHASE</option>
                                <option value="IT">IT</option>
                            </select>
                        </div>-->
                                        <div class="col-md-4" ng-if="vendor.showF1Values">
                                            <label><strong>Bill To</strong></label>
                                            <!--<input type="text" ng-disabled="true" ng-model="vendor.BILL_TO_LOCATION" class="form-control" />-->
                                            <!--<select data-placeholder="Select Type" name="gst" ng-model="vendor.BILL_TO_LOCATION" ng-options='f1.LOCATION_NAME as f1.LOCATION_SITE for f1 in locationMasterF1' class="form-control"></select>
                            <span style="color:red" ng-show="vendor.billToLocationError == true">
                                Bill To Location is required.
                            </span>-->

                                            <input type="text" ng-model="vendor.BILL_TO_LOCATION" ng-change="locationSearch(vendor.BILL_TO_LOCATION,vendor,vendor.showF1Values,'BILL_TO_LOCATION');" id="billToLocation" name="billToLocation" class="form-control" required>

                                            <div style="height:150px;max-height: 400px;overflow-y: auto;position: relative;z-index: 10;background: white;" ng-if="billLocationDisplay.length>0 && vendor.showSelectedBillLocation">
                                                <table class="table" style="position: relative;z-index: 10;">
                                                    <tr ng-repeat="f1 in billLocationDisplay">
                                                        <td style="cursor:pointer" ng-click="fillValue(f1.LOCATION_SITE,vendor,'BILL_TO_LOCATION')">
                                                            {{f1.LOCATION_SITE}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div ng-show="vendor.billToLocationError == true">
                                                <div class="help-block error logininput text-danger" ng-show="vendor.billToLocationError == true">Please select Bill To Location</div>
                                            </div>


                                        </div>
                                        <div class="col-md-4" ng-if="vendor.showF1Values">
                                            <label><strong>Ship To</strong></label>
                                            <!--<input type="text" ng-disabled="true" ng-model="vendor.SHIP_TO_LOCATION" class="form-control" />-->
                                            <!--<select data-placeholder="Select Type" name="gst" ng-model="vendor.SHIP_TO_LOCATION" ng-options='f1.LOCATION_NAME as f1.LOCATION_SITE for f1 in locationMasterF1' class="form-control"></select>
                            <span style="color:red" ng-show="vendor.shipToLocationError == true">
                                Ship To Location is required.
                            </span>-->

                                            <input type="text" ng-model="vendor.SHIP_TO_LOCATION" ng-change="locationSearch(vendor.SHIP_TO_LOCATION,vendor,vendor.showF1Values,'SHIP_TO_LOCATION');" id="shipToLocation" name="shipToLocation" class="form-control" required>

                                            <div style="height:150px;max-height: 400px;overflow-y: auto;position: relative;z-index: 10;background: white;" ng-if="shipLocationDisplay.length>0 && vendor.showSelectedShipLocation">
                                                <table class="table" style="position: relative;z-index: 10;">
                                                    <tr ng-repeat="f1 in shipLocationDisplay">
                                                        <td style="cursor:pointer" ng-click="fillValue(f1.LOCATION_SITE,vendor,'SHIP_TO_LOCATION')">
                                                            {{f1.LOCATION_SITE}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div ng-show="vendor.shipToLocationError == true">
                                                <div class="help-block error logininput text-danger" ng-show="vendor.shipToLocationError == true">Please select Ship To Location</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-if="!vendor.showF1Values">
                                            <label><strong>Bill To</strong></label>
                                            <!--<input type="text" ng-disabled="true" ng-model="vendor.BILL_TO_LOCATION" class="form-control" />-->
                                            <!--<select data-placeholder="Select Type" name="gst" ng-model="vendor.BILL_TO_LOCATION" ng-options='jeeves.LOCATION_NAME as jeeves.LOCATION_SITE for jeeves in locationMasterJeeves' class="form-control"></select>
                            <span style="color:red" ng-show="vendor.billToLocationError == true">
                                Bill To Location is required.
                            </span>-->

                                            <input type="text" ng-model="vendor.BILL_TO_LOCATION" ng-change="locationSearch(vendor.BILL_TO_LOCATION,vendor,vendor.showF1Values,'BILL_TO_LOCATION');" id="billToLocation" name="billToLocation" class="form-control" required>

                                            <div style="height:150px;max-height: 400px;overflow-y: auto;position: relative;z-index: 10;background: white;" ng-if="billLocationDisplay.length>0 && vendor.showSelectedBillLocation">
                                                <table class="table" style="position: relative;z-index: 10;">
                                                    <tr ng-repeat="jeeves in billLocationDisplay">
                                                        <td style="cursor:pointer" ng-click="fillValue(jeeves.LOCATION_SITE,vendor,'BILL_TO_LOCATION')">
                                                            {{jeeves.LOCATION_SITE}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div ng-show="vendor.billToLocationError == true">
                                                <div class="help-block error logininput text-danger" ng-show="vendor.billToLocationError == true">Please select Bill To Location</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-if="!vendor.showF1Values">
                                            <label><strong>Ship To</strong></label>
                                            <!--<input type="text" ng-disabled="true" ng-model="vendor.SHIP_TO_LOCATION" class="form-control" />-->
                                            <!--<select data-placeholder="Select Type" name="gst" ng-model="vendor.SHIP_TO_LOCATION" ng-options='jeeves.LOCATION_NAME as jeeves.LOCATION_SITE for jeeves in locationMasterJeeves' class="form-control"></select>
                            <span style="color:red" ng-show="vendor.shipToLocationError == true">
                                Ship To Location is required.
                            </span>-->

                                            <input type="text" ng-model="vendor.SHIP_TO_LOCATION" ng-change="locationSearch(vendor.SHIP_TO_LOCATION,vendor,vendor.showF1Values,'SHIP_TO_LOCATION');" id="shipToLocation" name="shipToLocation" class="form-control" required>

                                            <div style="height:150px;max-height: 400px;overflow-y: auto;position: relative;z-index: 10;background: white;" ng-if="shipLocationDisplay.length>0 && vendor.showSelectedShipLocation">
                                                <table class="table" style="position: relative;z-index: 10;">
                                                    <tr ng-repeat="jeeves in shipLocationDisplay">
                                                        <td style="cursor:pointer" ng-click="fillValue(jeeves.LOCATION_SITE,vendor,'SHIP_TO_LOCATION')">
                                                            {{jeeves.LOCATION_SITE}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div ng-show="vendor.shipToLocationError == true">
                                                <div class="help-block error logininput text-danger" ng-show="vendor.shipToLocationError == true">Please select Ship To Location</div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label><strong>Vendor Site Code</strong></label>
                                            <input type="text" ng-disabled="isFormdisabled || isEditable" ng-model="vendor.VENDOR_SITE_CODE" class="form-control" />

                                        </div>
                                        <div class="col-md-2" ng-if="vendor.showF1Values">
                                            <label><strong>Service Center Code</strong></label>
                                            <input type="text" ng-disabled="isFormdisabled || isEditable" value="F1-SMart" ng-model="vendor.SVC_CENTER_CODE" name="servicecenter" id="servicecenter" class="form-control" />
                                        </div>
                                        <div class="col-md-2" ng-if="!vendor.showF1Values">
                                            <label><strong>Branch Code</strong></label>
                                            <input type="text" ng-disabled="isFormdisabled || isEditable" value="" ng-model="vendor.SVC_CENTER_CODE" name="servicecenter" id="servicecenter" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2" ng-if="vendor.showF1Values">
                                            <label><strong>GST F1</strong></label>
                                            <select data-placeholder="Select Type" name="gst" ng-model="vendor.GST_REGISTRATION" ng-change="gstSelect(vendor)" ng-options='f1.configValue as (f1.configValue + "-" +f1.configText) for f1 in gstMasterF1' class="form-control"></select>
                                            <span style="color:red" ng-show="vendor.gstError == true">
                                                Gst is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2" ng-if="!vendor.showF1Values">
                                            <label><strong>GST Jeeves</strong></label>
                                            <select data-placeholder="Select Type" name="gst" ng-model="vendor.GST_REGISTRATION" ng-change="gstSelect(vendor)" ng-options='jeeves.configValue as (jeeves.configValue + "-" +jeeves.configText) for jeeves in gstMasterJeeves' class="form-control"></select>
                                            <span style="color:red" ng-show="vendor.gstError == true">
                                                Gst is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label><strong>Payment Terms</strong></label>
                                            <input type="text" ng-disabled="true" ng-model="vendor.PAYMENT_TERMS" class="form-control" />

                                        </div>
                                        <div class="col-md-2">
                                            <label><strong>PO Type</strong></label>
                                            <!--<input type="text" ng-disabled="true" ng-model="vendor.PO_TYPE" class="form-control" />-->
                                            <select ng-disabled="true" class="form-control" ng-model="vendor.PO_TYPE">
                                                <option value="Standard">Standard</option>
                                                <option value="Pre Payment">Pre Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><strong>Tax Category Type </strong></label>
                                            <!--<input type="text" ng-disabled="true" ng-model="vendor.PO_TYPE" class="form-control" />-->
                                            <select ng-init="vendor.TAX_CATEGORY_TYPE = 'Recoverable'" ng-disabled="true"
                                                    class="form-control" ng-model="vendor.TAX_CATEGORY_TYPE" ng-if="vendor.listRequirementItems[0].entity === 'F1'">
                                                <option value="Recoverable">Recoverable</option>
                                            </select>

                                            <select class="form-control" ng-model="vendor.TAX_CATEGORY_TYPE" ng-if="vendor.listRequirementItems[0].entity === 'Jeeves'">
                                                <option value="Recoverable">Recoverable</option>
                                                <option value="Non Recoverable">Non Recoverable</option>
                                            </select>
                                            <span style="color:red" ng-show="vendor.taxcategoryTypeError == true">
                                                Tax Category Type is required.
                                            </span>

                                        </div>
                                        <div class="col-md-2" ng-show="vendor.PO_TYPE == 'Pre Payment'">
                                            <label><strong>Advanced Amount</strong></label>
                                            <input valid-number allow-decimal="true" allow-negative="false" type="text" onKeyPress="if (!((/^\d{0,12}(\.\d{0,2})?$/).test(this.value))) return false;"
                                                   ng-model="vendor.ADVANCE_AMOUNT" ng-change="advanceQtyDistribution(vendor);" ng-disabled="poNumber==0?false:true" name="Quantity" id="Quantity" class="form-control" required />
                                            <span style="color:red" ng-show="vendor.advanceAmountError == true">
                                                Please enter Advance amount less than PO Amount.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="col-md-12">
                                <div class="row" style="margin-top:10px;" ng-if="!item.isDeleted">
                                    <div class="col-md-12">
                                        <!--<a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample{{vendor.vendorID + '-' + item.itemID}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{vendor.vendorID + '-' + item.itemID}}">Item {{$index+1}}: {{item.productCode}}</a>-->
                                        <!--<div class="col-md-1 pull-right">
                            <a class="btn btn-sm btn-danger waves-effect waves-light" ng-click="deleteItem(item);"> <i class="fa fa-trash-alt m-r-5"></i> <span></span></a>
                        </div>-->
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 table-responsive">
                                                    <table class="table tablesaw table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" style="min-width:100px;">
                                                                    PO line item
                                                                </th>
                                                                <th class="text-center" style="min-width:200px;">
                                                                    SKU ID
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Product Name
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Entity
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Type Of Stock
                                                                </th>

                                                                <th class="text-center" style="min-width:150px;">
                                                                    Brand
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Brand Part Code
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Category
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Model
                                                                </th>
                                                                <th class="text-center" style="min-width:80px;">
                                                                    Total Qty
                                                                </th>
                                                                <th class="text-center" style="min-width:100px;">
                                                                    Open Qty
                                                                </th>
                                                                <th class="text-center" style="min-width:100px;">
                                                                    Available Qty
                                                                </th>
                                                                <th class="text-center" style="min-width:100px;">
                                                                    UOM
                                                                </th>
                                                                <th class="text-center" style="min-width:100px;">
                                                                    Rate
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Total Cost(Inc. Tax)
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Total Cost(Exc. Tax)
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Case ID
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Expected Delivery Date
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    SAC/HSN Code
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    Delivery Location
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;" ng-show="vendor.PO_TYPE == 'Pre Payment'">
                                                                    Advanced Amount
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    PR Number
                                                                </th>
                                                                <th class="text-center" style="min-width:150px;">
                                                                    QCS Id
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="item in vendor.listRequirementItems">
                                                            <tr>
                                                                <td>
                                                                    {{item.ITEM_OF_REQUESITION}}
                                                                </td>
                                                                <td>
                                                                    {{item.productCode}}
                                                                </td>
                                                                <td>
                                                                    {{item.productIDorName}}
                                                                </td>
                                                                <td>
                                                                    {{item.entity}}
                                                                </td>
                                                                <td>
                                                                    {{item.productDeliveryDetails}}
                                                                </td>
                                                                <td>
                                                                    {{item.brand}}
                                                                </td>
                                                                <td>
                                                                    {{item.brandPartCode}}
                                                                </td>
                                                                <td>
                                                                    {{item.category}}
                                                                </td>
                                                                <td>
                                                                    {{item.model}}
                                                                </td>
                                                                <td>
                                                                    <input valid-number allow-decimal="true" allow-negative="false" type="text"
                                                                           ng-model="item.qtyDistributed" ng-disabled="isFormdisabled" ng-change="validation(item);qtyDistributionCal(vendor,item);" name="Quantity" id="Quantity" class="form-control" required />
                                                                    <span style="color:red" ng-show="item.quantityError == true">
                                                                        Quantity is required.
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    {{item.qtyDistributedTemp}}
                                                                </td>
                                                                <td>
                                                                    {{item.availableQty}}
                                                                </td>
                                                                <td>
                                                                    {{item.productQuantityIn}}
                                                                </td>
                                                                <td>
                                                                    <input valid-number allow-decimal="true" allow-negative="false" type="text"
                                                                           ng-model="item.revUnitPrice" ng-disabled="isEditable || isFormdisabled" ng-change="validation(item);qtyDistributionCal(vendor,item);" name="Rate" id="Rate" class="form-control" required />
                                                                </td>
                                                                <td>
                                                                    {{item.totalPOPriceWithTax}}

                                                                </td>
                                                                <td>
                                                                    {{item.totalPOPriceWithoutTax}}
                                                                </td>
                                                                <td>
                                                                    {{item.caseId}}
                                                                </td>
                                                                <td>
                                                                    {{item.expDeliveryDate1}}
                                                                </td>
                                                                <td>
                                                                    {{item.hsnCode}}
                                                                </td>
                                                                <td>
                                                                    {{item.deliveryLocation}}
                                                                </td>
                                                                <td ng-show="vendor.PO_TYPE == 'Pre Payment'">
                                                                    {{item.advanceAmount}}
                                                                </td>
                                                                <td>
                                                                    <a ng-if="prID > 0" target="_blank" data-ui-sref="pr-actions({Id:prID})">{{prNumber}}</a>
                                                                </td>
                                                                <td>
                                                                    <a ng-if="qcsId > 0" target="_blank" data-ui-sref="cost-comparisions-qcs({reqID:reqId,qcsID:qcsId})">{{qcsId}}</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row white-box item-details-row">
                            <div class="col-md-12" style="font-size:18px;">
                                <div class="row">
                                    <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                            ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown" ng-change="workflowChange()">
                                        <option value="">Select Workflow</option>
                                    </select>
                                    <div ng-show="workFlowValidation">
                                        <div class="help-block error logininput text-danger" ng-show="workFlowValidation">Please Select Workflow</div>
                                    </div>
                                    <strong ng-if="!isErrorworkflowID"> Approval workflow </strong><strong ng-if="isErrorworkflowID"
                                                                                                           class="text-danger">Approval workflow*</strong>
                                    <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                        <i class="fa fa-sync"></i>
                                    </a>
                                </div>
                                <!--<div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                        ng-options="wf.workflowID as wf.workflowTitle for wf in workflowListTemp" required class="form-control-dropdown"
                        ng-disabled="true">
                    <option value="">Select Workflow</option>
                </select>

                                    </div>-->
                            </div>
                        </div>

                        <div class="row white-box item-details-row">
                            <div class="col-md-8">
                                <span class="text-danger">{{errorMessage}}</span>
                            </div>
                            <div class="col-md-4 pull-right">
                                <!--<button class="btn btn-info btn-sm waves-effect waves-light" ng-click="cancel()" type="button"><span>Cancel</span></button>-->

                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-show="poNumber==0?true:false" ng-disabled="!isEditable" ng-click="submitPOToSAP(false)" type="button"><span>Generate PO</span></button>
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-if="(isSuperUser && isCustomer) || vendorsList[0].CREATED_BY == currentUserId" ng-disabled="isFormdisabled" ng-click="updatePODetails()" ng-hide="vendorsList[0].PO_STATUS=='CLOSED' || vendorsList[0].PO_STATUS=='PO CANCELLED' || poNumber==0?true:false" type="button"><span>Update PO</span></button>
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-if="((isSuperUser && isCustomer) || (vendorsList[0].CREATED_BY == currentUserId)) && showRejectBtn" ng-disabled="isFormdisabled" ng-hide="vendorsList[0].PO_STATUS=='CLOSED' || poNumber==0?true:false" ng-click="rejectPODetails('CLOSED')" type="button"><span>Reject PO</span></button>
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-if="(isSuperUser && isCustomer) || vendorsList[0].CREATED_BY == currentUserId" ng-disabled="isFormdisabled" ng-hide="vendorsList[0].PO_STATUS=='PO CANCELLED' || poNumber==0?true:false" ng-click="rejectPODetails('PO CANCELLED')" type="button"><span>Cancel PO</span></button>

                                <!--<button class="btn btn-info btn-sm waves-effect waves-light" ng-click="submitPOToSAP(true)" type="button"><span>Save PO As Draft</span></button>-->
                            </div>
                        </div>
                        <div class="row white-box item-details-row" ng-if="POServiceStatusText">
                            <div class="col-md-12 text-center">
                                <p class="text-primary font-weight-bold"><strong>PO Generation Status: {{POServiceStatusText}}</strong></p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                    <br />
                                    <br />
                                    <div class="row approvalRowHeight">
                                        <div class="col-md-12">
                                            <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                </br>-->
                                                <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                            </P>
                                            <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 list-group-item" href="#"
                                             ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                             style="min-height:90px;">
                                            <div class="row">
                                                <div class="col-md-1 col-xs-1">
                                                    <h5>{{$index + 1}}. </h5>
                                                </div>
                                                <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                    <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                    <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                </div>
                                                <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                    <div class="row">
                                                        <!--<div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                            <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                            <small>Hold</small>
                                        </div>-->
                                                        <div class="col-md-4 col-xs-4" ng-hide="vendorsList[0].PO_STATUS=='CLOSED'">
                                                            <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                            <small>Approve</small>
                                                        </div>
                                                        <div class="col-md-4 col-xs-4" ng-hide="vendorsList[0].PO_STATUS=='CLOSED'">
                                                            <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                            <small>Reject</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                &nbsp;
                                            </div>
                                            <!--<div class="row" style="margin-top:0px;text-align:center">
                                <div>
                                    <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                    <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                    <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                    <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                </div>
                            </div>-->

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div style='border-bottom:1px solid #ccc;'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                    <br />
                    <div class="text-center white-box p-10">
                        <button class="btn btn-sm btn-link btn-file btn-new-look" ng-click="routeBack()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer id="footer" data-ng-include src="'template/footer.html'"></footer>