<div>
    <div class="white-box">


        <div class="pmb-block" ng-controller="vendorLogisticsListCtrl">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-view-list"></i> My Leads</h2>
            </div>
            <div class="table-responsive z-depth-2">
                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                    <tr ng-repeat="auction in myActiveLeads.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <td data-title="'Req ID'" sortable="'ID'">
                            {{ auction.requirementID}}
                        </td>
                        <td data-title="'Ttile'" sortable="'Name'">
                            <a role="button" class="prmellipsis" ng-click="goToVendorLogistic(auction.requirementID);">{{auction.title}}</a>
                        </td>
                        <!--<td data-title="'Category'" sortable="'Category'">
                            {{ auction.category[0]}}
                        </td>-->
                        <td data-title="'Price'" sortable="'Budget'">
                            <span ng-bind-html="auction.price | numToCurrency:auction.currency"></span>
                        </td>
                        <td data-title="'STATUS'" sortable="'Is Closed'">
                            <span ng-if="auction.selectedVendorID == 0 && (auction.status != 'NOTSTARTED' || auction.status != 'UNCONFIRMED' || auction.status != 'STARTED')">{{ auction.status}}</span>
                            <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID == uId">{{ auction.status}}</span>
                            <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID != uId">Negotiation Ended</span>
                        </td>
                    </tr>
                </table>
                <ul uib-pagination total-items="totalLeads" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
            <div class="clearfix" style="margin-bottom:150px;"></div>
        </div>


    </div>
</div>