<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<body>This is header & footer demo.</body>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>