﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listSubEntityCtrl">
                <div class="white-box" ng-if="!showEdit">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 style="display:inline-block;margin:5px">
                                <i class="zmdi zmdi-view-list"></i>  Sub Entity List
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                <i class="fa fa-plus-square"></i> Excel
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li style="cursor:pointer;"><a class="" role="button" ng-click="exportItemsToExcel()" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export Sub Entity Excel</a></li>

                                <li style="cursor:pointer;">
                                    <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                        <span>&nbsp;&nbsp;</span>
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Sub Entity Excel</span>
                                            <span class="fileinput-exists"><i class="far fa-edit"></i>&nbsp;&nbsp;Edit Sub Entity Excel</span>
                                            <input type="file" accept=".xlsx" id="excelclientupload" itemscope="" itemid="excelclientupload" ng-file-select-items="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>

                                </li>
                                <li style="cursor:pointer;">
                                    <a class="" role="button" ng-click="exportErrorDetails('SUB_ENTITY_DETAILS')" aria-hidden="true">
                                        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Error Log
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 text-right">
                            <button class="btn btn-info" ng-click="downloadToExcel();" value="Export to Excel">
                                <i class="fa fa-download" aria-hidden="true"></i> Download Sub Entity Excel
                            </button>
                        </div>
                    </div>

                    <!--<div class="row" ng-show="false">
                        <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                            <table id="testTable" class="table  table-striped table-bordered" style="padding-right:0">
                                <thead>
                                    <tr>
                                        <th style="max-width:200px;background-color:tomato" ng-repeat="columnName in tableColumns"><strong>{{columnName}}</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows">
                                        <td style="max-width:200px;" ng-repeat="val in value.tableValues track by $index">{{val}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>-->


                    <div class="row">
                        <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                            <small style="color:green"> Total Count:{{totalItems}}</small>
                            <table class="table  table-striped table-bordered" style="padding-right:0">
                                <thead>
                                    <tr>
                                        <th style="max-width:200px;" ng-repeat="columnName in tableColumns track by $index"><strong>{{columnName}}</strong></th>
                                        <th style="max-width:200px;"><strong>Actions</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows">
                                        <td style="max-width:200px;" ng-repeat="val in value.tableValues track by $index">{{val}}</td>
                                        <td style="max-width:200px;">
                                            <a class="fa fa-edit" role="button" style="margin-left:10px;" ng-click="editEachRecord(value)"></a>
                                            <a class="fa fa-trash" role="button" style="margin-left:10px;" ng-click="EditDeleteRecord('DELETE',value)"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>




                <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="width:950px;">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Row Number</th>
                                                    <th style="text-align:center">Error Message</th>
                                                    <th style="text-align:center">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in rowErrors">
                                                    <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                    <td ng-bind-html="item.REASON"></td>
                                                    <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadDetails('SUB_ENTITY_DETAILS',1);">Continue</button>
                                        <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="white-box row" ng-if="showEdit">
                    <div class="col-md-12">
                        <h2><span class="text-warning">Edit Record</span></h2>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <label><strong>Se Number</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.SE_NUMBER" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Source Type</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.SOURCE_TYPE" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Product Category</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.PRODUCT_CATEGORY" />
                            </div>
                            <div class="row col-md-12">&nbsp;</div>
                            <div class="col-md-4">
                                <label><strong>Part Category</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.PART_CATEGORY" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Brand</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.BRAND" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Type Of Stock</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.TYPE_OF_STOCK" />
                            </div>
                            <div class="row col-md-12">&nbsp;</div>
                            <div class="col-md-4">
                                <label><strong>First Priority Vendors</strong></label>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="editRecord.companyvendors"
                                             options="vendor.userID as vendor.companyName+ ' '+vendor.sapVendorCode for vendor in vendorsList"
                                             change="setFilters(currentPage-1)">
                                </multiselect>
                            </div>
                            <div class="col-md-4">
                                <label><strong>Second Priority Vendors</strong></label>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="editRecord.companyvendors1"
                                             options="vendor.userID as vendor.companyName+ ' '+vendor.sapVendorCode for vendor in vendorsList"
                                             change="setFilters(currentPage-1)">
                                </multiselect>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-7 pull-right">
                                    <button class="btn btn-info col-md-2" ng-click="EditDeleteRecord('EDIT');">Edit</button>
                                    <button class="btn btn-info col-md-2" ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
