﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!--<link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="productAnalysisCtrl">
                <div class="row">
                    <div class="col-md-12"><h3 class="page-heading"></h3></div>
                </div>
                <div class="white-box">
                    <div class="container-fluid">
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="page-heading bold-font-prm">Product Analysis</h4>
                                </div>
                                <div class="col-md-12">
                                    <table class="table borderless" style="width:100%">
                                        <tr>
                                            <td style="width:20%" class="bold-font-prm">Name</td>
                                            <td style="width:80%">: {{ProductDetails.PROD_NAME}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Code</td>
                                            <td>: {{ProductDetails.PROD_CODE}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Category</td>
                                            <td>: {{ProductDetails.CATEGORIES}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Sub Category</td>
                                            <td>: {{ProductDetails.SUB_CATEGORIES}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <h4 class="bold-font-prm text-center">
                                Product Material Occupying in Total Procurement
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h11.h}} &#013;{{h.h11.t1}} &#013;{{h.h11.t2}}." role="button"></i>
                            </h4>
                            <div class="white-card hoverTransition04 table-responsive">
                                <div id="ProductVsOrgOccupationChart" style="min-width: 200px; height: 280px; max-width: 350px; margin: 0 auto"></div>
                            </div>
                            <small class="pull-right">Product: <label class="bold-font-prm">{{ProductDetails.PROD_OCCUPATION | number : companyRoundingDecimalSetting}}</label> | Other Products in Organization: <label class="bold-font-prm">{{ProductDetails.ALL_PROD_OCCUPATION | number : companyRoundingDecimalSetting}}</label></small>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box">
                            <h4 class="bold-font-prm text-center">Category Material Occupying in Total Procurement</h4>
                            <div class="white-card hoverTransition04 table-responsive">
                                <div id="ProductVsCatOccupationChart" style="min-width: 200px; height: 280px; max-width: 350px; margin: 0 auto"></div>
                            </div>
                            <small class="pull-right">Product: <label class="bold-font-prm">{{ProductDetails.PROD_OCCUPATION | number : companyRoundingDecimalSetting}}</label> | Other Products in Category: <label class="bold-font-prm">{{ProductDetails.CAT_PROD_OCCUPATION | number : companyRoundingDecimalSetting}}</label></small>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Pending RFQ
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h1.h}} &#013;{{h.h1.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of Pending RFQ : {{ProductDetails2.PENDING_REQ}}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Pending PO
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h2.h}} &#013;{{h.h2.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of Pending PO : {{ProductDetails2.PENDING_PO}}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Total POs
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h3.h}} &#013;{{h.h3.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of POs : {{ProductDetails2.CLOSED_PO}}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Total Vendors
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h4.h}} &#013;{{h.h4.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of Vendors : {{ProductDetails2.TOTAL_ASSIGNED_VENDORS}}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                Number of vendors got orders
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h5.h}} &#013;{{h.h5.t1}}." role="button"></i>
                            </h4>
                            <table class="table table-vmiddle table-bordered">
                                <thead>
                                    <tr>
                                        <th style="min-width:2px;max-width:2px;">S.NO</th>
                                        <th style="min-width:3px;max-width:3px;">REQ ID</th>
                                        <th style="min-width:40px;max-width:40px;">COMPANY NAME</th>
                                        <th style="min-width:30px;max-width:30px;">PO CREATED</th>
                                        <th style="min-width:25px;max-width:25px;">ITEM PRICE</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:250px;min-height:250px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in VendorsAndOrders">
                                        <td style="min-width:2px;max-width:2px;">{{$index+1}}</td>
                                        <td style="min-width:3px;max-width:3px;"><a ng-click="goToReq(data.REQ_ID);" role="button">{{data.REQ_ID}}</a></td>
                                        <td style="min-width:40px;max-width:40px;">{{data.V_COMPANY_NAME}}</td>
                                        <td style="min-width:30px;max-width:30px;"><a ng-click="goToPPSView(data.REQ_ID, data.CATALOGUE_ITEM_ID, data.PPS_ID);" role="button"> {{data.POSTED_DATE}} </a></td>
                                        <td style="min-width:25px;max-width:25px;">{{data.TOTAL_ITEM_PRICE | number : companyRoundingDecimalSetting}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                Most number of POs to vendors - Name
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h6.h}} &#013;{{h.h6.t1}}." role="button"></i>
                            </h4>
                            <table class="table table-vmiddle table-bordered">
                                <thead>
                                    <tr>
                                        <th style="min-width:5px;max-width:5px;">S.NO</th>
                                        <th style="min-width:50px;max-width:50px;">COMPANY NAME</th>
                                        <th style="min-width:45px;max-width:45px;">TOTAL POs</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:250px;min-height:250px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in MostOrdersAndVendors">
                                        <td style="min-width:5px;max-width:5px;">{{$index+1}}</td>
                                        <td style="min-width:50px;max-width:50px;">{{data.V_COMPANY_NAME}}</td>
                                        <td style="min-width:45px;max-width:45px;">{{data.TOTAL_POS}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                List Of RFQ
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h7.h}} &#013;{{h.h7.t1}}." role="button"></i>
                            </h4>
                            <table class="table table-vmiddle table-bordered">
                                <thead>
                                    <tr>
                                        <th style="min-width:5px;max-width:5px;">S.NO</th>
                                        <th style="min-width:5px;max-width:5px;">REQ ID</th>
                                        <th style="min-width:40px;max-width:40px;">REQ TITLE</th>
                                        <th style="min-width:40px;max-width:40px;">POSTED ON</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:250px;min-height:250px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in ProductRequirements">
                                        <td style="min-width:5px;max-width:5px;">{{$index+1}}</td>
                                        <td style="min-width:5px;max-width:5px;"><a ng-click="goToReq(data.REQ_ID);" role="button">{{data.REQ_ID}}</a></td>
                                        <td style="min-width:40px;max-width:40px;">{{data.REQ_TITLE}}</td>
                                        <td style="min-width:40px;max-width:40px;">{{data.POSTED_DATE}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                Price Graph
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h8.h}} &#013;{{h.h8.t1}}." role="button"></i>
                            </h4>
                            <div class="white-card hoverTransition04 table-responsive">
                                <hc-chart options="chartOptions" width ng-if="show">Placeholder for generic chart</hc-chart>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">
                                Best Price
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h9.h}} &#013;{{h.h9.t1}}." role="button"></i>
                            </h5>
                            <div>Best Price for this Product : <strong ng-show="ProductDetails2.BEST_PRICE > 0">{{ProductDetails2.BEST_PRICE}}</strong></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">
                                Best Price Date
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h9.h}} &#013;{{h.h9.t1}}." role="button"></i>
                            </h5>
                            <div>Best Price Date : <strong ng-show="ProductDetails2.BEST_PRICE > 0">{{ProductDetails2.BEST_PRICE_DATE}} (Req: <a ng-click="goToReq(ProductDetails2.BEST_PRICE_REQ);" role="button">{{ProductDetails2.BEST_PRICE_REQ}}</a>)</strong></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">
                                Last Purchase Price
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h10.h}} &#013;{{h.h10.t1}}." role="button"></i>
                            </h5>
                            <div>Last PO Price : <strong ng-show="ProductDetails2.LAST_PRICE > 0">{{ProductDetails2.LAST_PRICE}}</strong></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">
                                Last Purchase Date
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h10.h}} &#013;{{h.h10.t1}}." role="button"></i>
                            </h5>
                            <div>
                                Last PO Date :
                                <strong ng-show="ProductDetails2.LAST_PRICE > 0">
                                    {{ProductDetails2.LAST_PRICE_DATE}}
                                    (Req:
                                    <a ng-click="goToPPSView(ProductDetails2.LAST_PRICE_REQ, stateParamsCatalogId, ProductDetails2.LAST_PRICE_PPS);"
                                       role="button">
                                        {{ProductDetails2.LAST_PRICE_REQ}}
                                    </a>)

                                </strong>
                            </div>
                        </div>
                    </div>
                    <!--LAST_PRICE_PPS-->
                    <!--<div class="col-md-4">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">Vendor Quality</h5>
                            <div>Vendor Quality : Good</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">Delivery Efficiency</h5>
                            <div>Total No of Pending RFQ : 1</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="white-card hoverTransition05">
                            <h5 class="bold-font-prm">Pending deliverable</h5>
                            <div>Total No of Deliverables : 1</div>
                        </div>
                    </div>-->
                </div>

                <!--<div class="row">
                    <div class="col-md-12 text-center hoverTransition">
                        <h4>******************************************** <label class="text-warning bold-font-prm">TEST ABOVE CARDS ONLY</label> ********************************************</h4>
                    </div>
                </div>-->

            </div>
        </div>

    </div>
</div>
