﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="catalogProductAddCtrl">
                    <div class="row">
                        <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                    </div>
                    <div class="white-box">
                        <div class="pmb-block">
                            <div class="row col-md-12 col-xs-12">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <h3>
                                            New Product
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <form name="addnewform" ng-model="product">
                                <div class="container-fluid" style="padding-left:20px">

                                    <div class="row col-md-12 col-xs-12">
                                        <div class="row">
                                            <div class="white-box col-md-4 scroll" style="border: 1px solid lightgrey;">
                                                <div style="text-align:center">
                                                    <h3>
                                                        Product Details
                                                    </h3>
                                                </div>
                                                <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-4">
                                                                    <label style="color:#606261"><strong>SKU<span style="color:red"> *</span></strong></label>
                                                                </td>
                                                                <td class="col-md-10">
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productCode)}">
                                                                        <input placeholder="Product Code" type="text" class="form-control" ng-model="product.productCode" id="prodCode" name="productCode" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.productCode.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.productCode.$error.required">please enter SKU</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>EPN </strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || EPN)}">
                                                                        <input type="text" placeholder="EPN" class="form-control" name="EPN" ng-model="product.EPN" />
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong> Product Name<span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productName)}">
                                                                        <input placeholder="Product Name" type="text" class="form-control" ng-model="product.productName" name="productName" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.productName.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.productName.$error.required">please enter product Name</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> <label style="color:#606261"><strong> Product Description<span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productDesc)}">
                                                                        <textarea placeholder=" Product Description" type="text" class="form-control" rows="1" ng-model="product.productDesc" name="productDesc" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.productDesc.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.productDesc.$error.required">please enter Product Description</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> <label style="color:#606261"><strong>Service Type </strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IsServiceProduct)}">
                                                                        <input type="text" placeholder="Service Type" class="form-control" name="SERVICE_TYPE" ng-model="product.IsServiceProduct" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Item Registration Status </strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || ITEM_REG_STATUS)}">
                                                                        <input type="text" placeholder="Item Registration Status " class="form-control" name="ITEM_REG_STATUS" ng-model="product.ITEM_REG_STATUS" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> <label style="color:#606261"><strong>Item Serialized Status </strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || ITEM_SERIALLZED_STATUS)}">
                                                                        <input type="text" placeholder="Item Serialized Status" class="form-control" name="ITEM_SERIALLZED_STATUS" ng-model="product.ITEM_SERIALLZED_STATUS" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Item Weight</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productWeightVolume)}">
                                                                        <input placeholder="Item Weight" type="text" class="form-control" ng-model="product.productWeightVolume" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>UOM<span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productQuantityIn)}">
                                                                        <select placeholder="UOM"  class="form-control" name="productQuantityIn" ng-model="product.productQuantityIn" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" required /></select>
                                                                        <div ng-show="addnewform.$submitted || addnewform.productQuantityIn.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.productQuantityIn.$error.required">please enter UOM</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>


                                            <div class="white-box col-md-4 scroll" style="border: 1px solid lightgrey;">
                                                <div style="text-align:center">
                                                    <h3>
                                                        Brand Details
                                                    </h3>
                                                </div>
                                                <div class="table-responsive" style="max-height: 350px;overflow-y:auto">
                                                    <table class="table">
                                                        <tbody>

                                                            <tr>
                                                                <td class="col-md-4"> <label style="color:#606261"><strong>Model Id </strong></label></td>
                                                                <td class="col-md-10">
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || MODEL_ID)}">
                                                                        <input type="text" placeholder="Model Id" class="form-control" name="MODEL_ID" ng-model="product.MODEL_ID" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Model Name <span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || MODEL_NAME)}">
                                                                        <input type="text" placeholder="Model Name" class="form-control" name="MODEL_NAME" ng-model="product.MODEL_NAME" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.MODEL_NAME.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.MODEL_NAME.$error.required">please enter Model Name</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Brand Part Code<span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || BRAND_PART_CODE)}">
                                                                        <input type="text" placeholder="Brand Part Code" class="form-control" name="BRAND_PART_CODE" ng-model="product.BRAND_PART_CODE" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.BRAND_PART_CODE.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.BRAND_PART_CODE.$error.required">please enter Brand Part Code</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> <label style="color:#606261"><strong>Brand<span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || preferredBrand)}">
                                                                        <input type="text" placeholder="preferredBrand" class="form-control" name="Brand" ng-model="product.preferredBrand" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.preferredBrand.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.preferredBrand.$error.required">please enter Brand</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> <label style="color:#606261"><strong>Brand Product category Code</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || BRAND_PRODUCT_CATEGORY_CODE)}">
                                                                        <input type="text" placeholder="Brand Product category Code Id" class="form-control" name="BRAND_PRODUCT_CATEGORY_CODE" ng-model="product.BRAND_PRODUCT_CATEGORY_CODE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr></tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="white-box col-md-4 sroll" style="border: 1px solid lightgrey;">
                                                <div style="text-align:center">
                                                    <h3>
                                                        Classification details
                                                    </h3>
                                                </div>
                                                <div class="table-responsive" style="max-height: 350px;overflow-y:auto">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-4"> <label style="color:#606261"><strong>JSN</strong></label></td>
                                                                <td class="col-md-10">
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || JSN)}">
                                                                        <input type="text" placeholder="JSN" class="form-control" name="JSN" ng-model="product.JSN" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>FSN</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || FSN)}">
                                                                        <input type="text" placeholder="FSN" class="form-control" name="FSN" ng-model="product.FSN" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>HSN Code<span style="color:red"> *</span></strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productHSNCode)}">
                                                                        <input placeholder="HSN Code" type="text" class="form-control" ng-model="product.productHSNCode" name="productHSNCode" required />
                                                                        <div ng-show="addnewform.$submitted || addnewform.productHSNCode.$touched">
                                                                            <div class="help-block error logininput text-danger" ng-show="addnewform.productHSNCode.$error.required">please enter HSN Code</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>IMEI No</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IMEI_NO)}">
                                                                        <input type="text" placeholder="IMEI_NO" class="form-control" name="IMEI_NO" ng-model="product.IMEI_NO" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>ESN No</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || ESN_NO)}">
                                                                        <input type="text" placeholder="ESN No" class="form-control" name="ESN_NO" ng-model="product.ESN_NO" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="white-box col-md-4 scroll" style="border: 1px solid lightgrey;">
                                                <div style="text-align:center">
                                                    <h3>
                                                        Pricing Details
                                                    </h3>
                                                </div>
                                                <div class="table-responsive" style="max-height: 350px;overflow-y:auto">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-4"> <label style="color:#606261"><strong>Customer Price</strong></label></td>
                                                                <td class="col-md-10">
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || CUSTOMER_PRICE)}">
                                                                        <input type="text" placeholder="Customer Price" class="form-control" name="CUSTOMER_PRICE" ng-model="product.CUSTOMER_PRICE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>SF Price</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || SF_PRICE)}">
                                                                        <input type="text" placeholder="SF Price" class="form-control" name="SF_PRICE" ng-model="product.SF_PRICE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Landing Price</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || LANDING_PRICE)}">
                                                                        <input type="text" placeholder="Landing Price" class="form-control" name="LANDING_PRICE" ng-model="product.LANDING_PRICE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Stock Transfer Price</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || STOCK_TRANSPORTER_PRICE)}">
                                                                        <input type="text" placeholder="Stock Transfer Price" class="form-control" name="STOCK_TRANSPORTER_PRICE" ng-model="product.STOCK_TRANSPORTER_PRICE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Handling Charges</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || HANDLING_CHARGES)}">
                                                                        <input type="text" placeholder="Handling Charges" class="form-control" name="HANDLING_CHARGES" ng-model="product.HANDLING_CHARGES" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="white-box col-md-4 scroll" style="border: 1px solid lightgrey;">
                                                <div style="text-align:center">
                                                    <h3>
                                                        Warranty & Repair Details
                                                    </h3>
                                                </div>
                                                <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-4"> <label style="color:#606261"><strong>Warranty</strong></label></td>
                                                                <td class="col-md-10">
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || WARRANTY)}">
                                                                        <input type="text" placeholder="Warranty Coverage" class="form-control" name="WARRANTY" ng-model="product.WARRANTY" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Warranty Coverage (Yes/No)</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || WARRANTY_COVERAGE)}">
                                                                        <input type="text" placeholder="Warranty Coverage" class="form-control" name="WARRANTY" ng-model="product.WARRANTY_COVERAGE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Product Life</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || productShelfLife)}">
                                                                        <input type="text" placeholder="Product Life" class="form-control" name="WARRANTY" ng-model="product.productShelfLife" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is Consumable </strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_CONSUMABLE)}">
                                                                        <input type="text" placeholder="Is Consumable" class="form-control" name="IS_CONSUMABLE" ng-model="product.IS_CONSUMABLE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is Chargable</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_CHARGABLE)}">
                                                                        <input type="text" placeholder="Is Chargable" class="form-control" name="HANDLING_CHARGES" ng-model="product.IS_CHARGABLE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is Returnable</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_RETURNABLE)}">
                                                                        <input type="text" placeholder="is Returnable" class="form-control" name="IS_RETURNABLE" ng-model="product.IS_RETURNABLE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is HighValue</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_HIGHVALUE)}">
                                                                        <input type="text" placeholder="is HighValue" class="form-control" name="IS_HIGHVALUE" ng-model="product.IS_HIGHVALUE" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is Serialized</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_SERIALIZED)}">
                                                                        <input type="text" placeholder="Is Serialized" class="form-control" name="IS_SERIALIZED" ng-model="product.IS_SERIALIZED" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is Replacement</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_REPLACEMENT)}">
                                                                        <input type="text" placeholder="Is Replacement" class="form-control" name="IS_REPLACEMENT" ng-model="product.IS_REPLACEMENT" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Is Advance Replacement</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || IS_ADVANCE_REPLACEMENT)}">
                                                                        <input type="text" placeholder="Is Advance Replacement" class="form-control" name="IS_ADVANCE_REPLACEMENT" ng-model="product.IS_ADVANCE_REPLACEMENT" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Repair level</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || REPAIR_LEVEL)}">
                                                                        <input type="text" placeholder="Repair level" class="form-control" name="REPAIR_LEVEL" ng-model="product.REPAIR_LEVEL" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Priority level</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || PRIORITY_LEVEL)}">
                                                                        <input type="text" placeholder="Priority level" class="form-control" name="PRIORITY_LEVEL" ng-model="product.PRIORITY_LEVEL" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Discount</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || DISCOUNT)}">
                                                                        <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Discount" class="form-control" name="DISCOUNT" ng-model="product.DISCOUNT" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Condition</strong></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || CONDITION)}">
                                                                        <input type="text" placeholder="Condition" class="form-control" name="CONDITION" ng-model="product.CONDITION" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Entity</strong><span style="color:red"> *</span></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || ENTITY)}">
                                                                        <!--<input type="text" placeholder="Entity" class="form-control" name="ENTITY" ng-model="product.ENTITY" required/>-->
                                                                        <select class="form-control" ng-model="product.ENTITY" ng-click="GetProductSubEntities(product.ENTITY)" name="ENTITY" required>
                                                                            <option value="" selected>Select Entity</option>
                                                                            <option value="Jeeves">Jeeves</option>
                                                                            <option value="F1">F1</option>
                                                                        </select>
                                                                    </div>
                                                                    <div ng-show="addnewform.$submitted || addnewform.ENTITY.$touched">
                                                                        <div class="help-block error logininput text-danger" ng-show="addnewform.ENTITY.$error.required">please enter Entity</div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!--<tr ng-if="product.ENTITY == 'Jeeves' || product.ENTITY == 'F1'">
                                                                <td><label style="color:#606261"><strong>Sub Entity</strong><span style="color:red"> *</span></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || SUB_ENTITY)}">
                                                                        <select placeholder="Entity" class="form-control" name="ENTITY" ng-model="product.SUB_ENTITY" ng-options="product.SUB_ENTITY_NAME as product.SUB_ENTITY_NAME for product in productSubEntities" required></select>
                                                                    </div>
                                                                    <div ng-show="addnewform.$submitted || addnewform.SUB_ENTITY.$touched">
                                                                        <div class="help-block error logininput text-danger" ng-show="addnewform.SUB_ENTITY.$error.required">please enter Entity</div>
                                                                    </div>
                                                                </td>
                                                            </tr>-->
                                                            <tr>
                                                                <td><label style="color:#606261"><strong>Vertical</strong><span style="color:red"> *</span></label></td>
                                                                <td>
                                                                    <div class="form-group" ng-class="{'fg-toggled': (isEdit===true || VERTICAL)}">
                                                                        <input type="text" placeholder="Vertical" class="form-control" name="VERTICAL" ng-model="product.VERTICAL" />
                                                                    </div>
                                                                    <div ng-show="addnewform.$submitted || addnewform.VERTICAL.$touched">
                                                                        <div class="help-block error logininput text-danger" ng-show="addnewform.VERTICAL.$error.required">please enter Vertical</div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#ProductCategoriestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Categories"></a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="ProductCategoriestab" class="tab-pane">
                                                        <fieldset ng-disabled="productId>0 && checkProdEdit ==-1">
                                                            <div class="row">
                                                                <div class="col-xs-6" style="height:400px;max-height: 400px;overflow-y: auto">
                                                                    <script type="text/ng-template" id="nodes_category_products.html">
                                                                        <div data-nodrag>
                                                                            <label style="width:12px">
                                                                                <span data-nodrag ng-if="node.subCatCount && node.subCatCount > 0 && !node.isDisabled" ng-click="toggle(this);node.isExpand = !node.isExpand"  class="glyphicon"
                                                                                      ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'" style="color:black"></span>
                                                                            </label>
                                                                            <label><input type="checkbox" style="opacity:1" ng-model="node.nodeChecked" ng-disabled="node.isDisabled" ng-click="checkChanged(node, this);productsLimit = 100;" />  &nbsp; &nbsp;&nbsp;&nbsp;<label style="color:black">{{node.catName}}</label></label>
                                                                            <label ng-if="node.subCatCount && node.subCatCount > 0" class="font-bold"><!--({{node.subCatCount}})--></label>
                                                                        </div>
                                                                        <div ng-init="limit = 100">
                                                                            <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                                                                <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                                                                                <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                    <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </script>
                                                                    <div ui-tree id="tree-root">
                                                                        <ul ui-tree-nodes ng-model="nodes">
                                                                            <li ng-repeat="node in nodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <div class="vl row">

                                                                        <div class="col-md-6" ng-if="selectedCategories && selectedCategories.length > 0">
                                                                            <p><strong style="color:black">Selected Categories:</strong></p>
                                                                            <script type="text/ng-template" id="selected_nodes.html">
                                                                                <div data-nodrag>
                                                                                    <label style="color:black">&nbsp;&nbsp;{{node.catName}}</label>
                                                                                </div>

                                                                                <div ng-init="limit = 100">
                                                                                    <ul ng-model="node.nodes">
                                                                                        <!--ng-if="node.isExpand == true"-->
                                                                                        <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'selected_nodes.html'" collapsed="true"></li>
                                                                                        <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                            <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </script>
                                                                            <div ui-tree id="tree-root-selected">
                                                                                <ul ui-tree-nodes ng-model="selectedCategories">
                                                                                    <li ng-repeat="node in selectedCategories" ui-tree-node ng-include="'selected_nodes.html'" ng-class="collapse" collapsed="false"></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-group">
                                                    <label style="color:#606261"><strong>Choose Vendors</strong></label>
                                                    <div>
                                                        <input type="text" ng-model-options=" {debounce:900} " ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" ng-if="vendorsList && vendorsList.length > 0">
                                                <div class="row">
                                                    <div class="col-md-12" style="height:350px;max-height: 400px;overflow-y:auto;" when-scrolled="GetCompanyVendors(1,searchingVendors)">
                                                        <div ng-repeat="vendor in vendorsList" class="col-md-4">
                                                            <input type="checkbox" class="js-switch text-danger" ng-click="pushvendors(vendor)" data-color="#4ad965" data-secondary-color="#057cb5"
                                                                   ng-model="vendor.isAssignedToProduct" />
                                                            <a target="_blank" href="prm360.html#/viewprofile/{{vendor.userID}}">
                                                                {{vendor.companyName}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6 text-left">
                                                <a class="cancel" href="#/products">Cancel</a>
                                            </div>
                                            <div class="col-xs-6 ">
                                                <input type="submit" class="btn btn-info btn-wide pull-right" value="Continue" ng-click="addNewProd()" ng-disabled="!addnewform.$valid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>