﻿<style>
    .prodImage {
        height: 170px;
        margin-right: -25px;
        margin-left: -25px;
        margin-top: -25px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    .editButtons {
        display: none;
        /*  position: absolute;
        z-index: 1;
        bottom: 80px;
        left: 0px;*/
    }

    .imageBox:hover .editButtons {
        display: block;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />

        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="catalogProductsCtrl" style="height:700px;">
                <div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="col-md-12 white-box">
                    <div class="row col-sm-12">
                        <div class="row">
                            <div class="col-md-2">
                                <h2 style="margin-top:-8px;">Products ({{products.length}}/{{totalProducts}})</h2>
                            </div>
                            <div class="dropdown btn-group fg-float col-md-2 m-b-30" style="margin-top:-3px;">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                    <i class="fa fa-plus-square"></i> Add Products
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="goToProductAdd()" aria-hidden="true"><i class="fa fa-plus-square"></i>&nbsp;&nbsp; Add New Product</a></li>

                                </ul>
                            </div>
                            <div class="dropdown btn-group fg-float col-md-2 m-b-30" style="margin-top:-3px;">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px;color:white;">
                                    <i class="fa fa-plus-square"></i> Excel Products
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="exportToExcel('MATERIAL_DETAILS')" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export Product Excel</a></li>

                                    <li style="cursor:pointer;">

                                        <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                            <span>&nbsp;&nbsp;</span>
                                            <span class="btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Product Excel</span>
                                                <span class="fileinput-exists"><i class="far fa-edit"></i>&nbsp;&nbsp;Edit Product Excel</span>
                                                <input type="file" accept=".xlsx" id="materialclientupload" itemscope="" itemid="materialclientupload" ng-file-select-items="onFileSelect($files)" />
                                            </span>
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" style="color:#000;position:unset;padding:5px 0px 0px 5px;" data-dismiss="fileinput">&times;</a>
                                        </div>
                                    </li>
                                    <!--<li style="cursor:pointer;"><a class="" role="button" ng-click="exportToExcel('CONTRACT_DETAILS')" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export Contract Excel</a></li>-->
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="exportErrorDetails('MATERIAL_DETAILS')" aria-hidden="true"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; Error Log</a></li>

                                </ul>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-model-options="{debounce:500}" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Product Name">

                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Create SubEntity" ng-click="goToSubEntity()" class='btn btn-info' />
                            </div>
                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-th-list" title="List View" ng-click="listView()" style="font-size:1.3em;padding-top:5px;cursor:pointer;color:{{listColor}}"></span> &nbsp; &nbsp;
                                <span class="glyphicon glyphicon-th" title="Grid View" ng-click="gridView()" onclick="w3_close()" style="font-size:1.3em;padding-top:5px;cursor:pointer;color:{{gridColor}}"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height:550px;max-height: 550px;overflow-y: auto" when-scrolled="getProducts(1,searchingProducts)" ng-if="listViewDisplay">
                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Product No</th>
                                                <th scope="col">Product Code</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="product in products">
                                                <td scope="row"><a> <label style="cursor:pointer;color:#057cb5" ng-click="goToProductView(product.prodId)">{{product.prodName}}</label></a></td>
                                                <td scope="row"> <label>{{product.prodNo}}</label></td>
                                                <td scope="row"> <label>{{product.prodCode}}</label></td>
                                                <td scope="row">
                                                    <a> <label style="cursor:pointer" ng-click="goToProductEdit(product.prodId)"><i class="far fa-edit" style="color:#057cb5"></i></label></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12" ng-if="gridViewDisplay">
                                    <div class="row" style="height:550px;max-height: 550px;overflow-y: auto" when-scrolled="getProducts(1,searchingProducts)">

                                        <div class="col-md-2  white-box" ng-repeat="product in products" style="max-height:320px;">
                                            <div class="col-md-12 imageBox">
                                                <div class="row" class="prodImage" ng-click="goToProductView(product.prodId)" title="{{product.categoryName}}">
                                                    <img ng-if="product.productImage" style="width:100%;height:170px;" src="{{product.productImage}}" />
                                                    <img ng-if="product.productImage == ''" id="product-thumbnail" class="img-thumbnail center-block" src="https://static.plytix.com/template/2.0.4/img/no_image.png">

                                                </div>
                                                <div class="col-md-12 " style="padding:0px;">
                                                    <div class="col-sm-6" style="padding:0px;">
                                                        <a class="btn btn-block" ng-click="goToProductView(product.prodId)"><i class="fa fa-edit"></i></a>
                                                    </div>
                                                    <div class="col-sm-6" style="padding:0px;">
                                                        <a class="btn btn-block" ng-click="goToProductEdit(product.prodId)"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" style="max-height:50px;overflow-x:auto !important;">
                                                <div>
                                                    <span title="{{product.prodName}}"><strong>Name : </strong>{{product.prodName}}</span>
                                                </div>
                                                <div>
                                                    <span><strong>Number : </strong>{{product.prodNo}}</span>
                                                </div>


                                                <!--<div class="col-md-12" style="overflow: auto">
                                        <span><strong>Number : </strong>{{product.prodName}}</span>
                                    </div>-->
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="width:950px;">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Row Number</th>
                                                    <th style="text-align:center">Error Message</th>
                                                    <th style="text-align:center">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in rowErrors">
                                                    <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                    <td ng-bind-html="item.REASON"></td>
                                                    <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadDetails('SAP_MATERIAL_DETAILS',1);">Continue</button>
                                        <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
