﻿<style>
    .prodImage {
        height: 170px;
        margin-right: -25px;
        margin-left: -25px;
        margin-top: -25px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    .editButtons {
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 80px;
        left: 0px;
    }

    .imageBox:hover .editButtons {
        display: block;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />

        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="SubEntityVendorMappingCtrl" style="height:700px;">
                <div class="col-md-12 white-box">
                    <!--<form name="addnewentityform">
                        <div class="row" style="margin-right:20px">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <label class="fg-label">Sub Entity<span style="color:red;">*</span></label>
                                <div class="fg-line">
                                    <input type="text" ng-model="list.subEntity" name="subentity" class="form-control fg-input" required />
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30 ">
                                <label>Vendor codes (Other than Brand)<span style="color:red;">*</span></label>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="list.companyvendors"
                                             options="vendor.userID as vendor.firstName+' '+vendor.lastName+ ' '+vendor.sapVendorCode for vendor in vendorsList"
                                             change="setFilters(currentPage-1)">

                                </multiselect>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30 ">
                                <button ng-click="saveProductSubEntity(list)" style="margin-top: 30px;" class="pull-right btn btn-info ng-scope">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </form>-->

                    <div class="row" style="margin-right:20px">
                        <button ng-if="!addnewEntityView" ng-click="editSubEntity(sub)" style="margin-bottom: 30px;" class="pull-right btn btn-info ng-scope">Add New SubEntity</button>
                    </div>
                    <div ng-if="addnewEntityView">
                        <div class="row" style="margin-right:20px">
                            <div class="col-md-12">
                                <div class="form-group fg-float col-md-4 m-b-30">
                                    <label class="fg-label">Sub Entity<span style="color:red;">*</span></label>
                                    <div class="fg-line">
                                        <input type="text" ng-model="list.subEntity" name="subentity" class="form-control fg-input" required />
                                    </div>

                                </div>
                                <div class="form-group fg-float col-md-4 m-b-30 ">
                                    <label>Vendor codes (Other than Brand)<span style="color:red;">*</span></label>
                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="list.companyvendors"
                                                 options="vendor.userID as vendor.firstName+' '+vendor.lastName+ ' '+vendor.sapVendorCode for vendor in vendorsList"
                                                 change="setFilters(currentPage-1)">

                                    </multiselect>
                                    <div ng-show="addnewentityform.$submitted || addnewentityform.vendorCodes.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addnewentityform.vendorCodes.$error.required ">Please select vendorCodes</div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center m-b-20">
                                    <button class="btn btn-info btn-file btn-new-look" ng-click="saveProductSubEntity(list)">Save</button>
                                    <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditSubEntity()">Cancel</button>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="width:20%">Sub Entity</th>
                                        <th style="width:40%">Vendors</th>
                                        <th style="width:20%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sub in productSubEntities.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td>{{sub.SUB_ENTITY_NAME}}</td>
                                        <td>{{sub.VENDOR_NAMES}}</td>
                                        <td data-title="'Actions'" sortable="'Actions'">
                                            <a title="Edit Sub entity" role="button" ng-click="editSubEntity(sub)" class="fa-edit fa" style="width:30px; height:30px"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

