﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="CatalogCompleteViewCtrl">
                <div class="row">
                    <ul class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="max-width:1170px; min-width:1170px;">
                                <div class="col-md-3 bold-font-prm">
                                    DEPARTMENTS
                                    <small ng-if="cr_UserDepartments.length > 0">({{cr_UserDepartments.length}}) <small role="button"><a>View All</a></small></small>
                                </div>
                                <div class="col-md-3 bold-font-prm">
                                    CATEGORIES
                                    <small ng-if="cr_DepartmentCategories.length > 0">({{cr_DepartmentCategories.length}}) <small role="button"><a>View All</a></small></small>
                                </div>
                                <div class="col-md-3 bold-font-prm">
                                    SUB CATEGORIES
                                    <small ng-if="cr_DepartmentCategories1.length > 0">({{cr_DepartmentCategories1.length}}) <small role="button"><a>View All</a></small></small>
                                </div>
                                <div class="col-md-3 bold-font-prm">
                                    PRODUCTS
                                    <small ng-if="cr_CategoryProducts.length > 0">({{cr_CategoryProducts.length}}) <small role="button"><a>View All</a></small></small>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row" style="overflow: auto; max-height: 400px; min-height:400px; max-width:1170px; min-width:1170px;">
                                <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                    <div class="row"
                                         ng-repeat="dept in cr_UserDepartments"
                                         style="border-bottom:1px solid white; padding:5px;"
                                         ng-style="dept.DEPT_ID == deptId && selectedStyle"
                                         ng-click="GetDepartmentCategories(dept.DEPT_ID);">
                                        <small>
                                            <a>&nbsp;{{dept.DEPT_CODE}}</a>
                                        </small>
                                        <!--<small class="pull-right" style="margin-top:1px;" ng-mouseover="GetDepartmentCategories(dept.DEPT_ID);">
                                            <i class="fas fa-caret-right"></i>
                                        </small>-->
                                    </div>
                                    <div class="row"
                                         style="border-bottom:1px solid white; padding:5px;"
                                         ng-style="0 == deptId && selectedStyle"
                                         ng-click="GetDepartmentCategories(0);">
                                        <small>
                                            <a>&nbsp;Categories Without Dept</a>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                    <div class="row"
                                         ng-repeat="cat in cr_DepartmentCategories"
                                         style="border-bottom:1px solid white; padding:5px;"
                                         ng-style="cat.CAT_ID == catId && selectedStyle"
                                         ng-click="GetCategorySubcategories(cat.CAT_ID);GetCategoryProducts(cat.CAT_ID);">
                                        <small>
                                            <a>&nbsp;{{cat.CAT_CODE}}</a>
                                        </small>
                                    </div>
                                </div>
                                <!--GetCategoryProducts(cat.CAT_ID);-->
                                <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                    <div class="row"
                                         ng-repeat="subCat in cr_DepartmentCategories1"
                                         style="border-bottom:1px solid white; padding:5px;"
                                         ng-style="subCat.CAT_ID == subCatId && selectedStyle"
                                         ng-click="GetCategoryProducts(subCat.CAT_ID);">
                                        <small>
                                            <a>&nbsp;{{subCat.CAT_CODE}}</a>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                    <div class="row"
                                         ng-repeat="prod in cr_CategoryProducts"
                                         style="border-bottom:1px solid white; padding:5px;"
                                         ng-style="prod.PROD_ID == prodId && selectedStyle"
                                         ng-click="GetProductDetails(prod.PROD_ID);ProductAnalysis(prod.PROD_ID)"
                                         ng-if="$index <= 1000"
                                         role="button">
                                        <small>
                                            <a>&nbsp;{{prod.PROD_NO}}</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-md-2">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                    Catalog
                                </a>
                                <div class="white-box dropdown-menu">
                                    <div class="row">
                                        <div class="col-md-3 text-center bold-font-prm">
                                            DEPARTMENTS
                                            <small ng-if="cr_UserDepartments.length > 0">({{cr_UserDepartments.length}}) <small role="button"><a>View All</a></small></small>
                                        </div>
                                        <div class="col-md-3 text-center bold-font-prm">
                                            CATEGORIES
                                            <small ng-if="cr_DepartmentCategories.length > 0">({{cr_DepartmentCategories.length}}) <small role="button"><a>View All</a></small></small>
                                        </div>
                                        <div class="col-md-3 text-center bold-font-prm">
                                            SUB CATEGORIES
                                            <small ng-if="cr_DepartmentCategories1.length > 0">({{cr_DepartmentCategories1.length}}) <small role="button"><a>View All</a></small></small>
                                        </div>
                                        <div class="col-md-3 text-center bold-font-prm">
                                            PRODUCTS
                                            <small ng-if="cr_CategoryProducts.length > 0">({{cr_CategoryProducts.length}}) <small role="button"><a>View All</a></small></small>
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    <div class="row"  style="overflow: auto; max-height: 400px; min-height:400px; max-width:1170px; min-width:1170px;">
                                        <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                            <div class="row"
                                                 ng-repeat="dept in cr_UserDepartments"
                                                 style="border-bottom:1px solid white; padding:5px;"
                                                 ng-style="dept.DEPT_ID == deptId && selectedStyle"
                                                 ng-mouseover="GetDepartmentCategories(dept.DEPT_ID);">
                                                <small>
                                                    <a>&nbsp;{{dept.DEPT_CODE}}</a>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                            <div class="row"
                                                 ng-repeat="cat in cr_DepartmentCategories"
                                                 style="border-bottom:1px solid white; padding:5px;"
                                                 ng-style="cat.CAT_ID == catId && selectedStyle"
                                                 ng-mouseover="GetCategorySubcategories(cat.CAT_ID);">
                                                <small>
                                                    <a>&nbsp;{{cat.CAT_CODE}}</a>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                            <div class="row"
                                                 ng-repeat="subCat in cr_DepartmentCategories1"
                                                 style="border-bottom:1px solid white; padding:5px;"
                                                 ng-style="subCat.CAT_ID == subCatId && selectedStyle"
                                                 ng-mouseover="GetCategoryProducts(subCat.CAT_ID);">
                                                <small>
                                                    <a>&nbsp;{{subCat.CAT_CODE}}</a>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-3 inner-scroll" style="overflow: auto; max-height: 400px; min-height:400px">
                                            <div class="row"
                                                 ng-repeat="prod in cr_CategoryProducts"
                                                 style="border-bottom:1px solid white; padding:5px;"
                                                 ng-style="prod.PROD_ID == prodId && selectedStyle"
                                                 ng-mouseover="GetProductDetails(prod.PROD_ID);"
                                                 ng-if="$index <= 1000"
                                                 role="button"
                                                 ng-click="ProductAnalysis(prod.PROD_ID)">
                                                <small>
                                                    <a>&nbsp;{{prod.PROD_CODE}}</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
