﻿<header id="header" data-ng-include="'template/header.html'"></header>
<style>
    .dropdown.dropdown-scroll .dropdown-menu {
        max-height: 200px;
        overflow: auto;
    }

    .search-control {
        padding: 5px 10px;
    }
</style>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="addnewstoreitemCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="box-title row">
                    <div class="col-md-2 pull-left">
                        <h3>Store Item</h3>
                    </div>
                    <div class="col-md-3 top-buffer pull-left forgotcolor" ng-hide="isValidToSubmit">
                        <span>Please fill all required fields marked (*).</span>
                    </div>

                    <div class="col-md-8 pull-right" ng-if="itemID > 0">

                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" data-ui-sref="storeitemproperties({compID:companyID, itemID:itemID})">Properties</button>
                        </div>
                        <div class="col-md-6 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" data-ui-sref="storeitemdetails({itemID:itemID})">Details (Serial, Warranty. etc.)</button>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <label class="fg-label" for="role">Category</label>
                        <!--<select chosen data-placeholder="Type" name="categoryType" ng-change="getSubCategories();" ng-model="storeItemsObj.itemType" required class="form-control">
                            <option value="{{category}}" ng-repeat="category in categories" ng-if="category && category!=''">{{category}}</option>
                        </select>-->
                        <div class="dropdown dropdown-scroll">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="prmellipsis" title="{{storeItemsObj.itemType}}">{{storeItemsObj.itemType}}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <div class="input-group input-group-sm search-control">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="query"></input>
                                    </div>
                                </li>
                                <li role="presentation" ng-repeat='category in categories | filter:query'>
                                    <a class="dropdown-link" ng-click="getSubCategories(category);"> {{category}} </a>
                                </li>
                            </ul>
                        </div>
                        <!--<div configkey="MATERIAL_TYPE" prm-config-select ng-model="storeItemsObj.itemType"></div>-->
                    </div>
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <label class="fg-label" for="role">Sub Category</label>
                        <!--<select chosen data-placeholder="Type" name="categoryType" ng-model="storeItemsObj.itemSubType" required class="form-control">
                            <option value="{{category.subcategory}}" ng-repeat="category in subCategories" ng-if="category.subcategory && category.subcategory!=''">{{category.subcategory}}</option>
                        </select>-->
                        <div class="dropdown dropdown-scroll">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="prmellipsis" title="{{storeItemsObj.itemSubType}}">{{storeItemsObj.itemSubType}}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <div class="input-group input-group-sm search-control">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="query"></input>
                                    </div>
                                </li>
                                <li role="presentation" ng-repeat='category in subCategories | filter:query'>
                                    <a class="dropdown-link" ng-click="storeItemsObj.itemSubType = category.subcategory" ng-if="category.subcategory && category.subcategory!=''"> {{category.subcategory}} </a>
                                </li>
                            </ul>
                        </div>
                        <!--<div configkey="ITEM_SUBCATEGORY" prm-config-select ng-model="storeItemsObj.itemSubType"></div>-->
                    </div>
                    <div class="fg-line col-md-2" ng-class="{'fg-toggled': (true || storeItemsObj.itemName)}">
                        <label class="fg-label">Item Code *</label>
                        <div class="dropdown">
                            <ul class="dropdown-menu scrollable-menu">
                                <li ng-repeat="uniqueItemName in uniqueItemNames"><a data-value="uniqueItemName.itemCode" ng-click="selectItemName(uniqueItemName, storeItemsObj)">{{uniqueItemName.itemCode}}</a></li>
                            </ul>
                            <input data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="text" class="form-control dropdown-toggle" ng-model="storeItemsObj.itemCode" name="itemCode" id="itemCode">
                        </div>
                    </div>
                    <div class="fg-line col-md-2" ng-class="{'fg-toggled': (true || storeItemsObj.itemName)}">
                        <label class="fg-label">Item Name *</label>
                        <div class="dropdown">
                            <input data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="text" class="form-control dropdown-toggle" ng-model="storeItemsObj.itemName" name="itemName" id="itemName">
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-4 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemDescription)}">
                            <label class="fg-label">Item Description *</label>
                            <textarea ng-model="storeItemsObj.itemDescription" id="ItemDescription" name="ItemDescriptionID" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <label class="fg-label">HSN Code</label>
                        <div class="dropdown">
                            <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="form-control" ng-model="storeItemsObj.hsnCode" name="hsnCode" id="hsnCode">
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <label class="fg-label" for="role">Item Units</label>
                        <div configkey="ITEM_UNITS" prm-config-select ng-model="storeItemsObj.itemUnits"></div>
                    </div>
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemPrice >= 0)}">
                            <label class="fg-label">Item Price *</label>
                            <input type="number" ng-model="storeItemsObj.itemPrice" name="itemPrice" id="itemPriceID" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line input-field">
                            <label class="fg-label" for="role">Item Taxes *</label>
                            <i class="mdi-social-person-outline prefix"></i>
                            <select chosen data-placeholder="Type" name="ItemType" ng-change="getTaxes(itemTax);" ng-model="itemTax" required class="form-control">
                                <option value="{{item.tax}}" ng-repeat="item in taxClassification">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-1 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.cGST >= 0)}">
                            <label class="fg-label">C-GST</label>
                            <input type="number" ng-model="storeItemsObj.cGST" name="cGST" id="cGSTID" class="form-control fg-input" />
                        </div>
                    </div>

                    <div class="form-group fg-float col-md-1 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.sGST >= 0)}">
                            <label class="fg-label">S-GST</label>
                            <input type="number" ng-model="storeItemsObj.sGST" name="sGST" id="sGST" class="form-control fg-input" />
                        </div>
                    </div>

                    <div class="form-group fg-float col-md-1 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.iGST >= 0)}">
                            <label class="fg-label">I-GST</label>
                            <input type="number" ng-model="storeItemsObj.iGST" name="iGST" id="iGSTID" class="form-control fg-input" number-input-val max="1000000" min="0" />
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.totalStock >= 0)}">
                            <label class="fg-label">Total Stock *</label>
                            <input type="text" ng-model="storeItemsObj.totalStock" ng-readonly="true" name="totalStock" id="totalStockID" class="form-control fg-input" ng-readonly="!showIsSuperUser()" />
                        </div>
                    </div>

                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.inStock >= 0)}">
                            <label class="fg-label">In-Stock *</label>
                            <input type="number" ng-model="storeItemsObj.inStock" name="inStock" id="inStockID" class="form-control fg-input" ng-readonly="!showIsSuperUser()" number-input-val max="1000000" min="0" />
                        </div>
                    </div>

                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.onOrder >= 0)}">
                            <label class="fg-label">On Order *</label>
                            <input type="number" ng-model="storeItemsObj.onOrder" name="onOrder" id="onOrder" class="form-control fg-input" number-input-val max="1000000" min="0" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.doAlert >= 0)}">
                            <label class="fg-label">Do-Alert</label>
                            <select chosen data-placeholder="doAlert" name="doAlert" ng-model="storeItemsObj.doAlert" required class="form-control">
                                <option value="0" ng-selected="storeItemsObj.doAlert == 0">NO</option>
                                <option value="1" ng-selected="storeItemsObj.doAlert == 1">YES</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group fg-float col-md-2 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.threshold >= 0)}">
                            <label class="fg-label">Threshold</label>
                            <input type="number" ng-model="storeItemsObj.threshold" name="threshold" id="thresholdID" class="form-control fg-input" number-input-val max="1000000" min="0" />
                        </div>
                    </div>

                </div>
                <div class="row text-center">
                    <button class="btn btn-info btn-file btn-new-look" ng-click="saveStoreItem()">Save Store Item</button>
                    <button class="btn btn-info btn-file btn-new-look" data-ui-sref="storeitems({storeID:storeID, itemID:0})">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.dropdown-menu').find('input').click(function (e) {
      e.stopPropagation();
    });

    $('.dropdown-link').click(function (e) {
        e.stopPropagation();
    });
</script>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>