﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="customFieldListCtrl">
                <div class="white-box">
                    <div class="row" style="margin-top:25px;">
                        <div class="col-md-12">
                            <table class="table table-striped"><!--table table-bordered table-striped-->
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>Field Name</th>
                                        <th>Field Type</th>
                                        <th>Field Module</th>
                                        <th>Is Required</th>
                                        <th>Default Value</th>
                                        <th>Is Read Only</th>
                                        <th>Visible to Vendor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in filteredcustomFieldList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td>
                                            {{field.FIELD_NAME}}
                                        </td>
                                        <td>
                                            {{field.FIELD_TYPE}}
                                        </td>
                                        <td>
                                            {{field.FIELD_MODULE}}
                                        </td>
                                        <td>
                                            {{field.IS_REQUIRED}}
                                        </td>
                                        <td>
                                            {{field.FIELD_DEFAULT_VALUE}}
                                        </td>
                                        <td>
                                            {{field.IS_READ_ONLY}}
                                        </td>
                                        <td>
                                            {{field.VISIBLE_TO_VENDOR}}
                                        </td>
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                            <a class="fa fa-edit" role="button" ng-click="goToCustomFieldSave(field)"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                    <!--</div>-->
                </div>

            </div>

        </div>

    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
