﻿<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!--<script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.src.js"></script>-->
        <div id="page-wrapper" style="height:95vh">
            <div class="container-fluid" data-ng-controller="averageProcureCtrl">
                <div class="white-box col-md-12 form-group">

                    <div class="col-md-12 text-center">
                        <h4><label>Procurement Average Time to Procure</label></h4>
                    </div>
                   
                    <div class="col-md-12">
                        <div class="col-md-4 white-box whiteBorders hoverTransition04">
                            <div id="container"></div>
                        </div>
                        <div class="col-md-8">
                            <label>Average Time to Procure</label>
                            <table class="table table-striped table-vmiddle ">
                                <thead>
                                    <tr>
                                        <th>
                                            Filter Order status:
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><p>&#10004;</td>
                                        <td>PO_0321</td>
                                        <td>1</td>
                                        <td>Shipped</td>
                                        <td>March 27,2020</td>

                                    </tr>
                                    <tr>
                                        <td><p>&#10004;</td>
                                        <td>PO_543</td>
                                        <td>2</td>
                                        <td>Shipped</td>
                                        <td>March 27,2020</td>

                                    </tr>
                                    <tr>
                                        <td><p>&#10004;</td>
                                        <td>PO_433</td>
                                        <td>3</td>
                                        <td>Shipped</td>
                                        <td>March 27,2020</td>

                                    </tr>
                                    <tr>
                                        <td><p>&#10004;</td>
                                        <td>PO_665</td>
                                        <td>4</td>
                                        <td>Shipped</td>
                                        <td>March 27,2020</td>

                                    </tr>
                                    <tr>
                                        <td><p>&#10004;</td>
                                        <td>PO_666</td>
                                        <td>5</td>
                                        <td>Shipped</td>
                                        <td>March 27,2020</td>

                                    </tr>
                                    <tr>
                                        <td><p>&#10004;</td>
                                        <td>PO_765</td>
                                        <td>6</td>
                                        <td>Shipped</td>
                                        <td>March 27,2020</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-4  hoverTransition04">
                                <div class="white-box whiteBorders">
                                    % of time sheets in need of correction/validation
                                    <div>
                                        <h4 style="color:black"> 33.85 %</h4>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4  hoverTransition04">
                                <div class="white-box whiteBorders">
                                    % of suppliers that are responsible for 80% of spend
                                    <div>
                                        <h4 style="color:black"> 11.9 % Last Month-11.40 % </h4>
                                        <!--<h3 style="color:aqua"></h3>-->
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4  hoverTransition04">
                                <div class="white-box whiteBorders">
                                    % of payable invoices without purchase order
                                    <div>
                                        <h4 style="color:black"> 11.79 %</h4>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <h3>% Of Invoice Disputed</h3>
                        <div class="col-md-3 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                <h4> Dispute <span style="color:black"> 1</span></h4>
                            </div>
                            
                        </div>
                        <div class="col-md-3 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                 <h4> Unpaid <span style="color:black"> 33</span></h4>
                            </div>
                            
                        </div>
                        <div class="col-md-3 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                     <h4> Paid <span style="color:black"> 5</span></h4>
                            </div>
                            
                        </div>
                        <div class="col-md-3 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                               
                                 <h4> Partially Paid <span style="color:black"> 5</span></h4>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

