﻿<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="supplierCtrl">
                <div class="white-box col-md-12 form-group">
                    <div class="col-md-3 hoverTransition04">
                        <div class="col-md-12 white-box whiteBorders">
                            <strong style="font-size:xx-large">1.9 %</strong> 
                                <span style="color:gray"><strong>Defect Rate</strong></span>
                            <!--<div class="col-md-4">
                                <img style="background-image: url(../js/resource/images/caution.png);">
                            </div>
                            <div class="col-md-8">
                                
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3 hoverTransition04">
                        <div class="col-md-12 white-box whiteBorders">
                            <strong style="font-size:xx-large">85.3 %</strong> 
                                <span style="color:gray"><strong>On-Time Supplies</strong></span>
                            <!--<div class="col-md-4">
                                <img style="background-image: url(../js/resource/images/caution.png);">
                            </div>
                            <div class="col-md-8">
                                <strong style="font-size:xx-large">85.3 %</strong> <br />
                                <span style="color:gray"><strong>On-Time Supplies</strong></span>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-md-3 hoverTransition04">
                        <div class="col-md-12 white-box whiteBorders">
                            <strong style="font-size:xx-large">93.5 %</strong> 
                                <span style="color:gray"><strong>Supplier Availability</strong></span>
                            <!--<div class="col-md-4">
                                <img style="background-image: url(../js/resource/images/caution.png);">
                            </div>
                            <div class="col-md-8">
                                <strong style="font-size:xx-large">93.5 %</strong> <br />
                                <span style="color:gray"><strong>Supplier Availability</strong></span>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3 hoverTransition04">
                        <div class="col-md-12 white-box whiteBorders">
                            <strong style="font-size:xx-large">5</strong>
                                <span style="color:gray"><strong>Lead Time (Days)</strong></span>
                            <!--<div class="col-md-4">
                                <img style="background-image: url(../js/resource/images/caution.png);">
                            </div>
                            <div class="col-md-8">
                                <strong style="font-size:xx-large">5</strong> <br />
                                <span style="color:gray"><strong>Lead Time (Days)</strong></span>
                            </div>-->
                        </div>
                    </div>


                    <div class="col-md-4 hoverTransition04 text-center">
                        <div class="white-box whiteBorders">
                            <label class="text-center">Supplier Defect Rate</label>
                            <hc-chart options="chartOptions" class="center-block text-center" ng-if="show"></hc-chart>
                            
                        </div>
                    </div>
                    <div class="col-md-4 hoverTransition04 text-center">
                        <div class="white-box whiteBorders">
                            <label class="text-center">Supplier Availability</label>
                            <hc-chart options="supplierAvailability" class="center-block text-center" ng-if="show1"></hc-chart>
                            
                        </div>
                    </div>
                    <div class="col-md-4 hoverTransition04 text-center">
                        <div class="white-box whiteBorders">
                            <label class="text-center">Lead Time (In Days)</label>
                            <hc-chart options="leadTime" class="center-block text-center" ng-if="show2"></hc-chart>
                            
                        </div>
                    </div>

                    <div class="col-md-6 hoverTransition04 text-center">
                        <div class="white-box whiteBorders">
                            <div id="container"></div>
                           
                        </div>
                    </div>
                    <div class="col-md-6 hoverTransition04 text-center">
                        <div class="white-box whiteBorders">
                            <div id="deliveryTime"></div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>